<mat-card appearance="raised" class="main-alert" attr.data-cy="main-alert:{{error.type}}" *ngIf="error">
  <mat-card-header>
    <mat-card-title>
      <tc-alert text="{{ error.label }}" [level]="error.type =='warning' ? 'warning' : 'error'"></tc-alert>
    </mat-card-title>
    <mat-card-subtitle *ngIf="error.errorId">
      <b>Error-Id:</b> {{error.errorId}} {{error.testMode ? '(test-mode: ' + error.testMode + ')' : ''}}
    </mat-card-subtitle>
    <button
      mat-icon-button
      class="main-alert-close-button"
      (click)="closeClick()"
      [matTooltip]="closeCaption || defaultCloseCaption || 'Schließen'"
    >
      <!-- this button was an explicit requirement, because people couldn't finde the button with the text "close" -->
      <mat-icon>close</mat-icon>
    </button>
  </mat-card-header>
  <mat-card-content>
    <div #ref><ng-content></ng-content></div>
    <div *ngIf="!ref.children.length">
      <ng-container [ngSwitch]="error.type">
        <ng-container *ngSwitchCase="'network'">
          Leider ist ein Verbindungsfehler aufgetreten.
          Prüfen Sie Ihre Internetverbindung, laden Sie die Seite neu und probieren es noch einmal.
        </ng-container>
        <ng-container *ngSwitchCase="'network_temporally'">
          Leider ist ein (vermutlich vorübergehender) Verbindungsfehler aufgetreten.
          Prüfen Sie Ihre Internetverbindung, laden Sie die Seite neu und probieren es noch einmal.
        </ng-container>
        <ng-container *ngSwitchCase="'session'">
          Haben Sie sich eventuell auf einem anderen Gerät oder Browserfenster angemeldet?
          Versuchen Sie, sich neu anzumelden.
        </ng-container>
        <ng-container *ngSwitchCase="'warning'">
        </ng-container>
        <ng-container *ngSwitchDefault>
          Es ist ein Programmfehler aufgetreten.
          Laden Sie die Seite neu und probieren es noch einmal. Sollte das Problem weiterhin bestehen bleiben,
          melden Sie es dem zuständigen Systemadministrator.
        </ng-container>
      </ng-container>
    </div>
    <div *ngIf="error.type === 'network_temporally'">
      <h3 *ngIf="restartTimer$ | async as second">
        Die Anwendung wird in {{ waitUnitAutomaticRestartSeconds - second }} Sekunden automatisch neu geladen.
      </h3>
    </div>

    <div id="error-report" *ngIf="errorDetailsOpen" #report>
      <h3 style="margin-top: 0">Fehlerbericht: {{error.label}}</h3>
      <p [innerHtml]="error.description"></p>

      <br>
      <p>{{error.details}}</p>

      <br>
      <p *ngIf="error.errorId"><b>Error-Id:</b> {{error.errorId}}</p>
      <p><b>Zeitpunkt:</b> {{timestamp | date:'medium'}}</p>
      <p><b>Url: </b>{{url}}</p>
      <p><b>Browser: </b>{{browser?.browser?.name}} {{browser?.browser?.version}}</p>
      <p><b>Betriebssystem: </b>{{browser?.os?.name}} {{browser?.os?.version}}</p>
      <p><b>Gerät: </b>{{browser?.device?.type}} {{browser?.device?.vendor}} {{browser?.device?.model}}</p>
      <p *ngFor="let item of additionalReport | keyvalue">
        <b>{{item.key}}: </b>{{item.value}}
      </p>

      <br *ngIf="errorBuffer.length">
      <p *ngIf="errorBuffer.length"><b>Weitere Fehler:</b></p>
      <div *ngFor="let err of errorBuffer">
        <p><b>{{err.label}}: </b>{{err.description}}</p>
        <p>{{err.details}}</p>
        <p *ngIf="err.errorId"><b>Error-Id:</b> {{err.errorId}}</p>
      </div>
    </div>

    <div *ngIf="errorDetailsOpen">
      <small *ngIf="!sendingResult; else: sendingResultBox">
        Durch den Click auf "Fehlerbericht senden" erkläre ich mich einverstanden, dass obiger Fehlerbericht
        an den Hersteller gesendet wird. Es kann dabei dazu kommen, dass die Daten auf Servern Dritter gespeichert
        werden. Es werden ausschließlich die im roten Kästchen zu findenden Informationen übertragen.
      </small>
      <ng-template #sendingResultBox>
        <tc-alert [level]="sendingResult.success ? 'success' : 'warning'" text="{{sendingResult.message}}"></tc-alert>
        <a *ngIf='sendingResult.uri' target="_blank" href="{{sendingResult.uri}}">Ansehen</a>
      </ng-template>
    </div>
  </mat-card-content>

  <mat-card-actions [style.justify-content]="'space-between'">

    <button
      *ngIf="allowErrorDetails && !errorDetailsOpen"
      mat-raised-button
      (click)="toggleErrorDetails()"
    >
      Fehlerbericht
    </button>

    <div>
      <button
        *ngIf="!sendingResult && errorDetailsOpen"
        mat-raised-button
        color="accent"
        (click)="submitReport()"
      >
        Fehlerbericht Senden
      </button>

      <button
        *ngIf="errorDetailsOpen"
        mat-raised-button
        color="accent"
        (click)="downloadReport()"
      >
        Fehlerbericht Herunterladen
      </button>
    </div>

    <button
      mat-raised-button
      color="primary"
      (click)="closeClick()"
      data-cy="close"
    >
      {{closeCaption || defaultCloseCaption || 'Schließen'}}
    </button>
  </mat-card-actions>
</mat-card>