:host {
  display: contents;
}

#error-report {
  overflow: auto;
  border: 2px solid #821324;
  background: #821324;
  color: white;
  border-radius: 4px;
  padding: 4px;
  margin-top: 0.5em;
  height: 300px; /* TODO use dynamic height for small screens */
  font-family: monospace;
}

#error-report p {
  margin-top: 2px;
  margin-bottom: 2px;
}

.mat-card-box {
  background-color: var(--tc-box-background)
}

.main-alert {
  width: 850px;
  max-width: 90%;
  max-height: 80%;
  margin-top: 100px;
  background-color: white;
}


mat-card-title {
  font-size: 24px;
  font-weight: 500;
}

.main-alert-close-button {
  position: absolute !important;
  right: 3px;
  top: 3px;
}