apiVersion: batch/v1
kind: Job
metadata:
  name: {{ .Release.Name }}-backend-container-init
  annotations:
    "helm.sh/hook": post-install,post-upgrade,post-rollback
spec:
  template:
    spec:
      containers:
        - name: {{ .Release.Name }}-backend-container-init
          image: "{{ .Values.image.backend.registryPath }}iqbberlin/testcenter-backend:{{ .Values.image.backend.tag | default .Chart.AppVersion }}"
          command: ["/initialize_only.sh"]
          env:
            - name: MYSQL_DATABASE
              value: "iqb_tba_testcenter"
            - name: MYSQL_USER
              valueFrom:
                secretKeyRef:
                  name: {{ .Release.Name }}-backend-secrets
                  key: MYSQL_USER
            - name: MYSQL_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ .Release.Name }}-backend-secrets
                  key: MYSQL_PASSWORD
            - name: MYSQL_HOST
              value: "{{ .Release.Name }}-db"
            - name: MYSQL_PORT
              value: "3306"
            - name: PASSWORD_SALT
              valueFrom:
                secretKeyRef:
                  name: {{ .Release.Name }}-backend-secrets
                  key: PASSWORD_SALT
            - name: BROADCAST_SERVICE_ENABLED
              valueFrom:
                configMapKeyRef:
                  name: {{ .Release.Name }}-backend-config
                  key: BROADCAST_SERVICE_ENABLED
            - name: FILE_SERVICE_ENABLED
              valueFrom:
                configMapKeyRef:
                  name: {{ .Release.Name }}-backend-config
                  key: FILE_SERVICE_ENABLED
            - name: HOSTNAME
              valueFrom:
                configMapKeyRef:
                  name: {{ .Release.Name }}-backend-config
                  key: HOSTNAME
            - name: TLS_ENABLED
              valueFrom:
                configMapKeyRef:
                  name: {{ .Release.Name }}-backend-config
                  key: TLS_ENABLED
            - name: CACHE_SERVICE_INCLUDE_FILES
              valueFrom:
                configMapKeyRef:
                  name: {{ .Release.Name }}-backend-config
                  key: CACHE_SERVICE_INCLUDE_FILES
            - name: CACHE_SERVICE_RAM
              valueFrom:
                configMapKeyRef:
                  name: {{ .Release.Name }}-backend-config
                  key: CACHE_SERVICE_RAM
            - name: PORT_OF_REVERSE_PROXY
              valueFrom:
                configMapKeyRef:
                  name: {{ .Release.Name }}-backend-config
                  key: PORT_OF_REVERSE_PROXY
            - name: TLS_PORT_OF_REVERSE_PROXY
              valueFrom:
                configMapKeyRef:
                  name: {{ .Release.Name }}-backend-config
                  key: TLS_PORT_OF_REVERSE_PROXY
            - name: SKIP_READ_FILES
              value: "no"
            - name: SKIP_DB_INTEGRITY
              value: "no"
            - name: OVERWRITE_INSTALLATION
              value: "no"
            - name: NO_SAMPLE_DATA
              value: "no"
          volumeMounts:
            - name: backend-volume
              mountPath: /var/www/testcenter/data
            - name: backend-config-volume
              mountPath: /var/www/testcenter/backend/config
      volumes:
        - name: backend-volume
          persistentVolumeClaim:
            claimName: {{ .Release.Name }}-backend-pvc
        - name: backend-config-volume
          persistentVolumeClaim:
            claimName: {{ .Release.Name }}-backend-config-pvc
      restartPolicy: Never