apiVersion: batch/v1
kind: Job
metadata:
  name: {{ .Release.Name }}-backend-container-seed
  annotations:
    "helm.sh/hook": post-install,post-upgrade,post-rollback
spec:
  template:
    spec:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 2000
        fsGroup: 3000
        seccompProfile:
          type: RuntimeDefault
      containers:
        - name: {{ .Release.Name }}-backend-container-seed
          image: "{{ .Values.image.backend.registryPath }}iqbberlin/testcenter-backend:{{ .Values.image.backend.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.backend.imagePullPolicy }}
          securityContext:
            runAsUser: 33
            runAsGroup: 33
            privileged: false
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - ALL
          command: [ "bash", "/initialize_only.sh" ]
          env:
            - name: BROADCASTER_ENABLED
              valueFrom:
                configMapKeyRef:
                  name: {{ .Release.Name }}-backend-config
                  key: BROADCASTER_ENABLED
            - name: FILE_SERVER_ENABLED
              valueFrom:
                configMapKeyRef:
                  name: {{ .Release.Name }}-backend-config
                  key: FILE_SERVER_ENABLED
            - name: REDIS_HOST
              value: "{{ .Release.Name }}-cache-server"
            - name: REDIS_PORT
              value: "6379"
            - name: REDIS_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ .Release.Name }}-backend-secret
                  key: REDIS_PASSWORD
            - name: REDIS_CACHE_FILES
              valueFrom:
                configMapKeyRef:
                  name: {{ .Release.Name }}-backend-config
                  key: REDIS_CACHE_FILES
            - name: MYSQL_HOST
              value: "{{ .Release.Name }}-db"
            - name: MYSQL_PORT
              value: "3306"
            - name: MYSQL_DATABASE
              value: "iqb_tba_testcenter"
            - name: MYSQL_USER
              valueFrom:
                secretKeyRef:
                  name: {{ .Release.Name }}-backend-secret
                  key: MYSQL_USER
            - name: MYSQL_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ .Release.Name }}-backend-secret
                  key: MYSQL_PASSWORD
            - name: PASSWORD_SALT
              valueFrom:
                secretKeyRef:
                  name: {{ .Release.Name }}-backend-secret
                  key: PASSWORD_SALT
            - name: SKIP_READ_FILES
              value: "no"
            - name: SKIP_DB_INTEGRITY
              value: "no"
            - name: OVERWRITE_INSTALLATION
              value: "no"
            - name: NO_SAMPLE_DATA
              value: "no"
          volumeMounts:
            - name: backend-volume
              mountPath: /var/www/testcenter/data
            - name: backend-config-volume
              mountPath: /var/www/testcenter/backend/config
      volumes:
        - name: backend-volume
          persistentVolumeClaim:
            claimName: {{ .Release.Name }}-backend-pvc
        - name: backend-config-volume
          persistentVolumeClaim:
            claimName: {{ .Release.Name }}-backend-config-pvc
      restartPolicy: Never