:host {
  margin: 0 auto;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-section {
  display: flex;
}

.selected-values {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 24px;

  fieldset {
    display: flex;
    gap: 12px;
    border-radius: 4px;

    button.mat-mdc-fab {
      width: 80px;
      height: 80px;
      background-color: var(--mat-sys-secondary);

      &.filled {
        background-color: var(--mat-sys-primary);
      }

      &.active {
        border: 5px solid var(--mat-sys-primary);
      }
    }

    mat-icon {
      width: 58px;
      height: 58px;
    }
  }
}

.button-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;

  mat-icon {
    width: 60px;
    height: 60px;
  }
}

button.mat-mdc-fab {
  box-shadow: none;
  background-color: var(--mat-sys-primary);
  color: var(--mat-sys-on-primary);
  width: 80px;
  height: 80px;
  font-size: 42px;
  font-weight: 700;

  &.delete-button {
    width: 58px;
    height: 58px;
    background-color: var(--mat-sys-error);
    font-size: unset;
  }
}

.alt-design {
  &.selected-values {
    margin-top: 40px;
    justify-content: center;

    img {
      width: 68px;
      height: 68px;
    }

    fieldset {
      border: none;

      legend {
        display: none;
      }

      button.mat-mdc-fab {
        background-color: white;
        width: 110px;
        height: 110px;
      }
    }
  }

  &.button-grid {
    button.mat-mdc-fab {
      border-radius: 40px;
      background-color: white;
      box-shadow: 10px 5px 5px gray;
      width: 90px;
      height: 90px;

      img {
        width: 68px;
        height: 68px;
      }
    }
  }
}

.spacer {
  width: 58px;
}

//Fix icon alignment on buttons
mat-icon svg {
  width: inherit;
  height: inherit;
}
