apiVersion: v1
kind: Service
metadata:
  name: testcenter-file-server-service # !!! hard coded in application as internal address !!!
spec:
  selector:
    app: {{ .Release.Name }}-file-server-pod
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80
