<div class="columnhost">
  <div class="filelist">
    <mat-progress-bar mode="indeterminate" *ngIf="!files"></mat-progress-bar>
    <mat-accordion class="example-headers-align" multi="true">
      <ng-container *ngFor="let type of fileTypes">
        <mat-expansion-panel [expanded]="true" *ngIf="files && files[type].data.length">
          <mat-expansion-panel-header>
            <mat-panel-title class="table-header">{{ typeLabels[type] }}</mat-panel-title>
            <mat-panel-description>
              <span>{{ files[type].data.length }} Datei{{ files[type].data.length === 1 ? '' : 'en' }}</span>
              <span *ngIf="fileStats.invalid[type]">, davon {{ fileStats.invalid[type] }} Fehlerhaft</span>
              <span *ngIf="type=='Testtakers'">, {{ fileStats.testtakers }} Teilnehmer</span>
            </mat-panel-description>
          </mat-expansion-panel-header>

          <mat-table [dataSource]="files[type]" matSort (matSortChange)="setTableSorting($event)">
            <ng-container matColumnDef="checked">
              <mat-header-cell *matHeaderCellDef class="checkboxcell">
                <mat-checkbox
                  [attr.data-cy]="'files-checkAll-' + type"
                  (change)="checkAll($event.checked, type)"
                  [disabled]="!enableInteraction"
                ></mat-checkbox>
              </mat-header-cell>
              <mat-cell *matCellDef="let element" class="checkboxcell" >
                <mat-checkbox
                  [attr.data-cy]="'files-checkbox-' + element.id"
                  [checked]="element.isChecked"
                  (change)="element.isChecked=$event.checked"
                  [disabled]="!enableInteraction"
                ></mat-checkbox>
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="name">
              <mat-header-cell *matHeaderCellDef mat-sort-header class="namecell">Dateiname</mat-header-cell>
              <mat-cell *matCellDef="let element" class="namecell">
                <div class="file-report">
                  <button mat-button [attr.data-cy]="element.name" (click)="download(element)">{{element.name}}</button>
                  <span class="vertical-align-middle">
                    <ng-container *ngIf="element.report.error && element.report.error?.length; else: noError">
                      <mat-icon class="report-error">error</mat-icon>
                    </ng-container>
                    <ng-template #noError>
                      <ng-container *ngIf="(element.report.warning && element.report.warning?.length) || !getDependenciesOfFile(element).length">
                        <mat-icon class="report-warning">warning</mat-icon>
                      </ng-container>
                    </ng-template>
                  </span>
                  <mat-card
                    *ngIf="element.info.label || (element.id && element.id !== element.name.toUpperCase()) ||
                    element.info.testtakers || element.report.hasOwnProperty('info') || element.report.hasOwnProperty('warning')
                    || element.report.hasOwnProperty('error') || !getDependenciesOfFile(element).length"
                    appearance="raised" class="full-file-report">
                    <mat-card-header *ngIf="element.info.label || element.id">
                      <mat-card-title>
                        {{ element.info.label }}
                        <span
                          *ngIf="element.id !== element.name.toUpperCase()"
                          style="{{element.info.label ? 'color:silver' : ''}}">
                          #{{ element.id }}
                        </span>
                      </mat-card-title>
                      <mat-card-subtitle>{{ element.info.description }}</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content >
                      <tc-alert level="info" *ngIf="element.info.testtakers" text="{{element.info.testtakers}} Teilnehmer definiert"></tc-alert>
                      <div *ngIf="!getDependenciesOfFile(element).length && !(element.type == 'SysCheck' || element.type == 'Testtakers')">
                        <tc-alert [level]="'warning'" [text]="element.type + ' is never used.'"></tc-alert>
                      </div>
                      <ng-container *ngFor="let level of ['error', 'warning', 'info']">
                        <div *ngFor="let message of element.report?.[level]">
                          <tc-alert [level]="level" [text]="message"></tc-alert>
                        </div>
                      </ng-container>
                    </mat-card-content>
                  </mat-card>
                </div>
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="modificationTime">
              <mat-header-cell *matHeaderCellDef mat-sort-header class="datecell"> Letzte Änderung</mat-header-cell>
              <mat-cell *matCellDef="let element" class="datecell">
                {{ (element.modificationTime * 1000) | date: 'dd.MM.yy HH:mm' }}
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="size">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Volle Größe</mat-header-cell>
              <mat-cell *matCellDef="let element" style="white-space: nowrap;">
                <mat-spinner *ngIf="!enableInteraction; else showSize" [diameter]="25" ></mat-spinner>
                <ng-template #showSize>{{ element.info.totalSize | bytes }}</ng-template>
              </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selectRow($event, row)"
              [class.selected-row]="selectedRow === row"
              [class.isDependency]="dependenciesOfRow.includes(row)"></mat-row>
          </mat-table>

        </mat-expansion-panel>
      </ng-container>
    </mat-accordion>
  </div>

  <div class="sidebar">
    <div class="buttons">
      <button
        color="primary"
        mat-raised-button
        (click)="deleteFiles()"
        matTooltip="Markierte Dateien löschen"
        matTooltipPosition="above"
        [disabled]="(wds.wsRole !== 'RW') || !files || !enableInteraction"
        data-cy="delete-files"
      >
        <mat-icon *ngIf="enableInteraction;else deleteSpinner">delete</mat-icon>
        <ng-template #deleteSpinner><mat-spinner [diameter]="15" ></mat-spinner></ng-template>
        Löschen
      </button>
      <button
        color="primary"
        mat-raised-button
        (click)="hiddenfileinput.click()"
        matTooltip="Dateien hochladen/aktualisieren"
        matTooltipPosition="above"
        [disabled]="(wds.wsRole !== 'RW') || (!!uploadQueue.files.length)"
        data-cy="upload-files"
      >
        <mat-icon>cloud_upload</mat-icon>
        Hochladen
      </button>
    </div>

    <input #hiddenfileinput type="file" name="fileforvo" multiple [iqbFilesUploadInputFor]="fileUploadQueue" [hidden]="true" data-cy="uplaod-file-select" />

    <tc-files-upload-queue #fileUploadQueue
      [fileAlias]="fileNameAlias"
      [folderName]="'ws'"
      [folder]="'workspace'"
      (uploadCompleteEvent)="updateFileList()">
    </tc-files-upload-queue>

    <tc-alert *ngIf="fileStats.total.invalid; else: workspaceValid" level="error" text="{{fileStats.total.invalid}}
      Datei{{fileStats.total.invalid == 1 ? '' : 'en'}} von {{fileStats.total.count}}
      {{fileStats.total.invalid == 1 ? 'ist' : 'sind'}} nicht valide oder
      {{fileStats.total.invalid == 1 ? 'hat' : 'haben'}} fehlende Abhängigkeiten
      und {{fileStats.total.invalid == 1 ? 'wird' : 'werden'}} ignoriert!">
    </tc-alert>
    <ng-template #workspaceValid>
      <tc-alert level="success" *ngIf="fileStats.total.count" text="Alle
        {{fileStats.total.count > 1 ? fileStats.total.count : ''}} Dateien im Arbeitsbereich sind Valide."></tc-alert>
      <tc-alert level="info" *ngIf="!fileStats.total.count" text="Dieser Arbeitsbereich enthält noch keine Dateien!"></tc-alert>
    </ng-template>

  </div>
</div>
