.subheading-2 {
  color: #003333;
  margin-bottom: 0.7em;
  margin-top: 1.7em;
  border-bottom: 1px solid silver;
}

.subheading-2.success {
  color: green
}

.subheading-2.error {
  color: #821324
}

.blinking {
  animation: blink 2s infinite;
}

@keyframes blink {
  from { opacity: 1.0; }
  50% { opacity: 0.5; }
  to { opacity: 1.0; }
}