<div class="flex-row" [style.justify-content]="'space-between'">
  <div class="flex-column" [style.width.%]="50">
    <div class="flex-row">
      <button
        mat-fab
        matTooltip="Administrator:in hinzufügen"
        matTooltipPosition="below"
        data-cy="add-user"
        (click)="addObject()"
      >
        <mat-icon>add</mat-icon>
      </button>
      <button
        mat-fab
        matTooltip="Markierte Administrator:in löschen"
        matTooltipPosition="below"
        data-cy="delete-user"
        [disabled]="!tableSelectionRow.hasValue()"
        (click)="deleteObject()"
      >
        <mat-icon>delete</mat-icon>
      </button>
      <button
        mat-fab
        data-cy="change-password"
        matTooltip="Kennwort ändern"
        matTooltipPosition="below"
        [disabled]="!tableSelectionRow.hasValue()"
        (click)="changePassword()"
      >
        <mat-icon>edit</mat-icon>
      </button>
      <button
        mat-fab
        data-cy="change-superadmin"
        matTooltip="Superadmin-Status ändern"
        matTooltipPosition="below"
        [disabled]="!tableSelectionRow.hasValue()"
        (click)="changeSuperadminStatus()"
      >
        <mat-icon>supervisor_account</mat-icon>
      </button>
    </div>

    <mat-progress-bar mode="indeterminate" *ngIf="!objectsDatasource"></mat-progress-bar>

    <mat-table [dataSource]="objectsDatasource" matSort>
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="table-header">Name</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.name}} {{element.isSuperadmin ? '*' : ''}}</mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selectRow(row)"
               [style.background]="tableSelectionRow.isSelected(row) ? 'lightblue' : ''"></mat-row>
    </mat-table>
  </div>

  <div class="flex-column" [style.width.%]="40">
    <div *ngIf="selectedUser < 0">
      <div>Zugriffsrechte für Arbeitsbereich(e):</div>
      <div>Bitte links Administrator:in wählen</div>
    </div>

    <div *ngIf="selectedUser > 0" class="flex-row" [style.justify-content]="'space-between'">
      <div>Zugriffsrechte für {{ selectedUserName }}:</div>
      <button
        mat-fab
        (click)="saveWorkspaces()"
        matTooltip="Speichern"
        matTooltipPosition="above"
        [disabled]="!pendingWorkspaceChanges"
        data-cy="save"
      >
        <mat-icon>save</mat-icon>
      </button>
    </div>

    <mat-table [dataSource]="workspacelistDatasource" matSort>
      <ng-container matColumnDef="selectCheckbox">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="table-header" style="white-space: nowrap;">Read | Write</mat-header-cell>
        <mat-cell *matCellDef="let row">
          <mat-checkbox
            [attr.data-cy]="'workspace-' + row.id + '-role-ro'"
            matTooltip="Nur Lesen"
            [checked]="row.role === 'RO' || row.role === 'RW'"
            (change)="selectPermissions(row, 'RO')"
          >
          </mat-checkbox>
          <mat-checkbox
            [attr.data-cy]="'workspace-' + row.id + '-role-rw'"
            matTooltip="Lesen und Schreiben"
            [checked]="row.role === 'RW'"
            (change)="selectPermissions(row, 'RW')"
          >
          </mat-checkbox>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="label">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="table-header">Arbeitsbereich</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedWorkspaceColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedWorkspaceColumns;"></mat-row>
    </mat-table>
  </div>
</div>
