div.booklet_title {
  font-size: 16pt;
  margin-top: 4px;
  margin-bottom: 0;
  white-space: pre-wrap;
  word-break: break-word;
  line-height: 130%;
}

div.booklet_status {
  font-size: 8pt;
  margin-top: 0;
  color: mediumturquoise;
  height: 24px;
  margin-bottom: 18px;
}

.mat-card {
  width: 400px;
}

.status-card {
  background-color: var(--tc-box-background)
}

.mat-card-content a {
  display: block;
}

.booklet_title {
  display: block;
  font-size: 16pt;
  margin-top: 4px;
  margin-bottom: 0;
  white-space: pre-wrap;
  word-break: break-word;
  line-height: 130%;
}

h4 {
  margin-bottom: 0.2em;
}

.booklet_status {
  display: block;
  font-size: 8pt;
  margin-top: 0;
  color: mediumturquoise;
  height: 24px;
  margin-bottom: 18px;
}
