div.booklet_title {
  font-size: 16pt;
  text-align: center;
  white-space: pre-wrap;
  word-break: break-word;
  line-height: 130%;
}

div.booklet_status {
  font-size: 8pt;
  margin-top: 0;
  color: mediumturquoise;
  text-align: center;
}

.mat-mdc-card {
  width: 400px;
}

.mat-mdc-raised-button.starter {
  padding: 1em;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

h4 {
  margin-bottom: 0.2em;
}