<div class="logo">
  <a [routerLink]="['/r']" aria-label="Gehe zur Startseite">
    <img [src]="mainDataService.appConfig?.mainLogo" data-cy="logo" matTooltip="Zur Startseite" alt="Logo der Anwendung"/>
  </a>
</div>

<div id="main-alert-container" *ngIf="showError">
  <error [onBeforeClose]="closeErrorBox.bind(this)"></error>
</div>

<router-outlet></router-outlet>

<!-- current css positioning demand this banner to come after <router-outlet> -->
<div
  id="el"
  class="browser-banner"
  *ngIf="unsupportedBrowser.length && showBrowserBanner"
  (click)="closeBanner()"
>
  <div class="browser-banner-inner">
    {{ 'Ihr Browser ist veraltet und könnte zu Fehlern führen. Bitte verwenden Sie eine aktuelle Version.' | customtext: 'login_unsupportedBrowserBanner' : unsupportedBrowser[0] : unsupportedBrowser[1]  | async }}
    <button>X</button>
  </div>
</div>

<div
  style="background: red; position: fixed; bottom: 4px; right: 4px; height: 4px; width: 4px; border-radius: 2px"
  *ngIf="mainDataService.isTestingMode"
></div>