mat-toolbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 8px;
}

.side {
  height: 100%;
  display: flex;
  align-items: center;
}

.center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.logo a {
  height: 100%;
}

.logo img {
  height: 100%;
}

h1 {
  color: var(--mat-sys-on-primary);
}

.account-button {
  background-color: var(--mat-sys-on-primary);
  color: var(--mat-sys-primary);
  border-radius: 12px;
}

.standalone-logo {
  height: 48px;
  position: absolute;
  top: 8px;
  right: 8px;
  z-index: 2;
}

:host ::ng-deep span.mat-mdc-button-persistent-ripple {
  border-radius: inherit;
}

.logout-dialog {
  display: flex;
  justify-content: space-between;
  align-items: center;

  img {
    width: 141px;
    height: 141px;
    object-fit: contain;
  }
}