VERSION=stable

# Ingress
HOSTNAME=localhost
HTTP_PORT=80
HTTPS_PORT=443
## Controls wether Traefik should handle TLS Certificates and listens on its HTTPS ports for incoming traffic
TLS_ENABLED=true
## Sets the scheme that the client uses to call the testcenter application. Usually, but not necessarily, has the same value as TLS_ENABLED
SECURE_SITE_SCHEME=true

# TLS Certificates Resolvers
## Choose '', if you handle certificates manually, or
## choose 'acme', if you want to use an ACME provider, like 'Let's Encrypt' or 'Sectigo'
TLS_CERTIFICATE_RESOLVER=
TLS_ACME_CA_SERVER=https://acme-v02.api.letsencrypt.org/directory
TLS_ACME_EAB_KID=
TLS_ACME_EAB_HMAC_ENCODED=
TLS_ACME_EMAIL=admin.name@organisation.org

# Images
## Dockerhub Proxy
DOCKERHUB_PROXY=
## Container Restart Policy. Allowed values are: no, always (default), on-failure, unless-stopped
RESTART_POLICY=always

# Services
## Backend
BROADCAST_SERVICE_ENABLED=true
FILE_SERVICE_ENABLED=true

### Cache Service
#### Allowed memory usage for cache in byte. 2147483648 = 2GB. Default is 1GB.
CACHE_SERVICE_RAM=1073741824
#### Should whole files be cached or only authentication tokens
CACHE_SERVICE_INCLUDE_FILES=false

### Security
PASSWORD_SALT=t

## Database
MYSQL_ROOT_PASSWORD=secret_root_pw
MYSQL_DATABASE=iqb_tba_testcenter
MYSQL_USER=iqb_tba_db_user
MYSQL_PASSWORD=iqb_tba_db_password

# Network
## MTU Setting. Default is 1500, but Openstack actually uses 1442
DOCKER_DAEMON_MTU=1500
