include:
  - template: Jobs/Dependency-Scanning.gitlab-ci.yml
  - local: scripts/gitlab-ci/tests.yml
  - local: scripts/gitlab-ci/docs.yml

gemnasium-dependency_scanning:
  rules:
    - if: $CI_PIPELINE_SOURCE == "external_pull_request_event"
    - if: $CI_PIPELINE_SOURCE == "web"
    - if: $CI_COMMIT_TAG

image: docker:23.0

variables:
  DOCKER_TLS_CERTDIR: ""

services:
  - name: docker:23.0-dind
    command: [ "--mtu=1442" ]

stages:
  - build
  - test
  - deploy

.backend-change:
  rules:
    - changes:
        - backend/**/*
        - scripts/database/**/*
        - definitions/**/*

.frontend-change:
  rules:
    - changes:
        - frontend/**/*
        - common/**/*

.bs-change:
  rules:
    - changes:
        - broadcasting-service/**/*
        - common/**/*

.fs-change:
  rules:
    - changes:
        - scripts/file-service/**/*

build-backend:
  stage: build
  rules:
    - !reference [ .backend-change, rules ]
    - if: $CI_PIPELINE_SOURCE == "external_pull_request_event" || $CI_PIPELINE_SOURCE == "web"
    - if: "$CI_COMMIT_TAG"
    - changes:
        - e2e/**/*
  before_script:
    - echo "$DOCKERHUB_PASSWORD" | docker login -u "$DOCKERHUB_USERNAME" --password-stdin
  script:
    - apk add make
    - make init
    - make build service=testcenter-backend
    - docker push iqbberlin/testcenter-backend:dev

build-frontend:
  stage: build
  rules:
    - !reference [ .frontend-change, rules ]
    - if: $CI_PIPELINE_SOURCE == "external_pull_request_event" || $CI_PIPELINE_SOURCE == "web"
    - if: "$CI_COMMIT_TAG"
    - changes:
        - e2e/**/*
  before_script:
    - echo "$DOCKERHUB_PASSWORD" | docker login -u "$DOCKERHUB_USERNAME" --password-stdin
  script:
    - apk add make
    - make init
    - make build service=testcenter-frontend
    - docker push iqbberlin/testcenter-frontend:dev

build-broadcasting-service:
  stage: build
  rules:
    - !reference [ .bs-change, rules ]
    - if: $CI_PIPELINE_SOURCE == "external_pull_request_event" || $CI_PIPELINE_SOURCE == "web"
    - if: "$CI_COMMIT_TAG"
    - changes:
        - e2e/**/*
  before_script:
    - echo "$DOCKERHUB_PASSWORD" | docker login -u "$DOCKERHUB_USERNAME" --password-stdin
  script:
    - apk add make
    - make init
    - make build service=testcenter-broadcasting-service
    - docker push iqbberlin/testcenter-broadcasting-service:dev

build-file-service:
  stage: build
  rules:
    - !reference [ .fs-change, rules ]
    - if: $CI_PIPELINE_SOURCE == "external_pull_request_event" || $CI_PIPELINE_SOURCE == "web"
    - if: "$CI_COMMIT_TAG"
    - changes:
        - e2e/**/*
  before_script:
    - echo "$DOCKERHUB_PASSWORD" | docker login -u "$DOCKERHUB_USERNAME" --password-stdin
  script:
    - apk add make
    - make init
    - make build service=testcenter-file-service
    - docker push iqbberlin/testcenter-file-service

build-backend-prod:
  stage: deploy
  rules:
    - if: "$CI_COMMIT_TAG"
  cache:
    paths:
      - .trivycache/
  before_script:
    - echo "$DOCKERHUB_PASSWORD" | docker login -u "$DOCKERHUB_USERNAME" --password-stdin
  script:
    - apk add make
    - make init
    - docker build --no-cache --target prod -t iqbberlin/testcenter-backend:$CI_COMMIT_TAG -f backend/Dockerfile .
    - |
      docker run --rm \
      -v /.trivycache/:/.trivycache/ -v /builds/iqb/testcenter/:/root/ -v /var/run/docker.sock:/var/run/docker.sock \
      aquasec/trivy image --exit-code 0 -q --timeout 20m --cache-dir .trivycache/ --security-checks vuln \
      --format template --template "@contrib/gitlab.tpl" -o /root/gl-container-scanning-report.json \
      iqbberlin/testcenter-backend:$CI_COMMIT_TAG
    - docker push iqbberlin/testcenter-backend:$CI_COMMIT_TAG
  artifacts:
    reports:
      container_scanning: gl-container-scanning-report.json

build-frontend-prod:
  stage: deploy
  rules:
    - if: "$CI_COMMIT_TAG"
  cache:
    paths:
      - .trivycache/
  before_script:
    - echo "$DOCKERHUB_PASSWORD" | docker login -u "$DOCKERHUB_USERNAME" --password-stdin
  script:
    - apk add make curl
    - make init
    - docker build --no-cache --target prod -t iqbberlin/testcenter-frontend:$CI_COMMIT_TAG -f docker/frontend.Dockerfile .
    - |
      docker run --rm \
      -v /.trivycache/:/.trivycache/ -v /builds/iqb/testcenter/:/root/ -v /var/run/docker.sock:/var/run/docker.sock \
      aquasec/trivy image --exit-code 0 -q --timeout 20m --cache-dir .trivycache/ --security-checks vuln \
      --format template --template "@contrib/gitlab.tpl" -o /root/gl-container-scanning-report.json \
      iqbberlin/testcenter-frontend:$CI_COMMIT_TAG
    - docker push iqbberlin/testcenter-frontend:$CI_COMMIT_TAG
  artifacts:
    reports:
      container_scanning: gl-container-scanning-report.json

build-broadcasting-service-prod:
  stage: deploy
  rules:
    - if: "$CI_COMMIT_TAG"
  cache:
    paths:
      - .trivycache/
  before_script:
    - echo "$DOCKERHUB_PASSWORD" | docker login -u "$DOCKERHUB_USERNAME" --password-stdin
  script:
    - apk add make curl
    - make init
    - docker build --no-cache --target prod -t iqbberlin/testcenter-broadcasting-service:$CI_COMMIT_TAG -f broadcasting-service/Dockerfile .
    - |
      docker run --rm \
      -v /.trivycache/:/.trivycache/ -v /builds/iqb/testcenter/:/root/ -v /var/run/docker.sock:/var/run/docker.sock \
      aquasec/trivy image --exit-code 0 -q --timeout 20m --cache-dir .trivycache/ --security-checks vuln \
      --format template --template "@contrib/gitlab.tpl" -o /root/gl-container-scanning-report.json \
      iqbberlin/testcenter-broadcasting-service:$CI_COMMIT_TAG
    - docker push iqbberlin/testcenter-broadcasting-service:$CI_COMMIT_TAG
  artifacts:
    reports:
      container_scanning: gl-container-scanning-report.json

build-file-service-prod:
  stage: deploy
  rules:
    - if: "$CI_COMMIT_TAG"
  cache:
    paths:
      - .trivycache/
  before_script:
    - echo "$DOCKERHUB_PASSWORD" | docker login -u "$DOCKERHUB_USERNAME" --password-stdin
  script:
    - apk add make curl
    - make init
    - docker build --no-cache -t iqbberlin/testcenter-file-service:$CI_COMMIT_TAG -f docker/file-service.Dockerfile .
    - |
      docker run --rm \
      -v /.trivycache/:/.trivycache/ -v /builds/iqb/testcenter/:/root/ -v /var/run/docker.sock:/var/run/docker.sock \
      aquasec/trivy image --exit-code 0 -q --timeout 20m --cache-dir .trivycache/ --security-checks vuln \
      --format template --template "@contrib/gitlab.tpl" -o /root/gl-container-scanning-report.json \
      iqbberlin/testcenter-file-service:$CI_COMMIT_TAG
    - docker push iqbberlin/testcenter-file-service:$CI_COMMIT_TAG
  artifacts:
    reports:
      container_scanning: gl-container-scanning-report.json
