# IDEs and editors
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# data-dir
/data
/data-*

# backend-dependencies
/backend/vendor

# backend installation remains, if running locally
/backend/composer.phar
/backend/auth.json

# backend config (when running locally)
/backend/config/config.ini
/.htaccess

# frontend config
/frontend/src/environments/environment.ts

# test config
/test/config.json

# dist
/frontend/dist
/frontend/tmp
/frontend/out-tsc
/broadcasting-service/dist
/dist

# dev dependencies
/node_modules
*/node_modules

# tmp
/tmp
/docs/dist
/frontend/.angular

# env
.env.dev
.env.prod

# cypress
/e2e/cypress/videos
/e2e/cypress/screenshots
/e2e/cypress/downloads
/e2e/cypress/results
/e2e/.nyc_output
/e2e/.coverage

# helm
custom-values.yaml

# additional scripts
/testcenter-scripts