# composer
vendor
composer.phar

# data folder
vo_data/*
!vo_data/.gitkeep

# IDE stuff
testcenter-iqb-php.iml
.idea
.vscode

# integration
integration/node_modules
integration/tmp
docs/api_doc_files/lib
!docs/api_doc_files/lib/.gitkeep

# config
config/DBConnectionData.json

# legacy
logs/*
trash
