image: docker:20.10

variables:
 DOCKER_TLS_CERTDIR: ""

services:
 - docker:20.10-dind

stages:
  - build
  - test
  - deploy

.backend-change:
  rules:
    - changes:
      - backend/**/*
      - database/**/*
      - definitions/**/*

.frontend-change:
  rules:
    - changes:
      - frontend/**/*
      - common/**/*

.bs-change:
  rules:
    - changes:
      - broadcasting-service/**/*
      - common/**/*

build-backend:
  stage: build
  rules:
    - !reference [.backend-change, rules]
    - if: $CI_PIPELINE_SOURCE == "external_pull_request_event" || $CI_PIPELINE_SOURCE == "web"
    - changes:
      - e2e/**/*
  script:
    - apk add make curl
    - curl -SL https://github.com/docker/compose/releases/download/v2.6.0/docker-compose-linux-x86_64 -o /usr/local/bin/docker-compose
    - chmod +x /usr/local/bin/docker-compose
    - make init
    - make build service=testcenter-backend
    - docker save iqbberlin/testcenter-backend > backend_image.tar
  artifacts:
    paths:
      - backend_image.tar
    expire_in: 30 minutes

build-frontend:
  stage: build
  rules:
    - !reference [.frontend-change, rules]
    - if: $CI_PIPELINE_SOURCE == "external_pull_request_event" || $CI_PIPELINE_SOURCE == "web"
    - changes:
      - e2e/**/*
  script:
    - apk add make curl
    - curl -SL https://github.com/docker/compose/releases/download/v2.6.0/docker-compose-linux-x86_64 -o /usr/local/bin/docker-compose
    - chmod +x /usr/local/bin/docker-compose
    - make init
    - make build service=testcenter-frontend
    - docker save iqbberlin/testcenter-frontend > frontend_image.tar
  artifacts:
    paths:
      - frontend_image.tar
    expire_in: 30 minutes

build-broadcasting-service:
  stage: build
  rules:
    - !reference [.bs-change, rules]
    - if: $CI_PIPELINE_SOURCE == "external_pull_request_event" || $CI_PIPELINE_SOURCE == "web"
    - changes:
        - e2e/**/*
  script:
    - apk add make curl
    - curl -SL https://github.com/docker/compose/releases/download/v2.6.0/docker-compose-linux-x86_64 -o /usr/local/bin/docker-compose
    - chmod +x /usr/local/bin/docker-compose
    - make init
    - make build service=testcenter-broadcasting-service
    - docker save iqbberlin/testcenter-broadcasting-service > bs_image.tar
  artifacts:
    paths:
      - bs_image.tar
    expire_in: 30 minutes

test-backend-unit:
  stage: test
  rules:
    - !reference [.backend-change, rules]
    - if: $CI_PIPELINE_SOURCE == "external_pull_request_event" || $CI_PIPELINE_SOURCE == "web"
  needs:
    - job: build-backend
      artifacts: true
  script:
    - apk add make docker-compose
    - make init
    - docker load -i backend_image.tar
    - make test-backend-unit

test-frontend-unit:
  stage: test
  rules:
    - !reference [.frontend-change, rules]
    - if: $CI_PIPELINE_SOURCE == "external_pull_request_event" || $CI_PIPELINE_SOURCE == "web"
  needs:
    - job: build-frontend
      artifacts: true
  script:
    - apk add make docker-compose
    - make init-env
    - make init-frontend
    - docker load -i frontend_image.tar
    - make test-frontend-unit

test-broadcasting-service-unit:
  stage: test
  rules:
    - !reference [.bs-change, rules]
  needs:
    - job: build-broadcasting-service
      artifacts: true
  script:
    - apk add make docker-compose
    - make init-env
    - docker load -i bs_image.tar
    - make test-broadcasting-service-unit

test-e2e:
  stage: test
  rules:
    - if: $CI_PIPELINE_SOURCE == "external_pull_request_event" || $CI_PIPELINE_SOURCE == "web"
    - changes:
      - e2e/**/*
  needs:
    - job: build-frontend
      artifacts: true
    - job: build-backend
      artifacts: true
    - job: build-broadcasting-service
      artifacts: true
  script:
    - apk add make
    - docker load -i frontend_image.tar
    - docker load -i backend_image.tar
    - docker load -i bs_image.tar
    - make test-system-headless
  artifacts:
    when: always
    paths:
      - cypress/videos/**/*.mp4
      - cypress/screenshots/**/*.png
    expire_in: 1 day

test-backend-api:
  stage: test
  rules:
    - !reference [.backend-change, rules]
    - if: $CI_PIPELINE_SOURCE == "external_pull_request_event" || $CI_PIPELINE_SOURCE == "web"
  needs:
    - job: build-backend
      artifacts: true
  script:
    - apk add make
    - make init
    - make test-backend-api

test-backend-initialization:
  stage: test
  rules:
    - if: $CI_PIPELINE_SOURCE == "external_pull_request_event" || $CI_PIPELINE_SOURCE == "web"
  needs:
    - job: build-backend
      artifacts: true
  script:
    - apk add make
    - make init
    - make test-backend-initialization-general

deploy-tagged-docker-image:
  stage: deploy
  rules:
    - if: "$CI_COMMIT_TAG"
  script:
    - apk add make curl
    - curl -SL https://github.com/docker/compose/releases/download/v2.6.0/docker-compose-linux-x86_64 -o /usr/local/bin/docker-compose
    - chmod +x /usr/local/bin/docker-compose
    - make init
    - docker build --target prod -t iqbberlin/testcenter-backend:$CI_COMMIT_TAG -f backend/docker/Dockerfile .
    - docker build --target prod -t iqbberlin/testcenter-frontend:$CI_COMMIT_TAG -f frontend/docker/Dockerfile .
    - docker build --target prod -t iqbberlin/testcenter-broadcasting-service:$CI_COMMIT_TAG -f broadcasting-service/docker/Dockerfile .
    - echo "$DOCKERHUB_PASSWORD" | docker login -u "$DOCKERHUB_USERNAME" --password-stdin
    - docker push iqbberlin/testcenter-backend:$CI_COMMIT_TAG
    - docker push iqbberlin/testcenter-frontend:$CI_COMMIT_TAG
    - docker push iqbberlin/testcenter-broadcasting-service:$CI_COMMIT_TAG