#  Compose file for production environment. Images are NOT locally built but
#  downloaded from Docker-Hub. This is the non-TLS variant using unencrypted
#  communication.

services:
  traefik:
    labels:
      - "traefik.enable=true"
      - "traefik.http.middlewares.security-headers.headers.stsSeconds=63072000"
      - "traefik.http.middlewares.security-headers.headers.stsIncludeSubdomains=true"
      - "traefik.http.middlewares.security-headers.headers.stsPreload=true"
      - "traefik.http.middlewares.security-headers.headers.forceSTSHeader=true"
      - "traefik.http.middlewares.security-headers.headers.customFrameOptionsValue=SAMEORIGIN"
      - "traefik.http.middlewares.security-headers.headers.contentTypeNosniff=true"
      - "traefik.http.middlewares.security-headers.headers.browserXssFilter=true"
      - "traefik.http.middlewares.security-headers.headers.referrerPolicy=no-referrer"
    command:
      - "--log.level=INFO"
      - "--accesslog=false"
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"

  broadcaster:
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.broadcaster.rule=(Host(`www.${HOSTNAME}`) || Host(`${HOSTNAME}`)) && PathPrefix(`/bs/public`)"
      - "traefik.http.routers.broadcaster.middlewares=security-headers, broadcaster-stripprefix"
      - "traefik.http.middlewares.broadcaster-stripprefix.stripprefix.prefixes=/bs/public"
    image: ${DOCKERHUB_PROXY}iqbberlin/testcenter-broadcaster:${VERSION}

  frontend:
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.frontend.rule=Host(`www.${HOSTNAME}`) || Host(`${HOSTNAME}`)"
      - "traefik.http.routers.frontend.middlewares=security-headers, stripwww-fe"
      - "traefik.http.middlewares.stripwww-fe.redirectregex.regex=^http(s?)://www.${HOSTNAME}/(.*)"
      - "traefik.http.middlewares.stripwww-fe.redirectregex.replacement=http$${1}://${HOSTNAME}/$${2}"
    image: ${DOCKERHUB_PROXY}iqbberlin/testcenter-frontend:${VERSION}

  file-server:
    image: ${DOCKERHUB_PROXY}iqbberlin/testcenter-file-server:${VERSION}

  backend:
    image: ${DOCKERHUB_PROXY}iqbberlin/testcenter-backend:${VERSION}

  db:
    image: ${DOCKERHUB_PROXY}mysql:8.4
    command:
      - "--explicit-defaults-for-timestamp=TRUE"
      - "--sql-mode=PIPES_AS_CONCAT,ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION"
      - "--tls-version=TLSv1.2,TLSv1.3"
      - "--max-connections=500"
      - "--log_error_verbosity=1"
