# Compose file for local development and testing. Images are built from
# local directories which need to be cloned from the repository.

services:
  traefik:
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.traefik.rule=Host(`traefik.${HOSTNAME}`)"
      - "traefik.http.routers.traefik.service=api@internal"
      - "traefik.http.middlewares.security-headers.headers.stsSeconds=63072000"
      - "traefik.http.middlewares.security-headers.headers.stsIncludeSubdomains=true"
      - "traefik.http.middlewares.security-headers.headers.stsPreload=true"
      - "traefik.http.middlewares.security-headers.headers.forceSTSHeader=true"
      - "traefik.http.middlewares.security-headers.headers.customFrameOptionsValue=SAMEORIGIN"
      - "traefik.http.middlewares.security-headers.headers.contentTypeNosniff=true"
      - "traefik.http.middlewares.security-headers.headers.browserXssFilter=true"
      - "traefik.http.middlewares.security-headers.headers.referrerPolicy=no-referrer"
    command:
      - "--log.level=INFO"
      - "--accesslog=false"
      - "--api.dashboard=true"
      - "--api.insecure=true"
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"
    networks:
      - testcenter

  testcenter-broadcasting-service:
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.testcenter-broadcasting-service.rule=(Host(`www.${HOSTNAME}`) || Host(`${HOSTNAME}`)) && PathPrefix(`/bs/public`)"
      - "traefik.http.routers.testcenter-broadcasting-service.middlewares=security-headers, testcenter-broadcasting-service-stripprefix"
      - "traefik.http.middlewares.testcenter-broadcasting-service-stripprefix.stripprefix.prefixes=/bs/public"
    build:
      dockerfile: broadcasting-service/Dockerfile
      target: dev
    volumes:
      - ./common:/usr/src/testcenter/common
      - ./broadcasting-service/src:/usr/src/testcenter/broadcasting-service/src
      - ./docs/dist:/usr/src/testcenter/docs/dist
    networks:
      - testcenter

  testcenter-frontend:
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.testcenter-frontend.rule=Host(`www.${HOSTNAME}`) || Host(`${HOSTNAME}`)"
      - "traefik.http.routers.testcenter-frontend.middlewares=security-headers, stripwww-fe"
      - "traefik.http.middlewares.stripwww-fe.redirectregex.regex=^http(s?)://www.${HOSTNAME}/(.*)"
      - "traefik.http.middlewares.stripwww-fe.redirectregex.replacement=http$${1}://${HOSTNAME}/$${2}"
    build:
      dockerfile: frontend/Dockerfile
      target: dev
    command: [
      "serve",
      "--configuration", "dev",
      "--disable-host-check",
      "--host", "0.0.0.0",
      "--port", "8080"
    ]
    volumes:
      - ./common:/usr/src/testcenter/common
      - ./definitions:/usr/src/testcenter/definitions
      - ./frontend/src:/usr/src/testcenter/frontend/src
      - ./docs/dist:/usr/src/testcenter/docs/dist
    networks:
      - testcenter

  testcenter-file-service:
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.testcenter-file-service.rule=(Host(`www.${HOSTNAME}`) || Host(`${HOSTNAME}`)) && PathPrefix(`/fs`)"
      - "traefik.http.routers.testcenter-file-service.middlewares=security-headers, testcenter-file-service-stripprefix"
      - "traefik.http.middlewares.testcenter-file-service-stripprefix.stripprefix.prefixes=/fs"
    build:
      dockerfile: file-service/Dockerfile
      args:
        ENABLED_MODULES: lua
    volumes:
      - ./sampledata/sample_resource_package.itcr.zip:/var/www/testcenter/data-TEST/ws_1/Resource/sample_resource_package.itcr.zip
      - ./sampledata/SAMPLE_UNITCONTENTS.HTM:/var/www/testcenter/data-TEST/ws_1/Resource/SAMPLE_UNITCONTENTS.HTM
      - ./sampledata/verona-player-simple-6.0.html:/var/www/testcenter/data-TEST/ws_1/Resource/verona-player-simple-6.0.html
      - ./sampledata/coding-scheme.vocs.json:/var/www/testcenter/data-TEST/ws_1/Resource/coding-scheme.vocs.json
      - ./file-service/nginx.conf:/etc/nginx/nginx.conf
      - ./file-service/auth/:/usr/share/nginx/auth
      - ./file-service/no-cors.conf:/etc/nginx/conf.d/cors.conf
    networks:
      - testcenter

  testcenter-backend:
    build:
      dockerfile: backend/Dockerfile
      target: dev
    volumes:
      - ./backend/.htaccess:/var/www/testcenter/backend/.htaccess
      - ./backend/config/docker-php-ext-xdebug.ini:/usr/local/etc/php/conf.d/docker-php-ext-xdebug.ini
      - ./backend/config/local.php.ini:/usr/local/etc/php/conf.d/local.ini
      - ./backend/config/no-cors.htaccess/:/var/www/testcenter/.htaccess
      - ./backend/config/vhost.conf:/etc/apache2/sites-available/vhost.conf
      - ./backend/index.php:/var/www/testcenter/backend/index.php
      - ./backend/initialize.php:/var/www/testcenter/backend/initialize.php
      - ./backend/routes.php:/var/www/testcenter/backend/routes.php
      - ./backend/src:/var/www/testcenter/backend/src
      - ./backend/test:/var/www/testcenter/backend/test
      - ./definitions:/var/www/testcenter/definitions
      - ./docs/dist:/docs/dist
      - ./package.json:/var/www/testcenter/package.json
      - ./sampledata:/var/www/testcenter/sampledata
      - ./scripts/database:/var/www/testcenter/scripts/database
    environment:
      TLS_ENABLED: ${TLS_ENABLED:-false}
      SKIP_READ_FILES: ${SKIP_READ_FILES:-no}
      SKIP_DB_INTEGRITY: ${SKIP_DB_INTEGRITY:-no}
      OVERWRITE_INSTALLATION: ${OVERWRITE_INSTALLATION:-no}
      NO_SAMPLE_DATA: ${NO_SAMPLE_DATA:-no}
    ports:
      - "9005:9003"
    extra_hosts:
      - "host.docker.internal:host-gateway"
    networks:
      - testcenter

  testcenter-cache-service:
    ports:
      - "6379:6379"

  testcenter-db:
    ports:
      - "9091:3306"
    command:
      - "--explicit-defaults-for-timestamp=TRUE"
      - "--sql-mode=PIPES_AS_CONCAT,ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION"
      - "--tls-version=TLSv1.2,TLSv1.3"
      - "--max-connections=500"
      - "--log_error_verbosity=2"
    volumes:
      - ./scripts/database/000-create-test-db.sh:/docker-entrypoint-initdb.d/000-create-test-db.sh
    networks:
      - testcenter
