#  Compose file for production environment. Images are NOT locally built but
#  downloaded from Docker-Hub. This is the TLS variant using encrypted
#  communication.

services:
  traefik:
    labels:
      - "traefik.enable=true"
      - "traefik.http.middlewares.security-headers.headers.stsSeconds=63072000"
      - "traefik.http.middlewares.security-headers.headers.stsIncludeSubdomains=true"
      - "traefik.http.middlewares.security-headers.headers.stsPreload=true"
      - "traefik.http.middlewares.security-headers.headers.forceSTSHeader=true"
      - "traefik.http.middlewares.security-headers.headers.customFrameOptionsValue=SAMEORIGIN"
      - "traefik.http.middlewares.security-headers.headers.contentTypeNosniff=true"
      - "traefik.http.middlewares.security-headers.headers.browserXssFilter=true"
      - "traefik.http.middlewares.security-headers.headers.referrerPolicy=no-referrer"
    command:
      - "--log.level=INFO"
      - "--accesslog=false"
      - "--entrypoints.web.address=:80"
      - "--entrypoints.web.http.redirections.entryPoint.to=websecure"
      - "--entrypoints.web.http.redirections.entryPoint.scheme=https"
      - "--entrypoints.websecure.address=:443"
      - "--entrypoints.websecure.http.tls.options=default@file"
      - "--certificatesresolvers.acme.acme.tlschallenge=true"
      - "--certificatesresolvers.acme.acme.caserver=${TLS_ACME_CA_SERVER}"
      # - "--certificatesresolvers.acme.acme.eab.kid=${TLS_ACME_EAB_KID}"
      # - "--certificatesresolvers.acme.acme.eab.hmacEncoded=${TLS_ACME_EAB_HMAC_ENCODED}"
      - "--certificatesresolvers.acme.acme.email=${TLS_ACME_EMAIL}"
      - "--certificatesresolvers.acme.acme.storage=/certs/acme.json"
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"
      - "--providers.file.filename=/tls-options.yml"
      - "--providers.file.filename=/tls-${TLS_CERTIFICATE_RESOLVER:-certificates}.yml"
    ports:
      - "${HTTPS_PORT}:443"
    volumes:
      - "./config/traefik/tls-options.yml:/tls-options.yml"
      - "./config/traefik/tls-${TLS_CERTIFICATE_RESOLVER:-certificates}.yml:/tls-${TLS_CERTIFICATE_RESOLVER:-certificates}.yml"
      - "./secrets/traefik/certs/${TLS_CERTIFICATE_RESOLVER}:/certs"

  testcenter-broadcasting-service:
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.testcenter-broadcasting-service.tls=true"
      - "traefik.http.routers.testcenter-broadcasting-service.tls.certResolver=${TLS_CERTIFICATE_RESOLVER}"
      - "traefik.http.routers.testcenter-broadcasting-service.rule=(Host(`www.${HOSTNAME}`) || Host(`${HOSTNAME}`)) && PathPrefix(`/bs/public`)"
      - "traefik.http.routers.testcenter-broadcasting-service.middlewares=security-headers, testcenter-broadcasting-service-stripprefix"
      - "traefik.http.middlewares.testcenter-broadcasting-service-stripprefix.stripprefix.prefixes=/bs/public"
    image: ${DOCKERHUB_PROXY}iqbberlin/testcenter-broadcasting-service:${VERSION}

  testcenter-frontend:
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.testcenter-frontend.tls=true"
      - "traefik.http.routers.testcenter-frontend.tls.certResolver=${TLS_CERTIFICATE_RESOLVER}"
      - "traefik.http.routers.testcenter-frontend.tls.domains[0].main=${HOSTNAME}"
      - "traefik.http.routers.testcenter-frontend.tls.domains[0].sans=www.${HOSTNAME}"
      - "traefik.http.routers.testcenter-frontend.rule=Host(`www.${HOSTNAME}`) || Host(`${HOSTNAME}`)"
      - "traefik.http.routers.testcenter-frontend.middlewares=security-headers, stripwww-fe"
      - "traefik.http.middlewares.stripwww-fe.redirectregex.regex=^http(s?)://www.${HOSTNAME}/(.*)"
      - "traefik.http.middlewares.stripwww-fe.redirectregex.replacement=http$${1}://${HOSTNAME}/$${2}"
    image: ${DOCKERHUB_PROXY}iqbberlin/testcenter-frontend:${VERSION}

  testcenter-file-service:
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.testcenter-file-service.tls=true"
      - "traefik.http.routers.testcenter-file-service.tls.certResolver=${TLS_CERTIFICATE_RESOLVER}"
      - "traefik.http.routers.testcenter-file-service.rule=(Host(`www.${HOSTNAME}`) || Host(`${HOSTNAME}`)) && PathPrefix(`/fs`)"
      - "traefik.http.routers.testcenter-file-service.middlewares=security-headers, testcenter-file-service-stripprefix"
      - "traefik.http.middlewares.testcenter-file-service-stripprefix.stripprefix.prefixes=/fs"
    image: ${DOCKERHUB_PROXY}iqbberlin/testcenter-file-service:${VERSION}

  testcenter-backend:
    image: ${DOCKERHUB_PROXY}iqbberlin/testcenter-backend:${VERSION}

  testcenter-db:
    image: ${DOCKERHUB_PROXY}mysql:8.0
    command:
      - "--explicit-defaults-for-timestamp=TRUE"
      - "--sql-mode=PIPES_AS_CONCAT,ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION"
      - "--tls-version=TLSv1.2,TLSv1.3"
      - "--max-connections=500"
      - "--log_error_verbosity=1"
