<div class="columnhost flex-column">
  <div class="flex-row">
    <button
      mat-raised-button
      (click)="downloadReportsCSV()"
      [disabled]="!tableSelectionCheckbox.hasValue()"
      matTooltip="Download Berichte als CSV für Excel"
      matTooltipPosition="below"
      data-cy="download-button"
    >
      <mat-icon>cloud_download</mat-icon>
      Berichte
    </button>
    <button
      mat-raised-button
      (click)="deleteReports()"
      [disabled]="!tableSelectionCheckbox.hasValue()"
      matTooltip="Löschen Berichte für markierte System-Checks"
      matTooltipPosition="below"
    >
      <mat-icon>delete</mat-icon>
      Löschen
    </button>
  </div>

  <mat-progress-bar mode="indeterminate" *ngIf="!resultDataSource"></mat-progress-bar>

  <mat-table [dataSource]="resultDataSource" matSort>
    <ng-container matColumnDef="selectCheckbox">
      <mat-header-cell *matHeaderCellDef [style.max-width.px]="70">
        <mat-checkbox (change)="$event ? masterToggle() : null"
                      [checked]="tableSelectionCheckbox.hasValue() && isAllSelected()"
                      [indeterminate]="tableSelectionCheckbox.hasValue() && !isAllSelected()">
        </mat-checkbox>
      </mat-header-cell>
      <mat-cell *matCellDef="let row" [style.max-width.px]="70">
        <mat-checkbox (click)="$event.stopPropagation()"
                      (change)="$event ? tableSelectionCheckbox.toggle(row) : null"
                      [checked]="tableSelectionCheckbox.isSelected(row)"
                      [attr.data-cy]="'systemcheck-checkbox'">
        </mat-checkbox>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="syscheckLabel">
      <mat-header-cell *matHeaderCellDef mat-sort-header class="table-header"
                       [style.justify-content]="'center'">System-Check Name</mat-header-cell>
      <mat-cell *matCellDef="let element" [style.justify-content]="'center'">{{element.label}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="number">
      <mat-header-cell *matHeaderCellDef mat-sort-header class="table-header"
                       [style.justify-content]="'center'">Anzahl Berichte</mat-header-cell>
      <mat-cell *matCellDef="let element" [style.justify-content]="'center'">{{element.count}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="details-os">
      <mat-header-cell *matHeaderCellDef mat-sort-header class="table-header"
                       [style.justify-content]="'center'">Betriebssysteme</mat-header-cell>
      <mat-cell *matCellDef="let element" class="flex-column" [style.justify-content]="'center'">
        <div *ngFor="let d of element.details.os | keyvalue">{{d.key}}: {{d.value}}</div>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="details-browser">
      <mat-header-cell *matHeaderCellDef mat-sort-header class="table-header"
                       [style.justify-content]="'center'">Browser</mat-header-cell>
      <mat-cell *matCellDef="let element" class="flex-column" [style.justify-content]="'center'">
        <div *ngFor="let d of element.details.browser | keyvalue">{{d.key}}: {{d.value}}</div>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>
