:host {
  width: 100%
}

#iframe-host {
  position: fixed;
  width: 100%;
  top: 0;
  bottom: 0;
  padding: 0;
  background-color: white;
}

.with-header #iframe-host {
  top: 65px;
}

.with-title #iframe-host {
  top: 40px;
}

.with-header.with-title #iframe-host {
  top: 105px;
}

.with-footer #iframe-host {
  bottom: 46px;
}

#waiting-room {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  max-width: 50%;
}

#waiting-room .progress-bar-sub-text {
  margin-top: 0.1em
}

.unit-title h2 {
  font-weight: normal;
  text-align: center;
  background-color: white;
  margin: 0;
  padding: 5px;
}

.is-waiting #iframe-host,
.is-waiting .unit-title {
  visibility: hidden;
}

.page-navigation {
  position: absolute;
  width: 100%;
  height: 46px;
  bottom: 0;
  font-size: 1.2em;
}
