<div [class]="{
  'with-header': tcs.bookletConfig.unit_screenheader !== 'OFF',
  'with-title': tcs.bookletConfig.unit_title === 'ON',
  'with-footer': tcs.bookletConfig.page_navibuttons === 'SEPARATE_BOTTOM',
  'is-waiting': (currentUnit && currentUnit.parent.locked) || ((unitsLoading$ | async) || []).length
}">
  <div *ngIf="tcs.bookletConfig.unit_title === 'ON'" class="unit-title">
    <h2 >{{currentUnit?.label}}</h2>
    <mat-divider></mat-divider>
  </div>

  <div #iframeHost id="iframe-host"></div>

  <ng-container *ngIf="currentUnit as unit">
    <ng-container *ngIf="unitsLoading$ | async as loadingUnits">
      <div id="waiting-room" *ngIf="loadingUnits.length || unit.parent.locked">
        <mat-card appearance="raised">
          <mat-card-header>
            <mat-card-title>
              {{(loadingUnits.length > 1 || unit.parent.locked) ? unit.parent.blockLabel : unit.label}}
            </mat-card-title>
            <mat-card-subtitle *ngIf="loadingUnits.length > 1">
              {{'Aufgabenblock wird geladen' | customtext:'booklet_loadingBlock' | async}}
            </mat-card-subtitle>
            <mat-card-subtitle *ngIf="loadingUnits.length === 1">
              {{'Aufgabe wird geladen' | customtext:'booklet_loadingUnit' | async}}
            </mat-card-subtitle>
            <mat-card-subtitle *ngIf="unit.parent.locked?.by === 'time'">
              {{'Aufgabenzeit ist abgelaufen' | customtext:'booklet_lockedBlock' | async}}
            </mat-card-subtitle>
            <mat-card-subtitle *ngIf="unit.parent.locked?.by === 'code'">
              {{'Aufgabenblock ist noch gesperrt' | customtext:'booklet_codeToEnterTitle' | async}}
            </mat-card-subtitle>
            <mat-card-subtitle *ngIf="unit.parent.locked?.by === 'condition'">
              {{'Aufgabenblock steht nicht zur Verfügung' | customtext:'booklet_blockConditionNotSatisfied' | async}}
            </mat-card-subtitle>
          </mat-card-header>

          <mat-card-content *ngIf="unit.parent.locked?.by === 'code'">
            <mat-form-field appearance="outline" style="display: block" >
              <input
                matInput
                type="text"
                [(ngModel)]="clearCode"
                style="text-transform:uppercase"
                (keydown)="onKeydownInClearCodeInput($event)"
                data-cy="unlockUnit"
              >
            </mat-form-field>
            <tc-alert
              level="info"
              *ngIf="!unit.parent.locked?.through?.restrictions?.codeToEnter"
              customtext="booklet_codeToEnterPrompt"
              text="Bitte Freigabewort eingeben!"
            ></tc-alert>
            <tc-alert level="warning" customtext="booklet_codeToEnterWarning"></tc-alert>
          </mat-card-content>

          <mat-card-content>
            <ng-container *ngFor="let loading of loadingUnits; let index = index">
              <mat-progress-bar
                color="primary"
                [mode]="loading | progressbarmode"
                [value]="loading.progress"
              >
              </mat-progress-bar>
              <p class="progress-bar-sub-text">
                {{unitsToLoadLabels[index]}}
                <ng-container [ngSwitch]="loading.progress">
                  <span *ngSwitchCase="'UNKNOWN'">
                    ({{'wird geladen' | customtext:'booklet_unitLoadingUnknownProgress' | async}})
                  </span>
                  <span *ngSwitchCase="'PENDING'">
                    ({{'in der Warteschleife' | customtext:'booklet_unitLoadingPending' | async}})
                  </span>
                  <span *ngSwitchDefault>
                    ({{loading.progress}}% {{'geladen' | customtext:'booklet_unitLoading' | async}})
                  </span>
                </ng-container>
              </p>
            </ng-container>
          </mat-card-content>

          <mat-card-actions [style.justify-content]="'space-between'">
            <button
              *ngIf="currentUnit && unit.parent.locked?.by == 'code'"
              mat-raised-button
              color="primary"
              [disabled]="!clearCode.length"
              (click)="verifyCodes()"
            >
              OK
            </button>
          </mat-card-actions>
        </mat-card>
      </div>
    </ng-container>
  </ng-container>

  <div *ngIf="tcs.bookletConfig.page_navibuttons === 'SEPARATE_BOTTOM' &&
              knownPages && knownPages.length && (knownPages.length > 1)"
       class="page-navigation">
    <div [style.float]="'right'" [style.padding-top.px]="4" [style.padding-right.px]="15">
      <span [style.color]="'white'" [style.padding-right.px]="8">
        {{ ''  | customtext:'login_pagesNaviPrompt' | async}}
      </span>

      <mat-button-toggle-group>
        <mat-button-toggle [disabled]="currentPageIndex <= 0"
                           (click)="gotoPage(knownPages[currentPageIndex - 1].id);">
          <i class="material-icons">chevron_left</i>
        </mat-button-toggle>
        <mat-button-toggle *ngFor="let page of knownPages; let index = index"
                           [matTooltip]="page.label"
                           [checked]="currentPageIndex === index"
                           [attr.data-cy]="'page-navigation-' + index"
                           (click)="gotoPage(page.id)">
          {{ index + 1 }}
        </mat-button-toggle>
        <mat-button-toggle [disabled]="currentPageIndex >= knownPages.length - 1"
                           (click)="gotoPage(knownPages[currentPageIndex + 1].id);">
          <i class="material-icons">chevron_right</i>
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>
  </div>

</div>