<div #iframeHost id="iframe-host"></div>

@let unit = tcs.currentUnit;
@let loadingResources = resourcesLoading$ | async;

@if (loadingResources && loadingResources.length > 1) {
  <div class="lock-overlay progress-container">
    <h2>Gleich geht's los!</h2>
    <img [src]="themeService.activeTheme.imagePaths?.loadingProgress" class="progress-image"
         [style.left.%]="tcs.totalLoadingProgress"/>
    <mat-progress-bar [value]="tcs.totalLoadingProgress">
    </mat-progress-bar>
    <p class="loading-progress-text">{{ tcs.totalLoadingProgress.toFixed(0) }}%</p>
  </div>
}

@if (unit?.parent?.locked) {
  <div class="lock-overlay">
    @if (unit?.parent?.locked?.by == 'code') {
      <tc-code-input [inputType]="codeInputMode" [length]="codeInputLength" [problemText]="codeInputErrorText"
                     [buttonLabel]="'Weiter'" [speechBubbleText]="{heading: 'Drücke auf die Symbole'}"
                     (submitCode)="onSubmitCode($event)">
        <div>
          <h2>{{ 'Aufgabenblock ist noch gesperrt' | customtext:'booklet_codeToEnterTitle' | async}}</h2>
          @if (unit?.parent?.locked?.through?.restrictions?.codeToEnter?.message) {
            <p>{{ unit?.parent?.locked?.through?.restrictions?.codeToEnter?.message }}</p>
          }
        </div>
      </tc-code-input>
    }

    @if (unit?.parent?.locked?.by == 'time' || unit?.parent?.locked?.by == 'show' ||
         unit?.parent?.locked?.by == 'afterLeave' || unit?.lockedAfterLeaving) {
      <mat-card appearance="raised" data-cy="info-blocktime-is-up">-->
        <mat-card-header>
          <mat-card-title data-cy="unit-block-dialog-title" *ngIf="unit?.parent?.locked">
            {{unit?.parent?.locked?.through?.label}}
          </mat-card-title>
          <mat-card-subtitle *ngIf="unit?.parent?.locked?.by === 'time'">
            {{'Aufgabenzeit ist abgelaufen' | customtext:'booklet_lockedBlock' | async}}
          </mat-card-subtitle>
          <mat-card-subtitle *ngIf="unit?.parent?.locked?.by === 'show'">
            {{'Aufgabenblock steht nicht zur Verfügung' | customtext:'booklet_blockConditionNotSatisfied' | async}}
          </mat-card-subtitle>
          <mat-card-subtitle *ngIf="unit?.parent?.locked?.by === 'afterLeave'">
            {{'Aufgabenblock kann nur einmal betreten werden' | customtext:'booklet_blockLockedByAfterLeave' | async}}
          </mat-card-subtitle>
          <mat-card-subtitle *ngIf="unit?.lockedAfterLeaving">
            {{'Aufgabe kann nur einmal betreten werden' | customtext:'booklet_lockedByAfterLeave' | async}}
          </mat-card-subtitle>
        </mat-card-header>
      </mat-card>
    }
  </div>
}
