:host {
  width: 100%
}

#iframe-host {
  width: 100%;
  height: 100%;
}

#waiting-room {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  max-width: 50%;
}

#waiting-room .progress-bar-sub-text {
  margin-top: 0.1em
}

.is-waiting #iframe-host {
  visibility: hidden;
}
