<div class="left-side">
  @if (mode === 'text-field') {
    <tc-code-text-field-form (submitCode)="onSubmit($event)"></tc-code-text-field-form>
  } @else {
    <tc-code-keypad-form [visualMode]="mode" (submitCode)="onSubmit($event)" (clearInput)="problemText = ''">
    </tc-code-keypad-form>
  }

  <div class="companion" [class.error]="problemText">
    <img src="assets/images/bird-character.png" alt="Helper character" class="companion-image">
    <img src="assets/images/speech-bubble.svg" alt="speech bubble" class="companion-speech-bubble">
    <div class="bubble-text">
      @if (!problemText) {
        <p class="bubble-title">Brauchst du Hilfe?</p>
      }
      <p class="bubble-body" [attr.data-cy]="'login-code-problem:'+problemCode">
        @if (problemText) {
          {{ problemText }}
        } @else {
          Deine Lehrerin oder dein Lehrer hilft dir weiter.
            Melde dich bei ihm/ihr oder klicke auf mich drauf!
        }
      </p>
    </div>
  </div>
</div>

<div class="right-side">
  <img [src]="themeService.activeTheme.imagePaths?.codeInputIllustration" alt="Code input illustration">
</div>
