<div class="sidebar-main">
  <h3>{{ 'Aufgaben' | customtext:'booklet_tasklisttitle' | async }}</h3>
  <ng-container *ngFor="let blockLabelOrUnit of menu; let i = index">
    <h4 *ngIf="blockLabelOrUnit.headline != null" class='testlet-label'>
      {{blockLabelOrUnit.headline}}
    </h4>
    <a mat-raised-button
      [class]="{'current': blockLabelOrUnit.isCurrent}"
      (click)="tcs.setUnitNavigationRequest(blockLabelOrUnit.sequenceId.toString())"
      [disabled]="blockLabelOrUnit.disabled"
    >
      <mat-icon *ngIf="!tcs.units[blockLabelOrUnit.sequenceId].definition" matTooltip="wird geladen">
        hourglass_empty
      </mat-icon>
      {{blockLabelOrUnit.longLabel}}
    </a>
  </ng-container>
</div>

<div class="sidebar-bottom">
  <a mat-raised-button data-cy="endTest" color="primary" (click)="terminateTest()">
    {{ 'Test beenden'  | customtext:'login_testEndButtonLabel' | async}}
  </a>
</div>



