<div class="sidebar-main" *ngIf="booklet?.units">
  <h3>{{ 'Aufgaben' | customtext:'booklet_tasklisttitle' | async }}</h3>
  <ng-container *ngTemplateOutlet="testletFull; context: {testlet: booklet?.units, level: 0}"></ng-container>

  <ng-template #testletFull let-testlet="testlet" let-level="level" [appTemplateContext]="testletContext">
    <div class="testlet" [class.contains-conditional]="testlet.containsConditionalTestlets && tcs.testMode.canChoosePathManually">
      <ng-container *ngFor="let testletOrUnit of testlet.children">
        <div *ngIf="!isTestlet(testletOrUnit); else: subTestlet" class="child">
          <a
            mat-raised-button
            (click)="tcs.setUnitNavigationRequest(testletOrUnit.sequenceId.toString())"
            [class.current]="tcs.currentUnitSequenceId === testletOrUnit.sequenceId"
            [disabled]="testletOrUnit | unit_inaccessible : testletOrUnit.lockedAfterLeaving : testletOrUnit.parent.locked?.by"
            [matTooltip]="testletOrUnit.label"
          >{{testletOrUnit.label || "&nbsp;"}}
          </a>
        </div>

        <ng-template #subTestlet>
          <div
            *ngIf="tcs.testMode.canChoosePathManually ||
              !isTestlet(testletOrUnit) ||
              !testletOrUnit.containsConditionalTestlets ||
              testletOrUnit.firstUnsatisfiedCondition === -1"
            >
            <h4 *ngIf="testletOrUnit.label" class="headline-level-{{level}}">{{testletOrUnit.label}}</h4>
            <ng-container *ngTemplateOutlet="testletFull; context: {testlet: testletOrUnit, level: level + 1}"></ng-container>
          </div>
        </ng-template>
      </ng-container>
    </div>
  </ng-template>
</div>


<div class="sidebar-bottom">
  <a mat-raised-button data-cy="endTest" color="primary" (click)="terminateTest()">
    {{ 'Test beenden'  | customtext:'login_testEndButtonLabel' | async}}
  </a>
</div>



