Header add Access-Control-Expose-Headers "SubscribeURI"

Options +FollowSymLinks
Options -Indexes
DirectorySlash Off

RewriteEngine on

# can be installed in subdir or not
RewriteBase /

# rewrite all calls except docs to index.php
RewriteCond %{REQUEST_FILENAME} !index.php

# find real base
RewriteCond $0#%{REQUEST_URI} ([^#]*)#(.*)\1$

# redirect everything to index.php
RewriteRule ^.*$ %2index.php [QSA,L]

