Header add Access-Control-Expose-Headers "SubscribeToken, Error-ID, Test-Mode"

# the browsers does store 410, so re-activated accounts could never be used again without this
Header set Cache-Control "max-age=0, no-cache, no-store, must-revalidate" "expr=%{REQUEST_STATUS} == 410"


Options +FollowSymLinks
Options -Indexes
DirectorySlash Off

RewriteEngine on

# can be installed in subdir or not
RewriteBase /

# rewrite all calls to index.php
RewriteCond %{REQUEST_FILENAME} !index.php

# find real base
RewriteCond $0#%{REQUEST_URI} ([^#]*)#(.*)\1$

# redirect everything to index.php
RewriteRule ^.*$ %2index.php [QSA,L]

