<?xml version="1.0" encoding="utf-8"?>
<phpunit
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.1/phpunit.xsd"
  bootstrap="test/unit/bootstrap.php"
  beStrictAboutTestsThatDoNotTestAnything="true"
  cacheResult="false"
  defaultTimeLimit="300"
  enforceTimeLimit="true"
  displayDetailsOnIncompleteTests="true"
  displayDetailsOnTestsThatTriggerNotices="true"
  displayDetailsOnTestsThatTriggerWarnings="true"
  displayDetailsOnTestsThatTriggerErrors="true"
  displayDetailsOnTestsThatTriggerDeprecations="true"
  stopOnDefect="true"
>
  <coverage/>
  <source>
    <include>
      <directory suffix=".php">src/</directory>
    </include>
    <exclude>
      <directory suffix=".php">vendor/</directory>
    </exclude>
  </source>
</phpunit>
