<div class="sys-check-body flex-row-wrap" [style.justify-content]="'center'">
  <mat-card appearance="raised" [style.flex-basis.px]="810">
    <mat-card-header>
      <mat-card-title>
        Netzwerk
        <span *ngIf="!sysCheckDataService.networkCheckStatus.done" style="color:red"> - Test läuft, bitte warten.</span>
      </mat-card-title>
      <mat-card-subtitle>
        {{sysCheckDataService.networkCheckStatus.message}}
        <span *ngIf="sysCheckDataService.networkCheckStatus.done && (networkRating.overallRating !== 'N/A')">
          <span [ngSwitch]="networkRating.overallRating">Ihre Verbindung zum Testserver ist
            <span *ngSwitchCase="'insufficient'" style="color: red; font-weight: bold;">unzureichend</span>
            <span *ngSwitchCase="'ok'" style="color: orange; font-weight: bold;">vorauss. ausreichend</span>
            <span *ngSwitchCase="'good'" style="color: green; font-weight: bold;">gut</span>
            <span *ngSwitchCase="'unstable'" style="color: orangered; font-weight: bold;">sehr instabil</span>
          </span>.
        </span>
      </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <div class="flex-row">
        <div [style.width.%]="50" [style.margin.px]="10">
          <span style="font-weight: normal">Geschwindigkeit Download: </span>
          <span *ngIf="sysCheckDataService.networkCheckStatus.avgDownloadSpeedBytesPerSecond >= 0">
            &#8960; {{humanReadableBytes(sysCheckDataService.networkCheckStatus.avgDownloadSpeedBytesPerSecond, true, false)}}/s
          </span>
          <span *ngIf="sysCheckDataService.networkCheckStatus.avgDownloadSpeedBytesPerSecond < 0">Test noch nicht gestartet</span>
          <tc-speed-chart #downloadChart></tc-speed-chart>
        </div>

        <div [style.width.%]="50" [style.margin.px]="10">
          <span style="font-weight: normal">Geschwindigkeit Upload: </span>
          <span *ngIf="sysCheckDataService.networkCheckStatus.avgUploadSpeedBytesPerSecond >= 0">
            &#8960; {{humanReadableBytes(sysCheckDataService.networkCheckStatus.avgUploadSpeedBytesPerSecond, true)}}/s
          </span>
          <span *ngIf="sysCheckDataService.networkCheckStatus.avgUploadSpeedBytesPerSecond < 0">Test noch nicht gestartet</span>
          <tc-speed-chart #uploadChart></tc-speed-chart>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary"
              [disabled]="!sysCheckDataService.networkCheckStatus.done" (click)="startCheck()">
        Neustart
      </button>
    </mat-card-actions>
  </mat-card>
</div>
