.hidden {
    display: none;
}

.hidden.show {
    display: block;
}

.adminbackground {
    padding: 15px 15px 10px 15px;
}

#video-container {
    position: relative;
    height: 500px;
    overflow: hidden;
}

#video-container video {
    border: 1px solid silver;
    background: silver;
    height: 500px;
}


.scan-region-highlight {
    border-radius: 3px;
    outline: rgba(0, 0, 0, .15) solid 75vmax;
}

.scan-region-highlight-svg {
    display: none;
}

#shape-page,
#shape-code {
    /*border: 4px dotted red;*/
    box-sizing: border-box;
    outline: rgba(0, 0, 0, .5) solid 75vmax;
}

#shape-page {
    position: absolute;
    aspect-ratio: 210 / 297;
    height: 100%;
    top: 0;
    left: 0;
}

#shape-code {
    background: rgba(255, 255, 255, 0.5);
    position: absolute;
    top: 20px;
    left: 20px;
    width: 40px;
    height: 40px;
}

#canvas {
    height: 500px;
    aspect-ratio: 210 / 297;
}