<mat-sidenav-container class="{{mobileView ? 'mobile' : 'desktop'}}">
  <mat-sidenav #sidenav opened="true" [mode]="mobileView ? 'over' : 'side'" fixedInViewport="true" fixedTopGap="55" class="toolbar">

    <div class="corner-menu" *ngIf="sidenav.opened">
      <button
          mat-icon-button
          [matTooltip]="('Seiteleiste' | customtext:'am_sidebar_button' | async) || ''"
          matTooltipPosition="above"
          (click)="sidenav.toggle()"
      >
        <mat-icon>close</mat-icon>
      </button>
    </div>

    <h2>
      {{'Seite aufnehmen' | customtext:'am_capture_image' | async}}
    </h2>
    <div class="toolbar-section hidden" [class.show]="state === 'capture'">
      <div>
        <mat-form-field appearance="fill">
          <mat-label>{{'Verfügbare Cameras' | customtext:'am_available_cameras' | async}}</mat-label>
          <mat-select (selectionChange)="selectCamera($event.value)" [(ngModel)]="selectedCameraId" name="camera">
            <mat-option *ngFor="let camera of cameras | keyvalue" [value]="camera.key">
              {{camera.value}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <br>
        <mat-checkbox class="example-margin" (change)="toggleFlash($event.checked)" [disabled]="!hasFlash">
          {{'Blitz' | customtext:'gm_flash_checkbox' | async}}
        </mat-checkbox>
      </div>
    </div>

    <div class="toolbar-section" *ngIf="this.attachmentLabel">
      <p>Seite gehört zu: <b>{{attachmentLabel}}</b></p>
      <button mat-raised-button color="primary" data-cy="dialog-confirm" (click)="uploadImage()">
        Upload
      </button>
    </div>

    <div class="toolbar-section hidden" [class.show]="state === 'confirm' || state === 'error'">
      <button mat-raised-button color="primary" data-cy="new-capture" (click)="reset()">Neue Aufnahme</button>
    </div>

    <div class="toolbar-section-bottom">
      <div class="toolbar-section">
        <a mat-raised-button color="primary" [routerLink]="'..'">
          {{'Zurück zur Übersicht' | customtext:'am_goto_attachment_overview' | async}}
        </a>
      </div>
    </div>

  </mat-sidenav>

  <mat-sidenav-content>
    <div class="corner-menu" *ngIf="!sidenav.opened">
      <button
        mat-icon-button
        [matTooltip]="('Einstellungen' | customtext:'gm_settings_tooltip' | async) || ''"
        matTooltipPosition="above"
        (click)="sidenav.toggle()"
      >
        <mat-icon>menu</mat-icon>
      </button>
    </div>

    <div class="adminbackground hidden" [class.show]="state === 'capture'">
      <div id="toolbar">
        <tc-alert
          level="info"
          customtext="am_capture_image_instructions"
          text="Halten Sie die Seite so in die Kamera, dass der aufgedruckte QR-Code in der oberen linken Ecke liegt"
        ></tc-alert>
      </div>

      <div id="video-container">
        <div
          id="video-clip"
          [style.aspect-ratio]="pageDesign.width + ' / ' + pageDesign.height"
          [style.width]="pageDesign.width > pageDesign.height ? '100%' : 'auto'"
          [style.height]="pageDesign.width <= pageDesign.height ? '100%' : 'auto'"
        >
          <video #video id="video" autoplay></video>
        </div>
      </div>
    </div>

    <div class="adminbackground hidden" [class.show]="state === 'confirm'">
      <div id="canvas-container">
        <canvas #canvas id="canvas" [style.aspect-ratio]="pageDesign.width + ' / ' + pageDesign.height"></canvas>
      </div>
    </div>

    <div class="adminbackground hidden" [class.show]="state === 'wait'">
      Bitte warten...
    </div>

    <div class="adminbackground hidden" [class.show]="state === 'error'">
      <tc-alert level="error" [text]="error"></tc-alert>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>









