.fab-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  background: whitesmoke;
}

/* Header Section */

/* selection row */
.selected-row {
  display: flex;
  gap: 30px;
}

.selected-buttons {
  display: flex;
  gap: 10px;
}
/* Button Grid */
.button-grid {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(3, 50px);
  grid-template-rows: repeat(3, 50px);


}

/* Helper */