<div class="login-wrapper">
  <form [formGroup]="loginForm" (ngSubmit)="adminLogin()" [style.display]="'flex'">
    <mat-card appearance="raised">
      <mat-card-header>
        <mat-card-title>Admin-Bereich</mat-card-title>
      </mat-card-header>
      @if (mainDataService.appConfig) {
        <mat-card-content>
          <mat-form-field appearance="outline">
            <mat-label>Anmeldename</mat-label>
            <input matInput formControlName="name" autocapitalize="off">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Kennwort</mat-label>
            <input matInput #pw formControlName="pw"
                   [type]="showPassword ? 'text' : 'password'"
                   (keyup)="clearWarning(); checkCapsLock($event)">
            <button mat-icon-button matSuffix type="button"
                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="showPassword"
                    (click)="showPassword = !showPassword">
              <mat-icon svgIcon="visibility"></mat-icon>
            </button>
          </mat-form-field>
          @if (problemText) {
            <tc-alert [attr.data-cy]="'login-problem:' + problemCode"
                      [level]="problemLevel" [text]="problemText"></tc-alert>
          }
        </mat-card-content>
      }
      <mat-card-actions [style.justify-content]="'space-between'">
        <button mat-raised-button type="submit" color="primary" id="admin" data-cy="login-admin"
                [disabled]="loginForm.invalid">
          Weiter
        </button>
      </mat-card-actions>
    </mat-card>
  </form>

  <div class="button-box">
    <a [routerLink]="['/r/check-starter']" mat-raised-button color="primary" data-cy="general-sys-check">
      Systemcheck
    </a>
    <a [routerLink]="['/r/login']" mat-raised-button color="primary" data-cy="login-testtaker-form">
      Testtakerbereich
    </a>
  </div>
</div>
