@if (!navContext.readonly) {
  <button matIconButton class="nav-button previous-button"
     matTooltip="Zurück"
     [disabled]="!navContext.isBackwardAllowed"
     [attr.data-cy]="dataCy + '-backward'"
     (click)="back.emit()">
    <mat-icon svgIcon="keyboard_arrow_left"></mat-icon>
  </button>
}

<div class="label-container" [class.readonly]="navContext.readonly" [class.list]="navContext.labelMode === 'LIST'">
  <div class="label">
    {{ navContext.label }}

    @if (navContext.labelMode === 'INDEX') {
      {{navContext.currentIndex + 1}}/{{navContext.maxIndex}}
    }
  </div>

  @if (navContext.labelMode === 'LIST') {
    @for (item of maxListTabs; track item) {
      <div class="list-item" [class.selected]="navContext.currentIndex === $index">{{item}}</div>
    }
  }
</div>

@if (!navContext.readonly) {
  <button matIconButton class="nav-button next-button"
     matTooltip="Weiter"
     [disabled]="!navContext.isForwardAllowed"
     [attr.data-cy]="dataCy + '-forward'"
     (click)="forward.emit()">
    <mat-icon svgIcon="keyboard_arrow_right"></mat-icon>
  </button>
}
