:host {
  display: flex;
}

.nav-button {
  background: var(--mat-sys-primary);
  color: var(--mat-sys-on-primary);
}

.nav-button:disabled {
  background: var(--mat-sys-state-on-surface-opacity-10, rgba(39, 26, 43, 0.10));
}

.previous-button {
  border-radius: 8px 0 0 8px;
}
.next-button {
  border-radius: 0 6px 6px 0;
}

.label {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  height: 40px;
  padding: 0 8px;
  border: 1px solid var(--theme-gray-80);
}

:host ::ng-deep .label .mdc-tab {
  border-top: 1px solid var(--mat-sys-primary);
  border-right: 1px solid var(--mat-sys-primary);
  border-bottom: 1px solid var(--mat-sys-primary);
}

:host ::ng-deep .label .mdc-tab .mdc-tab-indicator {
  display: none;
}

:host ::ng-deep .label .mdc-tab.mdc-tab--active {
  background-color: var(--mat-sys-primary);
}

:host ::ng-deep .label .mat-mdc-tab {
  height: 40px;
}