:host {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.mdc-dialog__title::before {
  height: auto;
}

.header-line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 24px;
  padding-right: 10px;
}

.header-line .mdc-icon-button {
  color: var(--mat-sys-primary);
  border: 1px solid var(--mat-sys-primary);
  border-radius: 12px;
}

:host ::ng-deep .header-line .mdc-icon-button .mat-mdc-button-persistent-ripple {
  border-radius: inherit;
}

mat-dialog-content.mat-mdc-dialog-content {
  padding-left: 0;
  padding-top: 10px;
}
