<div class="header-line">
  <h2 mat-dialog-title>Anleitung</h2>
  <button matIconButton mat-dialog-close>
    <mat-icon svgIcon="close"></mat-icon>
  </button>
</div>
<mat-dialog-content>
  <ul>
    <li>Geben Sie in Schritt 1 Ihren Anmeldenamen in das Eingabefeld ein. Klicken Sie dann auf den Button "Weiter".</li>
    <li>Sie gelangen nun in den nächsten Schritt.".</li>
    <li>Geben Sie in Schritt 2 Ihr Kennwort in das Eingabefeld ein. Klicken Sie dann auf den Button "Anmelden".</li>
    <li>Die Startseite des Testcenters wird sich im Anschluss der erfolgreichen Anmeldung öffnen.</li>
  </ul>
</mat-dialog-content>
