secret:
  fileServer:
    redisPassword: &redisPassword change_me

  backend:
    redisPassword: *redisPassword
    mysqlUser: &dbUser iqb_tba_db_user
    mysqlPassword: &dbUserPassword change_me
    passwordSalt: change_me

  cacheServer:
    redisPassword: *redisPassword

  db:
    mysqlUser: *dbUser
    mysqlPassword: *dbUserPassword
    mysqlRootPassword: change_me

ingress:
  traefikEnabled: false
  baseDomain: testcenter.domain.tld
  httpPort: 80
  httpsPort: 443
  tlsEnabled: false
  tlsCertResolver: ""

persistence:
  longhornEnabled: false

  cacheServerPvcStorageClassName: standard
  cacheServerPvcAccessMode: ReadWriteOnce

  backendPvcStorageClassName: standard
  backendPvcAccessMode: ReadWriteOnce

  backendConfigPvcStorageClassName: standard
  backendConfigPvcAccessMode: ReadWriteOnce

  dbPvcStorageClassName: standard
  dbPvcAccessMode: ReadWriteOnce
