# Default values for testcenter helm chart.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

image:
  ## Image Registry Path
  # Docker Hub:       (aka registry-1.docker.io/) leave REGISTRY_PATH value empty!
  # Docker Hub Proxy: scm.cms.hu-berlin.de:443/iqb/dependency_proxy/containers/
  # GitLab:           scm.cms.hu-berlin.de:4567/iqb/studio-lite/
  broadcasting:
    imagePullPolicy: Always
    registryPath: ""
    tag: ""

  frontend:
    imagePullPolicy: Always
    registryPath: ""
    tag: ""

  cacheServer:
    imagePullPolicy: Always
    registryPath: ""
    tag: "7.4-bookworm"

  fileServer:
    imagePullPolicy: Always
    registryPath: ""
    tag: ""

  backend:
    imagePullPolicy: Always
    registryPath: ""
    tag: ""

  db:
    imagePullPolicy: Always
    registryPath: ""
    tag: "8.0"

  busybox:
    imagePullPolicy: Always
    registryPath: ""
    tag: "1.28"

config:
  fileServer:
    redisCacheFiles: &redisCacheFiles false

  backend:
    broadcastServiceEnabled: true
    fileServiceEnabled: false
    redisCacheFiles: *redisCacheFiles

  cacheServer:
    redisMemoryMax: 1gb

secret:
  fileServer:
    redisPassword: &redisPassword change_me

  backend:
    redisPassword: *redisPassword
    mysqlUser: &dbUser iqb_tba_db_user
    mysqlPassword: &dbUserPassword change_me
    passwordSalt: change_me

  cacheServer:
    redisPassword: *redisPassword

  db:
    mysqlUser: *dbUser
    mysqlPassword: *dbUserPassword
    mysqlRootPassword: change_me

ingress:
  traefikEnabled: false
  baseDomain: testcenter.domain.tld
  httpPort: 80
  httpsPort: 443
  tlsEnabled: false
  tlsCertResolver: ""

deployment:
  backend:
    replicas: 1
    strategy:
      type: RollingUpdate
      rollingUpdate:
        maxSurge: 1
        maxUnavailable: 0

  frontend:
    replicas: 1
    strategy:
      type: RollingUpdate
      rollingUpdate:
        maxSurge: 1
        maxUnavailable: 0

  fileServer:
    replicas: 1
    strategy:
      type: RollingUpdate
      rollingUpdate:
        maxSurge: 1
        maxUnavailable: 0

persistence:
  longhornEnabled: false
  longhornUIEnabled: false
  longhornUISubdomain: longhorn

  backendPvcStorageClassName: standard
  backendPvcAccessMode: ReadWriteOnce
  backendPvcSize: 2Gi

  backendConfigPvcStorageClassName: standard
  backendConfigPvcAccessMode: ReadWriteOnce
  backendConfigPvcSize: 100Mi

  dbPvcStorageClassName: standard
  dbPvcAccessMode: ReadWriteOnce
  dbPvcSize: 2Gi
