<mat-sidenav-container>
  <mat-sidenav opened="true" mode="side" class="toolbar" fixedInViewport="true" fixedTopGap="55">
    <div class="toolbar-section" *ngIf="seletedAttachment">
      <h3>Ausgewählt {{seletedAttachment.dataType}}</h3>
      <img *ngIf="seletedAttachment.dataType === 'image'" id="previewImage" [src]="selectedAttachmentImage">
      <br>
      <button
        mat-raised-button
        color="primary"
        *ngIf="seletedAttachment.attachmentType === 'capture-image'"
        (click)="$event.stopPropagation(); printPage(seletedAttachment)"
        matTooltip="Seite neu ausdrucken"
      >
        <mat-icon>description</mat-icon>
      </button>
      <button
        mat-raised-button
        color="primary"
        (click)="deleteAttachment()"
        matTooltip="{{'Anhang Löschen' | customtext:'am_button_delete_attachment' | async}}"
      >
        <mat-icon>delete</mat-icon>
      </button>
      <hr>
    </div>

    <div class="toolbar-section">
      <h3>Anhang hinzufügen:</h3>
      <a mat-raised-button color="primary" [routerLink]="'../capture-image'">
        {{'Seite aufnehemen' | customtext:'am_capture_image' | async}}
      </a>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="adminbackground">
      <h2>
        {{'Übersicht Anhänge ' | customtext:'am_attachment_overview' | async}}
      </h2>
      <table mat-table matSort [dataSource]="dataSource" class="attachment-table">

        <ng-container matColumnDef="personLabel">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Person</th>
          <td mat-cell *matCellDef="let element" (click)="selectAttachment(element)">
            {{element.personLabel}}
          </td>
        </ng-container>

        <ng-container matColumnDef="testLabel">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Test</th>
          <td mat-cell *matCellDef="let element" (click)="selectAttachment(element)">
            {{element.testLabel}}
          </td>
        </ng-container>

        <ng-container matColumnDef="unitLabel">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Aufgabe</th>
          <td mat-cell *matCellDef="let element" (click)="selectAttachment(element)">
            {{element.unitLabel}}
          </td>
        </ng-container>

        <ng-container matColumnDef="attachmentType">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Typ</th>
          <td mat-cell *matCellDef="let element" (click)="selectAttachment(element)">
            <ng-container *ngIf="element.attachmentType === 'capture-image'">
              {{'Foto einer Seite' | customtext:'am_attachment_type_capture-image' | async}}
            </ng-container>
          </td>
        </ng-container>

        <ng-container matColumnDef="lastModified">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Hochgeladen</th>
          <td mat-cell *matCellDef="let element" (click)="selectAttachment(element)">
            {{element.lastModified | date: 'dd.MM.yy HH:mm'}}
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row
            *matRowDef="let row; columns: displayedColumns;"
            [class]="{ selected: (row.attachmentId === seletedAttachment?.attachmentId) }"
        ></tr>
      </table>
    </div>



  </mat-sidenav-content>
</mat-sidenav-container>