:host {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.intro {
  text-align: center;
}

.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.button-box {
  margin-top: auto;
  align-self: end;
  display: flex;
  gap: 9px;
  padding: 20px;
}