<div class="flex-row-wrap" [style.justify-content]="'center'" [style.gap.px]="10">
  <mat-card appearance="raised">
    <mat-card-header>
      <mat-card-title>{{mds.appTitle$ | async}}</mat-card-title>
      <mat-card-subtitle>{{mds.appSubTitle$ | async}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div class="flex-column" [style.gap.px]="10">
        <h4 *ngIf="accessObjects.workspaceAdmin">Studien</h4>
        <button
          *ngFor="let workspace of workspaces"
          mat-raised-button color="primary"
          class="starter"
          [attr.data-cy]="'workspace-' + workspace.id"
          (click)="buttonGotoWorkspaceAdmin(workspace)"
        >
          {{workspace.label}}
        </button>
        <tc-alert
          *ngIf="accessObjects.workspaceAdmin && !workspaces.length"
          level="info"
          text="Aktuell sind keine Studien für Sie freigegeben."
        >
        </tc-alert>

        <h4 *ngIf="accessObjects.studyMonitor">Gesamte Studie überwachen</h4>
        <button
          *ngFor="let accessObject of accessObjects.studyMonitor"
          mat-raised-button color="primary"
          class="starter"
          [attr.data-cy]="'SM-' + accessObject.id"
          (click)="buttonGotoStudyMonitor(accessObject)"
        >
          <div class="starter-title">{{accessObject.label}}</div>
          <div class="starter-status" *ngIf="(!accessObject.flags.scheduled) && (!accessObject.flags.expired)">
            {{'Studien-Monitor Starten' | customtext: 'gm_selection_text' | async}}
          </div>
        </button>


        <h4 *ngIf="accessObjects.testGroupMonitor">Test-Gruppen Überwachung</h4>
        <button
          *ngFor="let accessObject of accessObjects.testGroupMonitor let i = index"
          mat-raised-button color="primary"
          class="starter"
          [disabled]="(!!accessObject.flags.scheduled) || (!!accessObject.flags.expired)"
          [attr.data-cy]="'GM-' + accessObject.id +'-' + i"
          (click)="buttonGotoMonitor(accessObject)"
        >
          <div class="starter-title">{{accessObject.label}}</div>
          <div class="starter-status" *ngIf="(!accessObject.flags.scheduled) && (!accessObject.flags.expired)">
            {{'Gruppen-Monitor Starten' | customtext: 'gm_selection_text' | async}}
            <ng-container *ngIf="accessObject.flags.subLabel">: {{accessObject.flags.subLabel}}</ng-container>
          </div>
          <div class="starter-status" *ngIf="(!!accessObject.flags.expired)">
            {{'Gruppe abgelaufen seit %date.' | customtext: 'gm_selection_text_expired':accessObject.flags.expired | async}}
          </div>
          <div class="starter-status" *ngIf="(!!accessObject.flags.scheduled)">
            {{'Gruppe erst freigegeben ab %date.' | customtext: 'gm_selection_text_scheduled':accessObject.flags.scheduled | async}}
          </div>
        </button>
        <tc-alert
          *ngIf="accessObjects.testGroupMonitor && accessObjects.testGroupMonitor.length === 0"
          level="info"
          text="Sie sind angemeldet. Aktuell sind keine Testgruppen zur Überwachung für Sie freigegeben."
        >
        </tc-alert>

        <h4 *ngIf="accessObjects.attachmentManager && accessObjects.attachmentManager.length">Aufgaben-Anhänge Verwalten</h4>
        <button
          *ngFor="let accessObject of accessObjects.attachmentManager"
          mat-raised-button color="primary"
          class="starter"
          (click)="buttonGotoAttachmentManager(accessObject)"
        >
          <div class="starter-title">{{accessObject.label}}</div>
          <div class="starter-status">Anhänge Verwalten</div>
        </button>

        <h4 *ngIf="accessObjects.testGroupMonitor && accessObjects.test">
          Folgende Testhefte stehen für Sie zur Ansicht bereit:
        </h4>
        <button
          *ngFor="let b of accessObjects.test"
           mat-raised-button color="primary"
           class="starter"
           [disabled]="!!b.flags.locked"
           [attr.aria-label]="'Starte Testheft ' + b.label"
           [attr.data-cy]="'booklet-' + b.id"
           (click)="startTest(b)">
          <div class="starter-title">{{b.label}}</div>
          <div class="starter-status">
            {{b.flags.locked ? 'gesperrt' : (b.flags.running ? 'Fortsetzen' : (accessObjects.testGroupMonitor ? 'Ansehen' : 'Starten'))}}
          </div>
        </button>

        <ng-container *ngIf="accessObjects.sysCheck">
          <h4>System-Check</h4>
          <button
            *ngFor="let sc of accessObjects.sysCheck"
            mat-raised-button
            class="starter"
            color="primary"
            [attr.data-cy]="'syscheck-' + sc.id"
            [routerLink]="['/check', sc.workspaceId, sc.id]"
          >
            <div class="starter-title">{{sc.label}}</div>
            <div class="starter-status">{{sc.description}}</div>          </button>
        </ng-container>
      </div>
      <tc-alert
        *ngIf="(accessObjects.test && !accessObjects.test.length) || !(accessObjects | keyvalue).length"
        level="info"
        customtext="login_noBookletsAvailable"
        text="Für diese Anmeldung wurde kein Test gefunden."
      ></tc-alert>
    </mat-card-content>
    <mat-card-actions [style.justify-content]="'space-between'">
      <button *ngIf="isSuperAdmin" mat-raised-button color="primary" [routerLink]="['/superadmin']" data-cy='goto-superadmin'>
        Systemverwaltung
      </button>
      <button mat-raised-button data-cy="change-password" *ngIf="accessObjects.workspaceAdmin" color="primary" (click)="changePassword()">
        Passwort ändern
      </button>
      <button mat-raised-button data-cy="logout" color="primary" (click)="resetLogin()">Neu anmelden</button>
    </mat-card-actions>
  </mat-card>

  <mat-card appearance="outlined">
    <mat-card-content>
      <div *ngIf="accessObjects.test && !accessObjects.testGroupMonitor">
        <p *ngIf="accessObjects.test.length === 0">{{ 'login_bookletSelectPromptNull' | customtext: 'login_bookletSelectPromptNull' | async}}</p>
        <p *ngIf="accessObjects.test.length === 1">{{ 'login_bookletSelectPromptOne' | customtext: 'login_bookletSelectPromptOne' | async}}</p>
        <p *ngIf="accessObjects.test.length > 1">{{ 'login_bookletSelectPromptMany' | customtext: 'login_bookletSelectPromptMany' | async}}</p>
      </div>
      <tc-status-card data-cy="status-card"></tc-status-card>
    </mat-card-content>
  </mat-card>
</div>
