<h2 class="intro">Introtext placeholder</h2>
<div class="cards">
  @if (claims.workspaceAdmin) {
    @for (workspace of workspaces; track workspace.id; let i = $index) {
      <tc-test-card [name]="workspace.label"
                    (select)="buttonGotoWorkspaceAdmin(workspace)"></tc-test-card>
    }
    @if (!workspaces.length) {
      <tc-alert level="info" text="Aktuell sind keine Studien für Sie freigegeben."></tc-alert>
    }
  }

  @if (claims.studyMonitor) {
    <h3>Gesamte Studie überwachen</h3>
    @for (accessObject of claims.studyMonitor; track accessObject.id) {
      <tc-test-card [name]="accessObject.label" [buttonLabel]="'Studien-Monitor Starten'"
                    (select)="buttonGotoStudyMonitor(accessObject)">
      </tc-test-card>
    }
  }

  @if (claims.testGroupMonitor) {
    <h3>Testgruppen-Überwachung</h3>
    @for (accessObject of claims.testGroupMonitor; track accessObject.id; let i = $index) {
      <tc-test-card [name]="accessObject.label"
                    [buttonLabel]="'Gruppen-Monitor Starten'"
                    [disabled]="(!!accessObject.flags.scheduled) || (!!accessObject.flags.expired)"
                    (select)="buttonGotoMonitor(accessObject)">
      </tc-test-card>
    }
    <tc-alert *ngIf="claims.testGroupMonitor.length === 0"
              level="info"
              text="Sie sind angemeldet. Aktuell sind keine Testgruppen zur Überwachung für Sie freigegeben.">
    </tc-alert>
  }

  @if (claims.attachmentManager && claims.attachmentManager.length) {
    <h4>Aufgaben-Anhänge Verwalten</h4>
    <button *ngFor="let accessObject of claims.attachmentManager"
            mat-raised-button class="starter" (click)="buttonGotoAttachmentManager(accessObject)">
      <div class="starter-title">{{accessObject.label}}</div>
      <div>Anhänge Verwalten</div>
    </button>
  }

  @if (claims.test) {
    @for (booklet of availableBooklets; track booklet.name) {
      <tc-test-card [name]="booklet.name" [mode]="booklet.mode" (select)="startTest(booklet.claim)"></tc-test-card>
    }
  }

  @if (claims.sysCheck) {
    <h4>System-Check</h4>
    <button *ngFor="let sc of claims.sysCheck" mat-raised-button class="starter"
            [attr.data-cy]="'syscheck-' + sc.id" [routerLink]="['/check', sc.workspaceId, sc.id]">
      <div>{{sc.label}}</div>
      <div>{{sc.description}}</div>
    </button>
  }
</div>

@if ((claims.test && !claims.test.length) || !(claims | keyvalue).length) {
  <tc-alert level="info" customtext="login_noBookletsAvailable"
            text="Für diese Anmeldung wurde kein Test gefunden.">
  </tc-alert>
}

<div class="button-box">
    @if (isSuperAdmin) {
      <button matButton="tonal" [routerLink]="['/superadmin']" data-cy='goto-superadmin-settings'>
        Systemverwaltung
      </button>
    }
    @if (claims.workspaceAdmin) {
      <button matButton="tonal" data-cy="change-password" (click)="changePassword()">
        Passwort ändern
      </button>
    }
    <button matButton="tonal" data-cy="logout" (click)="mds.logOut()">Neu anmelden</button>
    @if (claims.review) {
      <button matButton="tonal" (click)="downloadReview()">
        Reviews downloaden
      </button>
    }
</div>
