<div class="intro">
  <img class="companion-image" [src]="themeService.activeTheme.imagePaths?.starterCompanion" alt="companion-image"/>
  <div class="flex-column">
    <p class="intro-heading">Schön, dass du da bist!</p>
    <p>Komm, wir legen los. Wähle einen Teil aus.</p>
  </div>
</div>

<div class="cards">
  @if (claims.workspaceAdmin) {
    @for (workspace of workspaces; track workspace.id; let i = $index) {
      <tc-test-card [name]="workspace.label"
                    [index]="i"
                    [attr.data-cy]="'workspace-card-' + workspace.label"
                    (select)="buttonGotoWorkspaceAdmin(workspace)"></tc-test-card>
    }
    @if (!workspaces.length) {
      <tc-alert level="info" text="Aktuell sind keine Studien für Sie freigegeben."></tc-alert>
    }
  }

  @if (claims.studyMonitor) {
    <h3>Gesamte Studie überwachen</h3>
    @for (studyMonitor of claims.studyMonitor; track studyMonitor.id) {
      <tc-test-card [name]="studyMonitor.label" [buttonLabel]="'Studien-Monitor Starten'"
                    (select)="buttonGotoStudyMonitor(studyMonitor)">
      </tc-test-card>
    }
  }

  <ng-template #testCardList>
    @for (booklet of availableBooklets; track booklet.name; let i = $index) {
      <tc-test-card [name]="booklet.name"
                    [index]="i"
                    [mode]="booklet.mode"
                    [attr.data-cy]="'booklet-card-'+ booklet.name"
                    (select)="startTest(booklet.claim)"></tc-test-card>
    }
  </ng-template>

  @if (claims.testGroupMonitor) {
    <h3>Testgruppen-Überwachung</h3>
    @for (groupMonitor of claims.testGroupMonitor; track groupMonitor.id; let i = $index) {
      <tc-test-card [name]="groupMonitor.label"
                    [subLabel]="groupMonitor.flags.subLabel"
                    [buttonLabel]="'Gruppen-Monitor Starten'"
                    [disabled]="(!!groupMonitor.flags.scheduled) || (!!groupMonitor.flags.expired)"
                    (select)="buttonGotoMonitor(groupMonitor)"
                    [attr.data-cy]="'gm-card-' + i">
      </tc-test-card>
    }
    <tc-alert *ngIf="claims.testGroupMonitor.length === 0"
              level="info"
              text="Sie sind angemeldet. Aktuell sind keine Testgruppen zur Überwachung für Sie freigegeben.">
    </tc-alert>
    @if (claims.test && monitorBookletVisibility !== 'hidden') {
      <mat-accordion>
        <mat-expansion-panel [expanded]="monitorBookletVisibility !== 'collapsed'">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{ 'Testhefte anzeigen' | customtext : 'gm_show_test' | async }}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <ng-container [ngTemplateOutlet]="testCardList"></ng-container>
        </mat-expansion-panel>
      </mat-accordion>
    }
  }

  @if (claims.attachmentManager && claims.attachmentManager.length) {
    <h4>Aufgaben-Anhänge Verwalten</h4>
    <button *ngFor="let accessObject of claims.attachmentManager"
            mat-raised-button class="starter" (click)="buttonGotoAttachmentManager(accessObject)">
      <div class="starter-title">{{accessObject.label}}</div>
      <div>Anhänge Verwalten</div>
    </button>
  }

  @if (claims.test && !claims.testGroupMonitor) {
    <ng-container [ngTemplateOutlet]="testCardList"></ng-container>
  }

  @if (claims.sysCheck) {
    <h4>System-Check</h4>
    <button *ngFor="let sc of claims.sysCheck" mat-raised-button class="starter"
            [attr.data-cy]="'syscheck-' + sc.id" [routerLink]="['/check', sc.workspaceId, sc.id]">
      <div>{{sc.label}}</div>
      <div>{{sc.description}}</div>
    </button>
  }
</div>

@if ((claims.test && !claims.test.length) || !(claims | keyvalue).length) {
  <tc-alert level="info" customtext="login_noBookletsAvailable"
            text="Für diese Anmeldung wurde kein Test gefunden.">
  </tc-alert>
}

<div #bottomSentinel class="sentinel"></div>

@if (showScrollButton) {
  <button class="scroll-button" (click)="scrollDown()">
    Unten geht es weiter
    <mat-icon svgIcon="arrow_cool_down"></mat-icon>
  </button>
}

<div class="button-box">
  @if (isSuperAdmin) {
    <button matButton="tonal" [routerLink]="['/superadmin']" data-cy='goto-superadmin-settings'>
      Systemverwaltung
    </button>
  }
  @if (claims.workspaceAdmin) {
    <button matButton="tonal" data-cy="change-password" (click)="changePassword()">
      Passwort ändern
    </button>
  }
  @if (claims.review) {
    <button matButton="tonal" (click)="downloadReview()">
      Reviews downloaden
    </button>
  }
</div>
