table {
  /*width: 400px;*/
  /*flex-direction: column;*/
}

#report-cointainer {
  /*display: flex;*/
}

table thead td {
  font-size: 14px;
  border-bottom: 1px solid silver;
  padding-top: 0.4em
}

ul li {
  word-break: break-all;
}

table tr td {
  min-width: 160px
}
