# Compose file for local development and testing. Images are built from
# local directories which need to be cloned from the repository.

services:
  traefik:
    command:
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"
      - "--entrypoints.web.address=:80"
      - "--entrypoints.web.http.redirections.entryPoint.to=websecure"
      - "--entrypoints.web.http.redirections.entryPoint.scheme=https"
      - "--entrypoints.websecure.address=:443"
    ports:
      - "${TLS_PORT}:443"
    volumes:
      - ./tls.yml:/tls-config.yml

  testcenter-backend:
    image: iqbberlin/testcenter-backend:current-prod
    build:
      context: ..
      dockerfile: docker/backend.Dockerfile
      target: prod
    labels:
      - "traefik.http.routers.testcenter-backend.tls=true"
    environment:
      - TLS_ENABLED=yes
    volumes:
      - /dev/null:/usr/local/etc/php/conf.d/docker-php-ext-xdebug.ini # disable xdebug bc not available in prod-image

  testcenter-frontend:
    image: iqbberlin/testcenter-frontend:current-prod
    build:
      context: ..
      dockerfile: docker/frontend.Dockerfile
      target: prod
    labels:
      - "traefik.http.routers.testcenter-frontend.tls=true"
    volumes:
      - ../frontend/config/nginx.conf:/etc/nginx/templates/default.conf.template

  testcenter-broadcasting-service:
    image: iqbberlin/testcenter-broadcasting-service:current-prod
    build:
      context: ..
      dockerfile: docker/broadcasting-service.Dockerfile
      target: prod
    labels:
      - "traefik.http.routers.testcenter-broadcasting-service.tls=true"

  testcenter-file-service:
    image: iqbberlin/testcenter-file-service:current-prod
    build:
      context: ..
      dockerfile: docker/file-service.Dockerfile
    labels:
      - "traefik.http.routers.testcenter-file-service.tls=true"

  testcenter-db:
    image: iqbberlin/testcenter-db:current
    build:
      context: ..
      dockerfile: docker/database.Dockerfile