# Compose file for local development and testing. Images are built from
# local directories which need to be cloned from the repository.
version: '3.9'

services:
  traefik:
    command:
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"
    networks:
      - testcenter

  testcenter-db:
    ports:
      - "9091:3306"
    command:
      - --log_error_verbosity=2
    volumes:
      - ../scripts/database/my.cnf:/etc/mysql/conf.d/my.cnf:ro
      - ../scripts/database/000-create-test-db.sh:/docker-entrypoint-initdb.d/000-create-test-db.sh
    networks:
      - testcenter

  testcenter-backend:
    build:
      context: ..
      dockerfile: docker/backend.Dockerfile
      target: dev
    environment:
      TESTMODE_REAL_DATA: false
    volumes:
      - ../backend/.htaccess:/var/www/backend/.htaccess
      - ../backend/config/vhost.conf:/etc/apache2/sites-available/vhost.conf
      - ../backend/autoload.php:/var/www/backend/autoload.php
      - ../backend/index.php:/var/www/backend/index.php
      - ../backend/initialize.php:/var/www/backend/initialize.php
      - ../backend/routes.php:/var/www/backend/routes.php
      - ../backend/src:/var/www/backend/src
      - ../backend/test:/var/www/backend/test
      - ../data:/var/www/data
      - ../scripts/database:/var/www/scripts/database
      - ../definitions:/var/www/definitions
      - ../docs/dist:/docs/dist
      - ../package.json:/var/www/package.json
      - ../sampledata:/var/www/sampledata
      - ../backend/config/no-cors.htaccess/:/var/www/.htaccess
      # Uncomment the following lines to enable xdebug
      - ../backend/config/docker-php-ext-xdebug.ini:/usr/local/etc/php/conf.d/docker-php-ext-xdebug.ini
      - ../backend/config/local.php.ini:/usr/local/etc/php/conf.d/local.ini
    ports:
      - 9005:9003
    extra_hosts:
      - "host.docker.internal:host-gateway"
    networks:
      - testcenter

  testcenter-frontend:
    build:
      context: ..
      dockerfile: docker/frontend.Dockerfile
      target: dev
    volumes:
      - ../common:/common
      - ../definitions:/definitions
      - ../frontend/src:/app/src
      - ../frontend/config/nginx.conf:/etc/nginx/conf.d/default.conf
#      - ./docs/dist:/docs/dist TODO don't we need this for karma test coverage?
    networks:
      - testcenter

  testcenter-broadcasting-service:
    build:
      context: ..
      dockerfile: docker/broadcasting-service.Dockerfile
      target: dev
    volumes:
      - ../common:/common
      - ../broadcasting-service/src:/app/src
    networks:
      - testcenter

  testcenter-files-service:
    build:
      context: ..
      dockerfile: docker/files-service.Dockerfile
      args:
        ENABLED_MODULES: lua
    volumes:
      - ../data:/var/www/html/
      - ../scripts/files-service/nginx.conf:/etc/nginx/nginx.conf # customized conf mainly because of logging
      - ../scripts/files-service/site.conf:/etc/nginx/sites-enabled/default # overwrite default!
      - ../scripts/files-service/auth/:/usr/share/nginx/auth
    networks:
      - testcenter

  testcenter-cache-service:
    ports:
      - "6379:6379"

  testcenter-task-runner:
    container_name: testcenter-runner
    profiles:
      - task-runner
    build:
      context: ..
      dockerfile: docker/runner.Dockerfile
    environment:
      TC_API_URL: http://testcenter-backend
    volumes:
      - ../README.md:/app/README.md
      - ../broadcasting-service:/app/broadcasting-service
      - ../common:/app/common
      - ../definitions:/app/definitions
      - ../dist-src:/app/dist-src
      - ../dist:/app/dist
      - ../docker/docker-compose.yml:/app/docker-compose.yml
      - ../docs:/app/docs
      - ../frontend:/app/frontend
      - ../package.json:/app/package.json
      - ../sampledata:/app/sampledata
      - ../scripts:/app/scripts
      - ../test:/app/test
    networks:
      - testcenter
