<form [formGroup]="configForm" class="flex-column">
  <h4>Warnung auf der Startseite</h4>
  <div>
    <mat-form-field appearance="fill">
      <mat-label>Text</mat-label>
      <textarea matInput formControlName="globalWarningText"
                cdkTextareaAutosize
                cdkAutosizeMinRows="1"></textarea>
    </mat-form-field>
    <div class="flex-row-wrap" [style.align-items]="'center'" [style.gap.px]="20">
      <p>Zeige Warnung bis</p>
      <mat-form-field>
        <mat-label>Datum</mat-label>
        <input matInput formControlName="globalWarningExpiredDay" [matDatepicker]="picker">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Uhrzeit" formControlName="globalWarningExpiredHour">
          <mat-option *ngFor="let m of expiredHours | keyvalue" [value]="m.key">
            {{m.value}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <p *ngIf="warningIsExpired" [style.color]="'darkgoldenrod'">Zeitpunkt ist in der Vergangenheit.</p>
    </div>
  </div>

  <h4>Name der Anwendung</h4>
  <mat-form-field appearance="fill">
    <input matInput formControlName="appTitle" placeholder="Name">
  </mat-form-field>

  <h4>Html-Inhalt für die Startseite rechts</h4>
  <mat-form-field appearance="fill">
    <textarea matInput formControlName="introHtml"
              cdkTextareaAutosize
              cdkAutosizeMinRows="6"></textarea>
  </mat-form-field>

  <h4>Html-Inhalt für die Impressum-/Datenschutzseite</h4>
  <mat-form-field appearance="fill">
    <textarea matInput formControlName="legalNoticeHtml"
              cdkTextareaAutosize
              cdkAutosizeMinRows="6"></textarea>
  </mat-form-field>

  <h4>Logo</h4>
  <div class="flex-row-wrap" [style.align-items]="'center'" [style.gap.px]="10">
    <img class="logo-img" [src]="logoImageBase64" />
    <input #hiddenimgfileinput type="file" (change)="imgFileChange($event)" [hidden]="true"/>
    <button mat-raised-button (click)="hiddenimgfileinput.click()"
            matTooltip="Logo hochladen/aktualisieren" matTooltipPosition="above">
      <mat-icon>cloud_upload</mat-icon>
    </button>
    <button mat-raised-button (click)="removeLogoImg()"
            matTooltip="Logo auf Standard setzen" matTooltipPosition="above">
      <mat-icon>delete</mat-icon>
    </button>
    <tc-alert *ngIf="imageError" level="error" [text]="imageError"></tc-alert>
  </div>

  <h4>Hintergrundfarbe Anwendung</h4>
  <mat-form-field appearance="fill">
    <input matInput formControlName="backgroundBody" placeholder="Farbe" #backgroundInput>
    <button mat-icon-button matSuffix (click)="backgroundColorInput.click()">
      <mat-icon>edit</mat-icon>
    </button>
  </mat-form-field>
  <input matInput type="color" hidden #backgroundColorInput
         formControlName="backgroundBody"
         (change)="backgroundInput.value = $any($event.target).value">

  <h4>Hintergrundfarbe sekundäre Boxen</h4>
  <mat-form-field appearance="fill">
    <input matInput formControlName="backgroundBox" placeholder="Farbe" #backgroundBoxInput>
    <button mat-icon-button matSuffix (click)="backgroundBoxColorInput.click()">
      <mat-icon>edit</mat-icon>
    </button>
  </mat-form-field>
  <input matInput type="color" hidden #backgroundBoxColorInput
         formControlName="backgroundBox"
         (change)="backgroundBoxInput.value = $any($event.target).value">

  <button mat-raised-button color="primary"
          data-cy="Settings:Submit-ApplicationConfiguration"
          [style.align-self]="'start'"
          [disabled]="!dataChanged" (click)="saveData()">
    Speichern
  </button>
</form>
