apiVersion: v1
kind: Service
metadata:
  name: testcenter-cache-service # !!! Hard coded in application as internal address !!! @TODO: Should be '{{ .Release.Name }}-cache-server-service'
spec:
  selector:
    app: {{ .Release.Name }}-cache-server-pod
  ports:
    - name: http-service
      port: 6379
      targetPort: http-container
