<mat-card appearance="raised" *ngIf="files.length > 0">
  <mat-card-header>
    <mat-card-title>Upload-Report</mat-card-title>
  </mat-card-header>

  <mat-card-content data-cy="upload-report">
    <tc-files-upload
      [files]="files"
      [fileAlias]="fileAlias"
      [folderName]="folderName"
      [folder]="folder"
      (removeFileRequestEvent)="removeFile($event)"
      (statusChangedEvent)="analyseStatus()">
    </tc-files-upload>
  </mat-card-content>

  <mat-card-actions>
    <button
      *ngIf="!disableClearButton" (click)="removeAll()" mat-raised-button data-cy="close-upload-report">Ok</button>
  </mat-card-actions>
</mat-card>
