{{- if .Values.config.backend.fileServiceEnabled }}

apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}-file-server
spec:
  replicas: {{ .Values.deployment.fileServer.replicas }}
  {{- if .Values.deployment.fileServer.strategy }}
  strategy:
    {{- .Values.deployment.fileServer.strategy | toYaml | nindent 4 }}
  {{- end }}
  selector:
    matchLabels:
      app: {{ .Release.Name }}-file-server-pod
  template:
    metadata:
      annotations:
        checksum/config: {{ include (print $.Template.BasePath "/file-server/configmap.yaml") . | sha256sum }}
        checksum/config-nginx: {{ include (print $.Template.BasePath "/file-server/configmap-nginx.yaml") . | sha256sum }}
      labels:
        app: {{ .Release.Name }}-file-server-pod
    spec:
      containers:
        - name: {{ .Release.Name }}-file-server-container
          image: "{{ .Values.image.fileServer.registryPath }}iqbberlin/testcenter-file-service:{{ .Values.image.fileServer.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.fileServer.imagePullPolicy }}
          env:
            - name: REDIS_HOST
              value: "testcenter-cache-service"
            - name: REDIS_CACHE_FILES
              valueFrom:
                configMapKeyRef:
                  name: {{ .Release.Name }}-file-server-config
                  key: REDIS_CACHE_FILES
          volumeMounts:
            - name: backend-volume
              mountPath: /var/www/html/
            - name: nginx-config-volume
              mountPath: /etc/nginx/nginx.conf
              subPath: nginx.conf-in-volume
      volumes:
        - name: backend-volume
          persistentVolumeClaim:
            claimName: {{ .Release.Name }}-backend-pvc
        - name: nginx-config-volume
          configMap:
            name: file-server-nginx-config
            items:
              - key: config.nginx.conf
                path: nginx.conf-in-volume

{{- end }}
