apiVersion: v1
kind: Service
metadata:
  name: testcenter-file-service # !!! Hard coded in application as internal address !!! @TODO: Should be '{{ .Release.Name }}-file-server-service'
spec:
  selector:
    app: {{ .Release.Name }}-file-server-pod
  ports:
    - protocol: TCP
      port: 8080
      targetPort: 8080
