<div class="login-page">
  <div class ="welcome-section">
    @if (illustrationImageSrc) {
      <img [src]="illustrationImageSrc" alt="illustration image">
    }
    <div>
      <p class="heading">
        {{ 'Willkommen im IQB‑Testcenter' | customtext : 'login_sidepanel_title' | async }}
      </p>
      <p>
        {{ 'Das IQB-Testcenter ist eine Anwendung des Instituts zur Qualitätsentwicklung im ' +
           'Bildungswesen (IQB) zur Durchführung digitaler Tests und Befragungen. Der Zugang ist mit den ' +
           'Zugangsdaten möglich, die Sie vorab erhalten haben.' | customtext : 'login_sidepanel_subtitle' | async }}
      </p>
    </div>
  </div>
  <div class="login-section">
    @if (!username) {
      <form [formGroup]="loginForm" (ngSubmit)="nameInput()">
        <h2>
          Anmeldenamen eingeben
        </h2>
        <mat-form-field appearance="outline">
          <mat-label>Anmeldename</mat-label>
          <input matInput formControlName="name" autocapitalize="off">
        </mat-form-field>
        @if (problemText) {
          <tc-alert [attr.data-cy]="'login-problem:' + problemCode"
                    [level]="problemLevel" [text]="problemText"></tc-alert>
        }
        <button matButton="filled" type="submit" data-cy="login-user"
                [disabled]="!loginForm.get('name')?.valid">
          <mat-icon svgIcon="chevron_right"></mat-icon>
          Weiter
        </button>
      </form>
    }
    @else {
      <form [formGroup]="loginForm" (ngSubmit)="passwordInput()">
        <div class="password-headline">
          <button matIconButton type="reset" (click)="username = null;">
            <mat-icon svgIcon="chevron_left"></mat-icon>
          </button>
          <h2>
            Kennwort eingeben (Benutzer: {{ username }} )
          </h2>
        </div>
        <mat-form-field appearance="outline">
          <mat-label>Kennwort</mat-label>
          <input matInput #pw formControlName="pw"
                 [type]="showPassword ? 'text' : 'password'"
                 (keyup)="clearWarning(); checkCapsLock($event)">
          <button mat-icon-button matSuffix type="button"
                  [attr.aria-label]="'Hide password'" [attr.aria-pressed]="showPassword"
                  (click)="showPassword = !showPassword">
            <mat-icon svgIcon="visibility"></mat-icon>
          </button>
        </mat-form-field>
        @if (problemText) {
          <tc-alert [attr.data-cy]="'login-problem:' + problemCode"
                    [level]="problemLevel" [text]="problemText"></tc-alert>
        }
        <button matButton="filled" type="submit" data-cy="login-user"
                [disabled]="!loginForm.get('name')?.valid">
          <mat-icon svgIcon="chevron_right"></mat-icon>
          Anmelden
        </button>
      </form>
    }

    @if (mainDataService.globalWarning) {
      <mat-card class="help-box">
        <mat-icon svgIcon="warning"></mat-icon>
        <mat-card-content>{{mainDataService.globalWarning}}</mat-card-content>
      </mat-card>
    }

    @if (unsupportedBrowser.length) {
      <mat-card class="help-box">
        <mat-icon svgIcon="warning"></mat-icon>
        @let oldBrowserText = (
          'Ihr Browser ist veraltet und könnte zu Fehlern führen. Bitte verwenden Sie eine aktuelle Version.'
            | customtext : 'login_unsupportedBrowserBanner'
            : unsupportedBrowser[0]
            : unsupportedBrowser[1]
            | async
        )?.trim();
        <mat-card-content>{{ oldBrowserText }}</mat-card-content>
      </mat-card>
    }

    <div class="button-section">
      <button matButton="tonal" [routerLink]="['/r/admin-login']" data-cy="login-admin-form">
        Adminbereich
      </button>
    </div>
  </div>
</div>
