<div class="flex-row-wrap" [style.justify-content]="'center'" style="gap: 10px; margin-top: 60px;">
  <form [formGroup]="loginForm" (ngSubmit)="login()" [style.display]="'flex'">
    <mat-card appearance="raised">
      <mat-card-header>
        <mat-card-title>Anmelden</mat-card-title>
      </mat-card-header>
      <mat-card-content *ngIf="mainDataService.appConfig">
        <mat-form-field appearance="outline">
          <mat-label>Anmeldename</mat-label>
          <input matInput formControlName="name" autocapitalize="off">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Kennwort</mat-label>
          <input matInput #pw formControlName="pw"
                 [type]="showPassword ? 'text' : 'password'"
                 (keyup)="clearWarning(); checkCapsLock($event)">
          <button mat-icon-button matSuffix type="button"
                  [attr.aria-label]="'Hide password'" [attr.aria-pressed]="showPassword"
                  (click)="showPassword = !showPassword">
            <mat-icon>{{showPassword ? 'visibility' : 'visibility_off'}}</mat-icon>
          </button>
        </mat-form-field>
        <tc-alert *ngIf="problemText" [attr.data-cy]="'login-problem:' + problemCode"
                  [level]="problemLevel" [text]="problemText"></tc-alert>
      </mat-card-content>

      <mat-card-actions [style.justify-content]="'space-between'">
        <button matButton="filled" type="submit" data-cy="login-user"
                [disabled]="!loginForm.get('name')?.valid">
          <mat-icon>chevron_right</mat-icon>
          Weiter
        </button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>
