<ng-container *ngIf="status == 1">
  <div class="subheading-2" *ngFor="let file of files">
    {{file.name}}
  </div>
  <div>
    <mat-progress-bar
      class="upload-progress-bar"
      [value]="progressPercentage"
      [mode]="progressPercentage < 100 ? 'determinate' : 'indeterminate'"
    ></mat-progress-bar>
  </div>
  <div>
    {{progressPercentage}}% Hochgeladen
    <span *ngIf="progressPercentage == 100" class="blinking"> · Dateien werden eingelesen</span>
  </div>
</ng-container>

<ng-container *ngIf="status > 1">
  <ng-container *ngFor="let uploadedFile of uploadResponse | keyvalue">
    <div class="subheading-2 {{uploadedFile.value.error ? 'error' : 'success'}}">
      {{uploadedFile.key}} - {{uploadedFile.value.error ? 'Abgelehnt' : 'Erfolgreich hochgeladen'}}
    </div>
    <ng-container *ngFor="let report of uploadedFile.value | keyvalue">
      <ng-container *ngIf="isAlertLevel(report.key)">
        <tc-alert *ngFor="let reportEntry of report.value" [level]="report.key" [text]="reportEntry"></tc-alert>
      </ng-container>
    </ng-container>
  </ng-container>
</ng-container>
