<div class="sys-check-body flex-row-center">
  <mat-card appearance="raised" [style.width.px]="810">
    <mat-card-header>
      <mat-card-title>Fragen</mat-card-title>
      <mat-card-subtitle>
        {{'Bitte bearbeiten Sie die nachfolgenden Fragen.'| customtext:'syscheck_questionsintro' | async}}
      </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <div *ngIf="form" [formGroup]="form" class="formList">
        <div *ngFor="let question of dataservice.checkConfig?.questions">
          <div [ngSwitch]="question.type" class="formEntry">
            <h3 *ngSwitchCase="'header'">{{ question.options.length > 0 ? question.options : question.prompt }}</h3>
            <mat-form-field *ngSwitchCase="'text'" appearance="outline">
              <mat-label>{{question.prompt}}</mat-label>
              <textarea matInput data-cy="textarea" [formControlName]="question.id" [id]="question.id"
                        cdkTextareaAutosize cdkAutosizeMinRows="4" class="formEntry"></textarea>
            </mat-form-field>
            <mat-form-field *ngSwitchCase="'string'" appearance="outline">
              <mat-label>{{question.prompt}}</mat-label>
              <input matInput data-cy="input-name" [formControlName]="question.id" [id]="question.id" class="formEntry">
            </mat-form-field>
            <mat-form-field *ngSwitchCase="'select'" appearance="outline">
              <mat-label>{{question.prompt}}</mat-label>
              <mat-select [id]="question.id" [formControlName]="question.id" class="formEntry">
                <mat-option *ngFor="let opt of question.options" [value]="opt">
                  {{opt}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <div *ngSwitchCase="'check'">
              <mat-label *ngIf="question.prompt.length > 0">{{question.prompt}}</mat-label>
              <mat-checkbox data-cy="checkbox" *ngSwitchCase="'check'" [formControlName]="question.id" [id]="question.id">{{question.value}}</mat-checkbox>
            </div>
            <div *ngSwitchCase="'radio'">
              <p>{{question.prompt}}</p>
              <mat-radio-group [id]="question.id" [formControlName]="question.id" [name]="question.id">
                <mat-radio-button [attr.data-cy]="opt" *ngFor="let opt of question.options" [value]="opt" class="formEntry">
                  {{opt}}
                </mat-radio-button>
              </mat-radio-group>
            </div>
            <p *ngSwitchDefault>Unbekannter Control-Typ: {{question.type}} für Element-ID {{question.id}}</p>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
