.corner-menu {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 10000;
  border-bottom-left-radius: 10px;
  background: white;
  display: flex;
}

.corner-menu input[type="text"] {
  margin: 1em;
}

mat-sidenav {
  width: min(500px, 100%);
}

mat-sidenav-container.mobile .adminbackground {
  margin-left: 0;
}

.page-body {
  overflow-x: hidden;
}

.adminbackground {
  box-shadow: 5px 10px 20px black;
  background-color: white;
  margin: 0 0 0 15px;
  padding: 15px 15px 10px 15px;
  min-height: 100%;
  overflow: auto;
  scroll-behavior: smooth;
}

.page-header {
  display: flex;
  flex-wrap: wrap;
}

.page-header > p:last-child {
  margin-right: 15px;
}

.page-header > div {
  text-align: right;
  vertical-align: middle;
}

.page-header .fill-remaining-space {
  flex: 1 1 auto;
}

.mat-drawer-content {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: initial;
  height: initial;
  position: absolute;
}

.mat-drawer-container {
  position: initial;
  background: none;
}

.mat-drawer {
  margin: 15px 0 0 0;
  padding: 1em;
}

.toolbar {
  padding: 15px;
}

.toolbar h2 {
  margin-top: 0;
  font-size: 1.5em;
}

.toolbar .mat-mdc-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}

.toolbar-section {
  margin-bottom: 1em
}

.toolbar .control ~ .control {
  margin-left: 15px;
}

.min-height-section {
  min-height: 3em;
}

.toolbar-section-bottom {
  position: absolute;
  bottom: 0;
}