<div class="flex-row-wrap" [style.justify-content]="'center'">
  <mat-card appearance="outlined">
    <mat-card-header>
      <mat-card-title>{{mainDataService.appTitle$ | async}}</mat-card-title>
      <mat-card-subtitle>{{mainDataService.appSubTitle$ | async}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>Hier können Sie ermitteln, ob das Computersystem, das Sie gerade benutzen, für
        die hier vorgesehenen Testungen geeignet ist.</p>
      <p *ngIf="loading">
        Bitte warten... Konfiguration wird geladen
      </p>
      <span *ngIf="!loading">
        <p *ngIf="checkConfigList.length === 0">
          Auf diesem Server ist aktuell kein System-Check verfügbar.
        </p>
        <p *ngIf="checkConfigList.length > 1">
          Bitte wählen Sie einen Check aus!
        </p>
        <p *ngIf="checkConfigList.length === 1">
          Bitte klicken Sie auf den Schalter, um den Check zu starten!
        </p>
      </span>
      <div *ngIf="checkConfigList?.length > 0" class="flex-column" [style.gap.px]="10">
        <button *ngFor="let c of checkConfigList"
                mat-raised-button color="primary"
                (click)="buttonStartCheck(c)">
          <div>
            <p class="check-title">{{c.label}}</p>
            <p class="check-description">{{c.description}}</p>
          </div>
        </button>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button [routerLink]="['/']" mat-raised-button color="primary">
        <mat-icon>arrow_back</mat-icon> zurück zur Startseite
      </button>
    </mat-card-actions>
  </mat-card>
</div>
