.mat-mdc-form-field {
  display: block
}

.mat-mdc-card {
  width: 400px;
}

:host {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 95%;
  margin-bottom: 14px;
}

.login-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  flex-grow: 1;
  width: 98%;
}

.login-wrapper form {
  margin: auto;
}

.button-box {
  align-self: end;
  display: flex;
  gap: 9px;
}
