<tc-debug-pane *ngIf="debugPane" />

<div *ngIf="tcs.booklet?.config?.unit_screenheader !== 'OFF'" class="header flex-row">
  <ng-container *ngIf="tcs.currentUnit && tcs.booklet">
    <h1 *ngIf="tcs.booklet.config?.unit_screenheader ==='WITH_UNIT_TITLE'">{{tcs.currentUnit.label}}</h1>
    <h1 *ngIf="tcs.booklet.config?.unit_screenheader ==='WITH_BOOKLET_TITLE'">{{tcs.booklet.metadata.label || ''}}</h1>
    <h1 *ngIf="tcs.booklet.config?.unit_screenheader ==='WITH_BLOCK_TITLE'">{{tcs.currentUnit.parent.blockLabel || ''}}</h1>
  </ng-container>

  <div class="divider">
    <p *ngIf="tcs.testMode.showTimeLeft || (tcs.booklet?.config?.unit_show_time_left === 'ON')" data-cy="time-value">
      {{timerValue?.timeLeftString}}
    </p>
  </div>


  <tc-unit-nav-bar
    *ngIf="(tcs.booklet?.config?.unit_navibuttons !== 'OFF') && ((tcs.state$ | async) === 'RUNNING')"
    [booklet]="tcs.booklet"
    [prevButtonVisible]="tcs.booklet?.config?.unit_navibuttons !== 'FORWARD_ONLY'"
    [nextButtonVisible]="true"
    [prevButtonEnabled]="!!tcs.navigationTargets.previous"
    [nextButtonEnabled]="!!tcs.navigationTargets.next"
    [retardedDesign]="tcs.booklet?.config?.controller_design === '2018'"
  />

  <button
    mat-button
    (click)="showReviewDialog()"
    *ngIf="tcs.testMode.canReview"
    matTooltip="Kommentar senden"
    data-cy="send-comments">
    <mat-icon>rate_review</mat-icon>
  </button>
  <button
    mat-button
    (click)="toggleFullScreen()"
    *ngIf="tcs.booklet?.config?.show_fullscreen_button !== 'OFF'"
    matTooltip="Vollbild"
    data-cy="fullscreen">
    <mat-icon>{{mainDataService.isFullScreen ? 'fullscreen_exit' : 'fullscreen'}}</mat-icon>
  </button>
  <button
    mat-button
    (click)="unitMenu.toggle(true)"
    *ngIf="(tcs.booklet?.config?.unit_menu !== 'OFF') || tcs.testMode.showUnitMenu"
    matTooltip="Zur Aufgabenliste"
    data-cy="unit-menu">
    <mat-icon>menu</mat-icon>
  </button>
</div>

<mat-sidenav-container
  [class]="{'tc-body': true, 'with-header': tcs.booklet?.config?.unit_screenheader !== 'OFF'}"
  hasBackdrop="true"
>
  <mat-sidenav
    #unitMenu
    mode="over"
    class="sidebar"
    fixedInViewport="true"
    fixedTopGap="55"
    position="end"
    opened="false"
  >
    <tc-unit-menu (close)="unitMenu.close()"></tc-unit-menu>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>