<tc-debug-pane *ngIf="!debugPane" />

<div
  *ngIf="tcs.bookletConfig.unit_screenheader !== 'OFF'"
  class="header flex-row" [style.align-items]="'center'"
>
  <h1 *ngIf="unitScreenHeader">{{unitScreenHeader}}</h1>

  <p
    class="timer"
    *ngIf="tcs.testMode.showTimeLeft || (tcs.bookletConfig.unit_show_time_left === 'ON')"
    [style.margin-left]="'auto'"
  >
    {{timerValue?.timeLeftString}}
  </p>

  <div
    *ngIf="(tcs.bookletConfig.unit_navibuttons !== 'OFF') && ((tcs.state$ | async) === tcs.testControllerStateEnum.RUNNING)"
    class="flex-row"
    [style.align-items]="'safe center'"
    [style.max-height.%]="100"
    [style.margin-left]="'auto'"
  >
    <a
      *ngIf="(tcs.bookletConfig.controller_design === '2018') && (tcs.bookletConfig.unit_navibuttons !== 'FORWARD_ONLY')"
      mat-fab
      matTooltip="Zurück"
      data-cy="unit-navigation-backward"
      [disabled]="firstAccessibleUnit && tcs.currentUnitSequenceId <= firstAccessibleUnit"
      (click)="tcs.setUnitNavigationRequest(unitNavigationTarget.PREVIOUS)"
    >
      <i class="material-icons">chevron_left</i>
    </a>
    <a
      *ngIf="(tcs.bookletConfig.controller_design !== '2018') && (tcs.bookletConfig.unit_navibuttons !== 'FORWARD_ONLY')"
      mat-flat-button
      matTooltip="Zurück"
      data-cy="unit-navigation-backward"
      [style.border-radius]="0"
      [disabled]="firstAccessibleUnit && tcs.currentUnitSequenceId <= firstAccessibleUnit"
      (click)="tcs.setUnitNavigationRequest(unitNavigationTarget.PREVIOUS)"
    >
      <i class="material-icons">chevron_left</i>
    </a>

    <div *ngIf="tcs.bookletConfig.unit_navibuttons !== 'ARROWS_ONLY'" class="unit-nav flex-row">
      <ng-container *ngFor="let u of unitNavigationList">
        <a *ngIf="u.sequenceId"
           mat-flat-button class="unit-nav-item" [class.unit-nav-item-selected]="u.isCurrent"
           [attr.aria-label]="u.longLabel" [attr.data-cy]="u.shortLabel"
           [disabled]="u.disabled"
           (click)="tcs.setUnitNavigationRequest(u.sequenceId.toString())">
          {{u.shortLabel ? u.shortLabel : '&nbsp;'}}
        </a>
      </ng-container>
    </div>

    <a
      *ngIf="tcs.bookletConfig.controller_design === '2018'"
      mat-fab
      matTooltip="Weiter"
      data-cy="unit-navigation-forward"
      [disabled]="lastAccessibleUnit && tcs.currentUnitSequenceId >= lastAccessibleUnit"
      (click)="tcs.setUnitNavigationRequest(unitNavigationTarget.NEXT)"
    >
      <i class="material-icons">chevron_right</i>
    </a>
    <a
      *ngIf="tcs.bookletConfig.controller_design !== '2018'"
      mat-flat-button
      matTooltip="Weiter"
      data-cy="unit-navigation-forward"
      [style.border-radius]="0"
      [disabled]="lastAccessibleUnit && tcs.currentUnitSequenceId >= lastAccessibleUnit"
      (click)="tcs.setUnitNavigationRequest(unitNavigationTarget.NEXT)"
    >
      <i class="material-icons">chevron_right</i>
    </a>
  </div>

  <button
    mat-button
    (click)="showReviewDialog()"
    *ngIf="tcs.testMode.canReview"
    matTooltip="Kommentar senden"
    data-cy="send-comments">
    <mat-icon>rate_review</mat-icon>
  </button>
  <button
    mat-button
    (click)="toggleFullScreen()"
    *ngIf="tcs.bookletConfig.show_fullscreen_button !== 'OFF'"
    matTooltip="Vollbild"
    data-cy="fullscreen">
    <mat-icon>{{mainDataService.isFullScreen ? 'fullscreen_exit' : 'fullscreen'}}</mat-icon>
  </button>
  <button
    mat-button
    (click)="unitMenu.toggle(true)"
    *ngIf="(tcs.bookletConfig.unit_menu !== 'OFF') || tcs.testMode.showUnitMenu"
    matTooltip="Zur Aufgabenliste"
    data-cy="unit-menu">
    <mat-icon>menu</mat-icon>
  </button>
</div>

<mat-sidenav-container
  [class]="{'tc-body': true, 'with-header': tcs.bookletConfig.unit_screenheader !== 'OFF'}"
  hasBackdrop="true"
>
  <mat-sidenav
    #unitMenu
    (click)="unitMenu.toggle(false)"
    mode="over"
    class="sidebar"
    fixedInViewport="true"
    fixedTopGap="55"
    position="end"
  >
    <tc-unit-menu [menu]="unitNavigationList"></tc-unit-menu>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

