.divider {
  color: lightgray;
  margin: 0 auto 0 auto;
}

.tc-body {
  overflow-x: auto;
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
}

.tc-body.with-header {
  top: 65px;
}

h1 {
  font-size: 1.5em;
}

.header {
  color: white;
  height: 65px;
  padding-left: 116px;
  align-items: center;
}



.header .mdc-fab[disabled="true"],
.header .mdc-button[disabled="true"] {
  background-color: darkgray;
}

.header .mat-mdc-button.mat-unthemed {
  color: white;
}

mat-sidenav {
  width: 700px;
}


.sidebar {
  min-width: 200px;
  /*width: 500px;*/
  max-width: 100%;
}

.with-header .sidebar {
  top: 65px !important;
}

.mat-drawer-container {
  background: transparent !important;
}