<tc-debug-pane *ngIf="debugPane" />

@if (tcs.booklet?.config?.unit_screenheader !== 'OFF') {
  <div class="nav-header flex-row">
    <ng-container *ngIf="tcs.navigation$ | async as navigation">
      <tc-unit-nav-bar
        *ngIf="(tcs.booklet?.config?.unit_navibuttons !== 'OFF') && ((tcs.state$ | async) === 'RUNNING')"
        [booklet]="tcs.booklet"
        [showInnerBox]="true"
        [prevButtonVisible]="true"
        [nextButtonVisible]="true"
        [prevButtonEnabled]="!!navigation.targets.previous"
        [nextButtonEnabled]="!!navigation.targets.next"
        [forwardAllowed]="navigation.directions.forward"
        [backwardAllowed]="navigation.directions.backward"/>
    </ng-container>

    <tc-navigation-control [navContext]="unitNavContext"
                           (back)="tcs.setUnitNavigationRequest(unitNavigationTarget.PREVIOUS)"
                           (forward)="tcs.setUnitNavigationRequest(unitNavigationTarget.NEXT)">
    </tc-navigation-control>
    <tc-navigation-control [navContext]="pageNavContext"
                           (back)="gotoPreviousPage()"
                           (forward)="gotoNextPage()">
    </tc-navigation-control>

    <button mat-button *ngIf="tcs.testMode.canReview" matTooltip="Kommentar verfassen" data-cy="send-comments"
            (click)="sideNavContent = 'review-form'; sidenav.toggle()">
      <mat-icon svgIcon="rate_review"></mat-icon>
    </button>
  </div>

  <div class="toolbar-header flex-row" data-cy="unit-screenheader">
    <h2>{{currentUnit?.label}}</h2>

    <p *ngIf="tcs.testMode.showTimeLeft || (tcs.booklet?.config?.unit_show_time_left === 'ON')" data-cy="time-value">
      {{timerValue?.timeLeftString}}
    </p>

    <button matButton [style.margin-left]="'auto'" data-cy="unit-menu"
            (click)="sideNavContent = 'unit-menu'; sidenav.toggle(true)">
      <mat-icon svgIcon="clock_loader_60"></mat-icon>
      Bearbeitungsstand
    </button>

    <button matIconButton class="menu-button" [matMenuTriggerFor]="menu">
      <mat-icon svgIcon="more_vert"></mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="toggleFullScreen()" data-cy="fullscreen">
        <mat-icon svgIcon="arrows_output"></mat-icon>
        <span>Vollbild</span>
      </button>
      <button mat-menu-item (click)="reload()" data-cy="reloadPage">
        <mat-icon svgIcon="autorenew"></mat-icon>
        <span>Neu laden</span>
      </button>
    </mat-menu>
  </div>
}

<mat-sidenav-container>
  <mat-sidenav #sidenav mode="over" position="end" opened="false" (openedStart)="reviewComponent?.onOpen()">
    @if (sideNavContent === 'review-form') {
      <tc-review-panel (close)="sidenav.close()"></tc-review-panel>
    } @else {
      <tc-unit-menu (close)="sidenav.close()"></tc-unit-menu>
    }
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>
