.timer {
  color: lightgray;
  margin: 0 10px;
}

.tc-body {
  overflow-x: auto;
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
}

.tc-body.with-header {
  top: 65px;
}

h1 {
  font-size: 1.5em;
}

.header {
  color: white;
  height: 65px;
  padding-left: 116px;
}

.unit-nav {
  margin: 0 5px;
  flex-wrap: wrap;
  z-index: 2;
  max-height: 100%;
}

.unit-nav .unit-nav-item {
  font-size: 12px;
  border-radius: 0;
  height: 30px;
  white-space: normal;
  line-height: normal;
  display: flex;
  align-items: safe center;
  justify-content: center;
  text-align: center;
  overflow: clip;
  width: 30px;
  padding: 0;
  min-width: unset;
}

.unit-nav a:not(:last-child) {
  border-right: lightgray 1px solid;
}

.header .mdc-fab[disabled="true"],
.header .mdc-button[disabled="true"] {
  background-color: darkgray;
}

.header .mat-mdc-button.mat-unthemed {
  color: white;
}

.unit-nav-item-selected {
  background-color: var(--accent) !important;
}

.unit-nav-item-selected[disabled="true"] {
  color: black;
}

.debug-pane {
  color: orange;
  position: absolute;
  background: black;
  z-index: 10000;
  padding: 2px;
  box-shadow: 0px 1px 14px 2px rgba(0,0,0,0.75);
}

.debug-pane b {
  color: white;
  font-weight: normal;
}

.sidebar {
  min-width: 200px;
  max-width: 25%;
}

.with-header .sidebar {
  top: 65px !important;
}

.mat-drawer-container {
  background: transparent !important;
}