<form [formGroup]="reviewForm" (ngSubmit)="saveReview()">
  <div class="scrollable-area">
    <div>
      <mat-form-field class="username">
        <input matInput formControlName="reviewer" placeholder="Mein Name" cdkFocusInitial data-cy="comment-diag-reviewer">
      </mat-form-field>
    </div>
    <div>
      <mat-radio-group formControlName="target">
        <label>Der Kommentar wird gegeben für:</label>
        <mat-radio-button value="booklet" [disabled]="editedReview && isUnitReview"
                          [matTooltip]="bookletname" data-cy="comment-diag-currentBklt">
          aktuelles Testheft "{{ bookletname }}"
        </mat-radio-button>
        <mat-radio-button value="unit" [disabled]="(unitAlias?.length === 0) || editedReview && !isUnitReview"
                          [matTooltip]="unitAlias"
                          data-cy="comment-diag-currentUnit">
          aktuelle Aufgabe "{{ unitTitle }}"
        </mat-radio-button>
        <mat-radio-button value="task" [disabled]="(unitAlias?.length === 0) || editedReview && !isUnitReview"
                          data-cy="comment-diag-currentPage">
          folgende Teilaufgabe:
          <mat-form-field [appearance]="'outline'">
            <input matInput formControlName="targetLabel" (click)="reviewForm.patchValue({target: 'task'});"/>
          </mat-form-field>
        </mat-radio-button>
      </mat-radio-group>
    </div>
    <mat-form-field appearance="fill">
      <mat-label>Kommentar</mat-label>
      <textarea matInput formControlName="entry" cdkTextareaAutosize cdkAutosizeMinRows="5"
                data-cy="comment-diag-comment"></textarea>
    </mat-form-field>
    <div class="prio-and-category-box">
      <div>
        <label>Priorität</label>
        <mat-radio-group formControlName="priority">
          <mat-radio-button [value]="1" data-cy="comment-diag-priority1">dringend/kritisch</mat-radio-button>
          <mat-radio-button [value]="2" data-cy="comment-diag-priority2">mittelfristig</mat-radio-button>
          <mat-radio-button [value]="3" data-cy="comment-diag-priority3">optional</mat-radio-button>
        </mat-radio-group>
      </div>
      <div>
        <label>Kategorie</label>
        <ul>
          <li>
            <mat-checkbox formControlName="tech" data-cy="comment-diag-cat-tech">Technisches</mat-checkbox>
          </li>
          <li>
            <mat-checkbox formControlName="content" data-cy="comment-diag-cat-content">Inhaltliches</mat-checkbox>
          </li>
          <li>
            <mat-checkbox formControlName="design" data-cy="comment-diag-cat-design">Gestaltung</mat-checkbox>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="action-buttons">
    <button mat-raised-button type="submit" color="primary" class="save-button" data-cy="comment-diag-submit"
            [disabled]="!reviewForm.dirty || reviewForm.invalid">
      {{ isEditingReview ? 'Aktualisieren' : 'Speichern' }}
    </button>
    @if (isEditingReview) {
      <button mat-button type="button" color="warn" (click)="deleteReview()">
        Kommentar Löschen
      </button>
    }
    <button mat-button type="button" (click)="close.emit()">
      Schließen
    </button>
  </div>
</form>