<h1 mat-dialog-title data-cy="dialog-title">{{ confirmdata.title }}</h1>

<mat-dialog-content data-cy="dialog-content">
  <p>
    {{ confirmdata.content }}
  </p>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-raised-button color="primary" [mat-dialog-close]="true" data-cy="dialog-confirm">{{ confirmdata.confirmbuttonlabel }}</button>
  <button mat-raised-button *ngIf="showcancel" [mat-dialog-close]="false" data-cy="dialog-cancel">{{ confirmdata.cancelbuttonlabel }}</button>
</mat-dialog-actions>

