<form data-cy="dialog-change-superadmin" [formGroup]="passwordform" autocomplete="off">
  <h1 mat-dialog-title>{{data}}</h1>

  <mat-dialog-content>
    <div class="infobox">
      <p>Bitte geben Sie zur Sicherheit Ihr eigenes Kennwort noch einmal ein.</p>
    </div>
    <p>
      <mat-form-field class="full-width">
        <input matInput type="password" formControlName="pw" placeholder="Kennwort" autocomplete="new-password">
      </mat-form-field>
    </p>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-raised-button data-cy="pw-submit" type="submit" [mat-dialog-close]="passwordform" [disabled]="passwordform.invalid">Bestätigen</button>
    <button mat-raised-button [mat-dialog-close]="false">Abbrechen</button>
  </mat-dialog-actions>
</form>
