# Test
## Run
### starts with release word

On Test-Overview-Page,

* click on test

  * "please insert release word"
  
* insert correct release word (`sample`)

  * click "continue"
  
TODO, has to be defined

https://github.com/iqb-berlin/testcenter-iqb-ng/issues/112  

### starts with first unit

From there,

* first unit appears

* unit navigation works TODO

* return to overview-button


...

### review modus

* snackbar mMldungen im review modus

* send comment
