#  Compose file for production environment. Images are NOT locally built but
#  downloaded from Docker-Hub. This is the non-TLS variant using unencrypted
#  communication.

services:
  testcenter-db:
    image: ${DOCKERHUB_PROXY}mysql:8.0
    command:
      - "--explicit-defaults-for-timestamp=TRUE"
      - "--sql-mode=PIPES_AS_CONCAT,ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION"
      - "--tls-version=TLSv1.2,TLSv1.3"
      - "--max-connections=500"
      - "--log_error_verbosity=1"

  testcenter-backend:
    image: ${DOCKERHUB_PROXY}iqbberlin/testcenter-backend:${VERSION}
    volumes:
      - testcenter_backend_vo_data:/var/www/testcenter/data

  testcenter-frontend:
    image: ${DOCKERHUB_PROXY}iqbberlin/testcenter-frontend:${VERSION}
    volumes:
      - ./config/frontend/nginx.conf:/etc/nginx/templates/default.conf.template

  testcenter-broadcasting-service:
    image: ${DOCKERHUB_PROXY}iqbberlin/testcenter-broadcasting-service:${VERSION}

  testcenter-file-service:
    image: ${DOCKERHUB_PROXY}iqbberlin/testcenter-file-service:${VERSION}
