@use '@angular/material' as mat;
@include mat.all-component-typographies();

$iqb-primary: mat.m2-define-palette(mat.$m2-cyan-palette, 900);
$iqb-accent: mat.m2-define-palette(mat.$m2-light-green-palette, A200);

$my-theme: mat.m2-define-light-theme((
  color: (
    primary: $iqb-primary,
    accent: $iqb-accent
  ),
  typography: mat.m2-define-typography-config(),
  density: 0
));

@include mat.all-component-themes($my-theme);

:root {
  --primary: #{mat.m2-get-color-from-palette($iqb-primary)};
  --accent: #{mat.m2-get-color-from-palette($iqb-accent)};
}


