@use '@angular/material' as mat;
@include mat.all-component-typographies();
@include mat.core();


$iqb-primary: mat.define-palette(mat.$cyan-palette, 900);
$iqb-accent: mat.define-palette(mat.$light-green-palette, A200);

$my-theme: mat.define-light-theme((
  color: (
    primary: $iqb-primary,
    accent: $iqb-accent
  ),
  typography: mat.define-typography-config(),
  density: 0
));

@include mat.all-component-themes($my-theme);

:root {
  --primary: #{mat.get-color-from-palette($iqb-primary)};
  --accent: #{mat.get-color-from-palette($iqb-accent)};
}

.mat-mdc-card {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
}

.mat-mdc-card {
  --mdc-outlined-card-container-color: var(--tc-box-background);
}

.mat-mdc-dialog-actions,
.mat-mdc-card-actions {
  margin: auto 0 0 !important;
}

.mat-mdc-card-actions .mdc-button {
  margin-right: 8px;
}

.mat-mdc-card-actions .mdc-button:last-child {
  margin-right: 0;
}
