html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* has to be global because dynamic created element is not in the scope of the component */
iframe.unitHost {
  width: 100%;
  height: 100%;
  background-color: white;
  border: none;
  margin: 0;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-row-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.flex-row-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

/*Styling for account panel. It is an overlay and therefore out of the component's scope*/
.account-menu {
  width: 330px;
  padding: 12px;
}

.account-menu .heading {
  display: flex;
  align-items: center;
  font-size: 22px;
}

.account-menu .heading button {
  margin-left: auto;
  border-radius: 12px;
  border: 1px solid;
}

.account-menu .heading button .mat-mdc-button-persistent-ripple {
  border-radius: inherit;
}

.account-menu dt {
  margin-top: 12px;
  font-weight: 700;
}

.account-menu dd {
  margin-top: 4px;
  margin-inline-start: 0;
}

.account-menu .logout-button {
  margin-top: 12px;
  border: 1px solid var(--mat-sys-primary);
}
