html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.page-body {
  overflow-x: auto;
  position: absolute;
  width: 100%;
  top: 70px;
  bottom: 0;
}

.page-header {
  position: absolute;
  left: 140px;
  width: calc(100% - 140px);
  top: 0;
  padding: 0 10px 0 0;
}

/* has to be global because dynamic created element is not in the scope of the component */
iframe.unitHost {
  width: 100%;
  background-color: white;
  border: none;
  margin: 0;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-row-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.flex-row-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.flex-column {
  display: flex;
  flex-direction: column;
}
