:root {
  --tc-body-background: gray;
  --tc-box-background: lightgray;
  min-height: 100%;
}

body {
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: "Roboto", sans-serif;
  background: var(--tc-body-background);
}

.mat-mdc-tooltip {
  font-size: 100%
}


.page-body {
  overflow-x: auto;
  position: absolute;
  width: 100%;
  top: 70px;
  bottom: 0;
}

.root-body {
  overflow-x: auto;
  position: absolute;
  width: 100%;
  top: 20px;
  bottom: 0;
}

.spinner {
  bottom: 0;
  height: 2em;
  left: 0;
  margin: auto;
  overflow: visible;
  position: fixed;
  right: 0;
  top: 0;
  width: 2em;
  z-index: 999;
}


iframe.unitHost { /* has to be global because dynamic created element is not in the scope of the component */
  width: 100%;
  background-color: white;
  border: none;
  margin: 0;
}

.logo {
  position: absolute;
  left: 5px;
  top: 5px;
  z-index: 999;
}

div.logo img {
  width: 100px;
}

.page-header {
  position: absolute;
  left: 140px;
  width: calc(100% - 140px);
  top: 0;
  padding: 0 10px 0 0;
}

.page-header mat-toolbar {
  position: fixed;
  z-index: 100;
  top: 4px;
  right: 90px;
}

.page-header mat-icon {
  position: relative;
  top: -8px;
  font-size: 36px;
  padding: 2px;
}

.page-header p {
  font-size: 1.5em;
  color: white;
}

#main-alert-container {
  position: fixed !important;

  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1000;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-row-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.flex-row-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.flex-column {
  display: flex !important;
  flex-direction: column;
}

.flex-fill {
  flex: 1 1 auto !important;
}

.table-header {
  font-size: larger;
  font-weight: bold;
}