@use '@angular/material' as mat;
@use './theme-base-colors.scss' as base-colors;

html {
  @include mat.theme((
    color: (
      primary: base-colors.$primary-palette,
      tertiary: base-colors.$tertiary-palette
    ),
    typography: Roboto,
    density: 0,
  ));
}

body {
  color-scheme: light;
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);
}
