@use "@angular/material" as mat;
@use "sass:map";
@use './theme-colors.scss' as theme-colors;

:root, :host {
  @include mat.theme-overrides((
    primary: map.get(theme-colors.$current-theme, primary),
    on-primary: map.get(theme-colors.$current-theme, on-primary),
    primary-container: map.get(theme-colors.$current-theme ,primary-container),
    on-primary-container: map.get(theme-colors.$current-theme ,on-primary-container),
    inverse-primary: map.get(theme-colors.$current-theme ,inverse-primary),
    primary-fixed: map.get(theme-colors.$current-theme ,primary-fixed),
    primary-fixed-dim: map.get(theme-colors.$current-theme ,primary-fixed-dim),
    on-primary-fixed: map.get(theme-colors.$current-theme ,on-primary-fixed),
    on-primary-fixed-variant: map.get(theme-colors.$current-theme ,on-primary-fixed-variant),
    secondary: map.get(theme-colors.$current-theme ,secondary),
    on-secondary: map.get(theme-colors.$current-theme ,on-secondary),
    secondary-container: map.get(theme-colors.$current-theme ,secondary-container),
    on-secondary-container: map.get(theme-colors.$current-theme ,on-secondary-container),
    secondary-fixed: map.get(theme-colors.$current-theme ,secondary-fixed),
    secondary-fixed-dim: map.get(theme-colors.$current-theme ,secondary-fixed-dim),
    on-secondary-fixed: map.get(theme-colors.$current-theme ,on-secondary-fixed),
    on-secondary-fixed-variant: map.get(theme-colors.$current-theme ,on-secondary-fixed-variant),
    tertiary: map.get(theme-colors.$current-theme ,tertiary),
    on-tertiary: map.get(theme-colors.$current-theme ,on-tertiary),
    tertiary-container: map.get(theme-colors.$current-theme ,tertiary-container),
    on-tertiary-container: map.get(theme-colors.$current-theme ,on-tertiary-container),
    tertiary-fixed: map.get(theme-colors.$current-theme ,tertiary-fixed),
    tertiary-fixed-dim: map.get(theme-colors.$current-theme ,tertiary-fixed-dim),
    on-tertiary-fixed: map.get(theme-colors.$current-theme ,on-tertiary-fixed),
    on-tertiary-fixed-variant: map.get(theme-colors.$current-theme ,on-tertiary-fixed-variant),
    background: map.get(theme-colors.$current-theme ,background),
    on-background: map.get(theme-colors.$current-theme ,on-background),
    surface: map.get(theme-colors.$current-theme ,surface),
    surface-dim: map.get(theme-colors.$current-theme ,surface-dim),
    surface-bright: map.get(theme-colors.$current-theme ,surface-bright),
    surface-container-lowest: map.get(theme-colors.$current-theme ,surface-container-lowest),
    surface-container-low: map.get(theme-colors.$current-theme ,surface-container-low),
    surface-container: map.get(theme-colors.$current-theme ,surface-container),
    surface-container-high: map.get(theme-colors.$current-theme ,surface-container-high),
    surface-container-highest: map.get(theme-colors.$current-theme ,surface-container-highest),
    on-surface: map.get(theme-colors.$current-theme ,on-surface),
    shadow: map.get(theme-colors.$current-theme ,shadow),
    scrim: map.get(theme-colors.$current-theme ,scrim),
    surface-tint: map.get(theme-colors.$current-theme ,surface-tint),
    inverse-surface: map.get(theme-colors.$current-theme ,inverse-surface),
    inverse-on-surface: map.get(theme-colors.$current-theme ,inverse-on-surface),
    outline: map.get(theme-colors.$current-theme ,outline),
    outline-variant: map.get(theme-colors.$current-theme ,outline-variant),
    error: map.get(theme-colors.$current-theme ,error),
    error-container: map.get(theme-colors.$current-theme ,error-container),
    on-error: map.get(theme-colors.$current-theme ,on-error),
    on-error-container: map.get(theme-colors.$current-theme ,on-error-container),
    surface-variant: map.get(theme-colors.$current-theme ,surface-variant),
    on-surface-variant: map.get(theme-colors.$current-theme ,on-surface-variant),
  ));
}

.zg2-theme {
  @include mat.theme-overrides((
    primary: map.get(theme-colors.$zg2-theme, primary),
    on-primary: map.get(theme-colors.$zg2-theme, on-primary),
    primary-container: map.get(theme-colors.$zg2-theme ,primary-container),
    on-primary-container: map.get(theme-colors.$zg2-theme ,on-primary-container),
    inverse-primary: map.get(theme-colors.$zg2-theme ,inverse-primary),
    primary-fixed: map.get(theme-colors.$zg2-theme ,primary-fixed),
    primary-fixed-dim: map.get(theme-colors.$zg2-theme ,primary-fixed-dim),
    on-primary-fixed: map.get(theme-colors.$zg2-theme ,on-primary-fixed),
    on-primary-fixed-variant: map.get(theme-colors.$zg2-theme ,on-primary-fixed-variant),
    secondary: map.get(theme-colors.$zg2-theme ,secondary),
    on-secondary: map.get(theme-colors.$zg2-theme ,on-secondary),
    secondary-container: map.get(theme-colors.$zg2-theme ,secondary-container),
    on-secondary-container: map.get(theme-colors.$zg2-theme ,on-secondary-container),
    secondary-fixed: map.get(theme-colors.$zg2-theme ,secondary-fixed),
    secondary-fixed-dim: map.get(theme-colors.$zg2-theme ,secondary-fixed-dim),
    on-secondary-fixed: map.get(theme-colors.$zg2-theme ,on-secondary-fixed),
    on-secondary-fixed-variant: map.get(theme-colors.$zg2-theme ,on-secondary-fixed-variant),
    tertiary: map.get(theme-colors.$zg2-theme ,tertiary),
    on-tertiary: map.get(theme-colors.$zg2-theme ,on-tertiary),
    tertiary-container: map.get(theme-colors.$zg2-theme ,tertiary-container),
    on-tertiary-container: map.get(theme-colors.$zg2-theme ,on-tertiary-container),
    tertiary-fixed: map.get(theme-colors.$zg2-theme ,tertiary-fixed),
    tertiary-fixed-dim: map.get(theme-colors.$zg2-theme ,tertiary-fixed-dim),
    on-tertiary-fixed: map.get(theme-colors.$zg2-theme ,on-tertiary-fixed),
    on-tertiary-fixed-variant: map.get(theme-colors.$zg2-theme ,on-tertiary-fixed-variant),
    background: map.get(theme-colors.$zg2-theme ,background),
    on-background: map.get(theme-colors.$zg2-theme ,on-background),
    surface: map.get(theme-colors.$zg2-theme ,surface),
    surface-dim: map.get(theme-colors.$zg2-theme ,surface-dim),
    surface-bright: map.get(theme-colors.$zg2-theme ,surface-bright),
    surface-container-lowest: map.get(theme-colors.$zg2-theme ,surface-container-lowest),
    surface-container-low: map.get(theme-colors.$zg2-theme ,surface-container-low),
    surface-container: map.get(theme-colors.$zg2-theme ,surface-container),
    surface-container-high: map.get(theme-colors.$zg2-theme ,surface-container-high),
    surface-container-highest: map.get(theme-colors.$zg2-theme ,surface-container-highest),
    on-surface: map.get(theme-colors.$zg2-theme ,on-surface),
    shadow: map.get(theme-colors.$zg2-theme ,shadow),
    scrim: map.get(theme-colors.$zg2-theme ,scrim),
    surface-tint: map.get(theme-colors.$zg2-theme ,surface-tint),
    inverse-surface: map.get(theme-colors.$zg2-theme ,inverse-surface),
    inverse-on-surface: map.get(theme-colors.$zg2-theme ,inverse-on-surface),
    outline: map.get(theme-colors.$zg2-theme ,outline),
    outline-variant: map.get(theme-colors.$zg2-theme ,outline-variant),
    error: map.get(theme-colors.$zg2-theme ,error),
    error-container: map.get(theme-colors.$zg2-theme ,error-container),
    on-error: map.get(theme-colors.$zg2-theme ,on-error),
    on-error-container: map.get(theme-colors.$zg2-theme ,on-error-container),
    surface-variant: map.get(theme-colors.$zg2-theme ,surface-variant),
    on-surface-variant: map.get(theme-colors.$zg2-theme ,on-surface-variant),
  ));
}

.zg3-theme {
  @include mat.theme-overrides((
    primary: map.get(theme-colors.$zg3-theme, primary),
    on-primary: map.get(theme-colors.$zg3-theme, on-primary),
    primary-container: map.get(theme-colors.$zg3-theme ,primary-container),
    on-primary-container: map.get(theme-colors.$zg3-theme ,on-primary-container),
    inverse-primary: map.get(theme-colors.$zg3-theme ,inverse-primary),
    primary-fixed: map.get(theme-colors.$zg3-theme ,primary-fixed),
    primary-fixed-dim: map.get(theme-colors.$zg3-theme ,primary-fixed-dim),
    on-primary-fixed: map.get(theme-colors.$zg3-theme ,on-primary-fixed),
    on-primary-fixed-variant: map.get(theme-colors.$zg3-theme ,on-primary-fixed-variant),
    secondary: map.get(theme-colors.$zg3-theme ,secondary),
    on-secondary: map.get(theme-colors.$zg3-theme ,on-secondary),
    secondary-container: map.get(theme-colors.$zg3-theme ,secondary-container),
    on-secondary-container: map.get(theme-colors.$zg3-theme ,on-secondary-container),
    secondary-fixed: map.get(theme-colors.$zg3-theme ,secondary-fixed),
    secondary-fixed-dim: map.get(theme-colors.$zg3-theme ,secondary-fixed-dim),
    on-secondary-fixed: map.get(theme-colors.$zg3-theme ,on-secondary-fixed),
    on-secondary-fixed-variant: map.get(theme-colors.$zg3-theme ,on-secondary-fixed-variant),
    tertiary: map.get(theme-colors.$zg3-theme ,tertiary),
    on-tertiary: map.get(theme-colors.$zg3-theme ,on-tertiary),
    tertiary-container: map.get(theme-colors.$zg3-theme ,tertiary-container),
    on-tertiary-container: map.get(theme-colors.$zg3-theme ,on-tertiary-container),
    tertiary-fixed: map.get(theme-colors.$zg3-theme ,tertiary-fixed),
    tertiary-fixed-dim: map.get(theme-colors.$zg3-theme ,tertiary-fixed-dim),
    on-tertiary-fixed: map.get(theme-colors.$zg3-theme ,on-tertiary-fixed),
    on-tertiary-fixed-variant: map.get(theme-colors.$zg3-theme ,on-tertiary-fixed-variant),
    background: map.get(theme-colors.$zg3-theme ,background),
    on-background: map.get(theme-colors.$zg3-theme ,on-background),
    surface: map.get(theme-colors.$zg3-theme ,surface),
    surface-dim: map.get(theme-colors.$zg3-theme ,surface-dim),
    surface-bright: map.get(theme-colors.$zg3-theme ,surface-bright),
    surface-container-lowest: map.get(theme-colors.$zg3-theme ,surface-container-lowest),
    surface-container-low: map.get(theme-colors.$zg3-theme ,surface-container-low),
    surface-container: map.get(theme-colors.$zg3-theme ,surface-container),
    surface-container-high: map.get(theme-colors.$zg3-theme ,surface-container-high),
    surface-container-highest: map.get(theme-colors.$zg3-theme ,surface-container-highest),
    on-surface: map.get(theme-colors.$zg3-theme ,on-surface),
    shadow: map.get(theme-colors.$zg3-theme ,shadow),
    scrim: map.get(theme-colors.$zg3-theme ,scrim),
    surface-tint: map.get(theme-colors.$zg3-theme ,surface-tint),
    inverse-surface: map.get(theme-colors.$zg3-theme ,inverse-surface),
    inverse-on-surface: map.get(theme-colors.$zg3-theme ,inverse-on-surface),
    outline: map.get(theme-colors.$zg3-theme ,outline),
    outline-variant: map.get(theme-colors.$zg3-theme ,outline-variant),
    error: map.get(theme-colors.$zg3-theme ,error),
    error-container: map.get(theme-colors.$zg3-theme ,error-container),
    on-error: map.get(theme-colors.$zg3-theme ,on-error),
    on-error-container: map.get(theme-colors.$zg3-theme ,on-error-container),
    surface-variant: map.get(theme-colors.$zg3-theme ,surface-variant),
    on-surface-variant: map.get(theme-colors.$zg3-theme ,on-surface-variant),
  ));
}