$zg1-theme: (
  primary: #196175,
  secondary: #ccdfe5,
  black: #271a2b,
  white: #ffffff,
  gray-05: #f4f2f2,
  gray-50: #938996,
  gray-80: #534856,
  red: #a92319,
  green: #008800,
  gray-65: #746978,
  gray-35: #b6adb9,
  gray-25: #cac5cd,
  gray-15: #dedbdf,
  gray-09: #ebeaec
);

$zg2-theme: (
  primary: #0B2D84,
  secondary: #CED5E6,
  black: #271a2b,
  white: #ffffff,
  gray-05: #f4f2f2,
  gray-50: #938996,
  gray-80: #534856,
  red: #a92319,
  green: #008800,
  gray-65: #746978,
  gray-35: #b6adb9,
  gray-25: #cac5cd,
  gray-15: #dedbdf,
  gray-09: #ebeaec
);

$zg3-theme: (
  primary: #6B369A,
  secondary: #E1D7EB,
  black: #271a2b,
  white: #ffffff,
  gray-05: #f4f2f2,
  gray-50: #938996,
  gray-80: #534856,
  red: #a92319,
  green: #008800,
  gray-65: #746978,
  gray-35: #b6adb9,
  gray-25: #cac5cd,
  gray-15: #dedbdf,
  gray-09: #ebeaec
);

$current-theme: $zg1-theme;
