<div class="flex-row-wrap" [style.justify-content]="'center'" [style.gap.px]="10">
  <mat-card class="flex-column" [style.flex-basis.px]="400">
    <mat-card-title>Verwaltung</mat-card-title>
    <mat-card-subtitle>Bitte Arbeitsbereich wählen</mat-card-subtitle>
    <mat-card-content>
      <div class="flex-column" [style.gap.px]="10">
        <p *ngIf="workspaces.length === 0">
          Sie sind mit Administrator-Funktionen angemeldet. Aktuell sind keine Studien für Sie freigegeben.
        </p>
        <button *ngFor="let workspace of workspaces"
                mat-raised-button color="primary"
                [attr.data-cy]="'workspace-' + workspace.id"
                (click)="buttonGotoWorkspaceAdmin(workspace)">
          {{workspace.label}}
        </button>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button *ngIf="isSuperAdmin"
              mat-raised-button color="primary"
              [routerLink]="['/superadmin']"
              data-cy='goto-superadmin'>
        Systemverwaltung
      </button>
      <button mat-raised-button data-cy="logout" (click)="resetLogin()">
        Neu anmelden
      </button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="status-card" [style.flex-basis.px]="400">
    <mat-card-title>{{mainDataService.appTitle$ | async}}</mat-card-title>
    <mat-card-subtitle>{{mainDataService.appSubTitle$ | async}}</mat-card-subtitle>
    <mat-card-content>
      <tc-status-card></tc-status-card>
    </mat-card-content>
  </mat-card>
</div>
