apiVersion: v2
name: testcenter
description: A Helm chart for Testcenter in Kubernetes

# A chart can be either an 'application' or a 'library' chart.
#
# Application charts are a collection of templates that can be packaged into versioned archives
# to be deployed.
#
# Library charts provide useful utilities or functions for the chart developer. They're included as
# a dependency of application charts to inject those utilities and functions into the rendering
# pipeline. Library charts do not define any templates and therefore cannot be deployed.
type: application

# We treat version and appVersion as the same. This follows the current version of testcenter.
version: 15.3.4

