[mysqld]
explicit_defaults_for_timestamp = TRUE
sql-mode = PIPES_AS_CONCAT,ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION
tls_version=TLSv1.2,TLSv1.3
max_connections = 500
