.debug-pane {
  color: orange;
  position: absolute;
  background: black;
  z-index: 10000;
  padding: 6px;
  box-shadow: 0px 1px 14px 2px rgba(0,0,0,0.75);
  cursor: move;
  max-height: 100%;
  overflow-x: scroll;
}


.tabs div {
  border: 1px solid orange;
  border-radius: 3px;
  text-align: center;
  display: inline-block;
}


.tabs div {
  padding: 3px;
  margin: 6px;
}

.tabs div.active {
  background: orange;
  color: black;
}

.tab {
  display: none;
  padding: 9px;
}

.tab.active-tab {
  display: block;
}

table tr td:first-child,
b {
  color: white;
  font-weight: normal;
}



.testlet {
  padding-left: 1em;
  /*border: 1px solid orange;*/
  /*padding-top: 0.7em;*/
}

table {
  border: 1px solid orange;
  border-radius: 3px;
  padding: 3px;
}

.more-btn {
  cursor: pointer;
  float:right
}

ul {
  margin: 0;
  padding: 0 1.2em;
}

mat-icon {
  font-size: 15px;
  height: 15px;
  width: 15px;
}