.tab,
.tabs {
  color: orange;
  position: absolute;
  background: black;
  z-index: 99; /* below mat tooltip at leat */
  padding: 6px;
  box-shadow: 0 1px 14px 2px rgba(0,0,0,0.75);
  cursor: move;
  max-height: 100%;
  overflow-x: scroll;
  border-radius: 3px;
}

.tabs {
  top: 65px;
}

.tabs div {
  border: 1px solid orange;
  border-radius: 3px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
}

.tabs div:hover {
  background: white;
  color: black;
  border-color: white;
}

.tabs div {
  padding: 3px;
  margin: 6px;
}

.tabs div.active {
  background: orange;
  color: black;
}

.tab {
  padding: 9px;
  top: 130px;
}

/* they are all movable, but may have somehow useful starting positions */
.tab-main {
  top: 120px;
}

.tab-config {
  top: 256px
}

.tab-testmode {
  top: 639px;
}

.tab-units {
  top: 65px;
  right: 0;
}

.tab-customtexts {
  top: 120px;
  left: 160px;
}

.tab-variables {
  bottom: 0;
  left: 50%;
  top: unset;
}


table tr td:first-child,
b {
  color: white;
  font-weight: normal;
}



.testlet {
  padding-left: 1em;
  /*border: 1px solid orange;*/
  /*padding-top: 0.7em;*/
}

table {
  border-radius: 3px;
  padding: 3px;
  width: 100%;
}

tbody tr:first-child td {
  background: orange;
  color: black;
}


.more-btn {
  cursor: pointer;
  float:right
}

.more-btn:hover {
  color: white;
}

ul {
  margin: 0;
  padding: 0 1.2em;
}

mat-icon {
  font-size: 15px;
  height: 15px;
  width: 15px;
}

.badge {
  height: 14px;
  width: 14px;
  font-size: 10px;
  padding: 2px 2px 0;
  box-sizing: border-box;
  display: inline-grid;
  place-content: center;
  border-radius: 7.5px;
  border: 1px solid orange;
  text-align: center;
  margin: 0 2px 0 0;
}

.badge.active {
  background: orange;
  color: black;
}