:host {
  display: flex;
  height: 100%;

  > * {
    width: 50%;
    padding: 24px;
  }

  &.alt-styling {
    background-color: var(--mat-sys-secondary);
  }
}

.form {
  display: flex;
  flex-direction: column;

  tc-code-input {
    flex: 1;
  }
}

.illustration {
  display: flex;
  justify-content: center;
  background-color: var(--mat-sys-secondary);

  img {
    max-height: 70%;
  }
}