:host {
  display: flex;
  height: 100%;

  .form {
    width: 50%;

    &.full-width {
      width: 100%;
    }
  }

  > * {
    padding: 24px;
  }

  &.alt-styling {
    background-color: var(--mat-sys-secondary);
  }
}

.form {
  display: flex;
  flex-direction: column;

  tc-code-input {
    flex: 1;
  }
}

.illustration {
  display: flex;
  justify-content: center;
  background-color: var(--mat-sys-secondary);

  &.hidden {
    display: none;
  }

  img {
    max-height: 70%;
  }
}