<div [ngSwitch]="(tcs.state$ | async)" class="flex-row-wrap" [style.justify-content]="'center'">
  <mat-card appearance="raised" class="mat-card-box" *ngSwitchCase="'PAUSED'">
    <mat-card-header>
      <mat-card-title>{{ tcs.booklet?.metadata?.label }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p><b>Angemeldet als "{{loginName}}"</b></p>
      <p><b>{{tcs.testMode.modeLabel}}</b></p>
      <p style="color: chocolate">
        <b>{{ 'Testpause' | customtext:'booklet_pausedmessage' | async }} </b>
      </p>
    </mat-card-content>
  </mat-card>

  <error
    *ngSwitchCase="'ERROR'"
    [onClose]="reloadPage.bind(this)"
    [closeCaption]="('Neu Laden' | customtext:'booklet_reload' | async) || ''"
    [additionalReport]="{
      login: loginName,
      booklet: tcs.booklet?.metadata?.label || tcs.booklet?.metadata?.id || '',
      mode: tcs.testMode.modeLabel
    }"
  >
    <p style="white-space: pre-wrap">{{ 'Es ist ein Fehler aufgetreten.' | customtext:'booklet_errormessage' | async }}</p>
  </error>

  <mat-card *ngSwitchCase="'LOADING'">
    <mat-card-content>
      <tc-alert level="info" text="Test wird gestartet"></tc-alert>
    </mat-card-content>
  </mat-card>

  <mat-card *ngSwitchCase="'TERMINATED'">
    <mat-card-content>
      <tc-alert level="info" text="Test wird beendet"></tc-alert>
    </mat-card-content>
  </mat-card>
</div>
