<div [ngSwitch]="(tcs.state$ | async)" class="flex-row-wrap" [style.justify-content]="'center'">
  <mat-card appearance="raised" class="mat-card-box" *ngSwitchDefault>
    <mat-card-header>
      <mat-card-title>{{ tcs.booklet?.metadata?.label }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p><b>Angemeldet als "{{loginName}}"</b></p>
      <p><b>{{tcs.testMode.modeLabel}}</b></p>
      <p *ngIf="(tcs.state$ | async) === tcs.testControllerStateEnum.RUNNING" style="color: chocolate">
        <b>Der Test ist aktiv.</b>
      </p>
    </mat-card-content>
    <mat-card-actions [style.justify-content]="'space-between'">
      <button mat-raised-button data-cy="resumeTest-1" color="primary" (click)="continueTest()">
        {{ 'Test fortsetzen'  | customtext:'login_testResumeButtonLabel' | async}}
      </button>
      <button mat-raised-button data-cy="endTest-1" color="primary" (click)="terminateTest()">
        {{ 'Test beenden'  | customtext:'login_testEndButtonLabel' | async}}
      </button>
    </mat-card-actions>
  </mat-card>

  <mat-card appearance="raised" class="mat-card-box" *ngSwitchCase="tcs.testControllerStateEnum.PAUSED">
    <mat-card-header>
      <mat-card-title>{{ tcs.booklet?.metadata?.label }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p><b>Angemeldet als "{{loginName}}"</b></p>
      <p><b>{{tcs.testMode.modeLabel}}</b></p>
      <p style="color: chocolate">
        <b>{{ 'Testpause' | customtext:'booklet_pausedmessage' | async }} </b>
      </p>
    </mat-card-content>
  </mat-card>

  <error
    *ngSwitchCase="tcs.testControllerStateEnum.ERROR"
    [onClose]="reloadPage.bind(this)"
    [closeCaption]="('Neu Laden' | customtext:'booklet_reload' | async) || ''"
    [additionalReport]="{
      login: loginName,
      booklet: tcs.booklet?.metadata?.label || tcs.booklet?.metadata?.id || '',
      mode: tcs.testMode.modeLabel
    }"
  >
    <p style="white-space: pre-wrap">{{ 'Es ist ein Fehler aufgetreten.' | customtext:'booklet_errormessage' | async }}</p>
  </error>

  <mat-card appearance="raised" *ngSwitchCase="tcs.testControllerStateEnum.LOADING" class="progress-bar">
    <mat-card-header>
      <mat-card-title>{{ tcs.booklet?.metadata?.label || 'Test' }}</mat-card-title>
      <mat-card-subtitle>{{'bitte warten' | customtext:'booklet_loading' | async }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <mat-progress-bar
        color="primary"
        mode="determinate"
        [value]="tcs.totalLoadingProgress">
      </mat-progress-bar>
      {{tcs.totalLoadingProgress.toFixed(2)}}%
    </mat-card-content>
  </mat-card>
</div>
