
/* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
mat-card {
  margin: 10px;
}

.mat-mdc-card {
  background-color: var(--tc-box-background);
  width: 400px;
}

.progress-bar {
  margin-top: 10%;
  width: 80%;
}