<form [formGroup]="newPasswordForm">
  <h2 mat-dialog-title>Kennwort ändern</h2>

  <mat-dialog-content>
    <p>Ändern des Kennwortes für "{{ data.username }}".<br>
    Achtung: Mindestlänge für Kennwort 7 Zeichen</p>
    <mat-form-field>
      <input matInput type="password" formControlName="pw" placeholder="Kennwort">
    </mat-form-field>
    <mat-form-field>
      <input matInput type="password" formControlName="pw_confirm" placeholder="Kennwort wiederholen">
    </mat-form-field>
    @if (newPasswordForm.hasError('samePassword') && newPasswordForm.controls.pw.dirty
         && newPasswordForm.controls.pw_confirm.dirty) {
      <mat-error>
        Die Kennwörter stimmen nicht überein.
      </mat-error>
    }
  </mat-dialog-content>

  <mat-dialog-actions>
    <button matButton type="submit" [mat-dialog-close]="newPasswordForm" [disabled]="newPasswordForm.invalid">
      Bestätigen
    </button>
    <button matButton [mat-dialog-close]="false">Abbrechen</button>
  </mat-dialog-actions>
</form>
