<div class="flex-row-wrap" [style.justify-content]="'center'" [style.gap.px]="10">
  <mat-card appearance="raised">
    <mat-card-header>
      <mat-card-title>Testdurchführung überwachen</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="flex-column" [style.gap.px]="10">
        <p *ngIf="problemText" style="color: chocolate"><b>{{ problemText }}</b></p>

        <p *ngIf="!accessObjects.testGroupMonitor || accessObjects.testGroupMonitor.length === 0">
          Sie sind angemeldet. Aktuell sind keine Testgruppen zur Überwachung für Sie freigegeben.
        </p>

        <button *ngFor="let accessObject of accessObjects.testGroupMonitor"
                mat-raised-button color="primary"
                [disabled]="(!!accessObject.flags.scheduled) || (!!accessObject.flags.expired)"
                [attr.data-cy]="'GM-' + accessObject.id"
                (click)="buttonGotoMonitor(accessObject)">
          <span class="booklet_title">{{accessObject.label}}</span>
          <span class="booklet_status" *ngIf="(!accessObject.flags.scheduled) && (!accessObject.flags.expired)">
            {{'Gruppen-Monitor Starten' | customtext: 'gm_selection_text' | async}}
          </span>
          <span class="booklet_status" *ngIf="(!!accessObject.flags.expired)">
            {{'Gruppe abgelaufen seit %date.' | customtext: 'gm_selection_text_expired':accessObject.flags.expired.toString(10) | async}}
          </span>
          <span class="booklet_status" *ngIf="(!!accessObject.flags.scheduled)">
            {{'Gruppe erst freigegeben ab %date.' | customtext: 'gm_selection_text_scheduled':accessObject.flags.scheduled.toString(10) | async}}
          </span>
        </button>

        <ng-container *ngIf="accessObjects.attachmentManager && accessObjects.attachmentManager.length">
          <h4>Aufgaben-Anhänge Verwalten</h4>
          <button *ngFor="let accessObject of accessObjects.attachmentManager"
                  mat-raised-button color="primary"
                  (click)="buttonGotoAttachmentManager(accessObject)">
            <span class="booklet_title">{{accessObject.label}}</span>
            <span class="booklet_status">Anhänge Verwalten</span>
          </button>
        </ng-container>

        <h4>Folgende Testhefte stehen für Sie zur Ansicht bereit:</h4>

        <button *ngFor="let b of accessObjects.test"
                mat-raised-button color="primary"
                [disabled]="!!b.flags.locked"
                (click)="startTest(b)">
          <span class="booklet_title">{{b.label}}</span>
          <span class="booklet_status">{{b.flags.locked ? 'gesperrt' : (b.flags.running ? 'Fortsetzen' : 'Ansehen')}}</span>
        </button>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button data-cy="logout" color="primary" (click)="resetLogin()">Neu anmelden</button>
    </mat-card-actions>
  </mat-card>

  <mat-card appearance="outlined" class="status-card">
    <mat-card-header>
      <mat-card-title>{{mds.appTitle$ | async}}</mat-card-title>
      <mat-card-subtitle>{{mds.appSubTitle$ | async}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <tc-status-card></tc-status-card>
    </mat-card-content>
  </mat-card>
</div>
