<div fxLayout="row wrap" fxLayoutAlign="center stretch">
  <mat-card fxFlex="0 0 400px" fxLayout="column">
    <mat-card-title>Testdurchführung überwachen</mat-card-title>
    <mat-card-content>
      <div fxLayoutGap="10px" fxLayout="column">

        <p *ngIf="problemText" style="color: chocolate"><b>{{ problemText }}</b></p>

        <p *ngIf="!accessObjects.testGroupMonitor || accessObjects.testGroupMonitor.length === 0">
          Sie sind angemeldet. Aktuell sind keine Testgruppen zur Überwachung für Sie freigegeben.
        </p>

        <button
          mat-raised-button
          color="primary"
          (click)="buttonGotoMonitor(accessObject)"
          *ngFor="let accessObject of accessObjects.testGroupMonitor"
        >
          <span class="booklet_title">{{accessObject.label}}</span>
          <span class="booklet_status">{{'gm_selection_text' | customtext: 'gm_selection_text' | async}}</span>
        </button>

        <ng-container *ngIf="accessObjects.attachmentManager && accessObjects.attachmentManager.length">
          <h4>Aufgaben-Anhänge Verwalten</h4>
          <button
            mat-raised-button
            color="primary"
            (click)="buttonGotoAttachmentManager(accessObject)"
            *ngFor="let accessObject of accessObjects.attachmentManager"
          >
            <span class="booklet_title">{{accessObject.label}}</span>
            <span class="booklet_status">Anhänge Verwalten</span>
          </button>
        </ng-container>

        <h4>Folgende Testhefte stehen für Sie zur Ansicht bereit:</h4>

        <button mat-raised-button color="primary" (click)="startTest(b)" [disabled]="!!b.flags.locked"
                *ngFor="let b of accessObjects.test">
          <span class="booklet_title">{{b.label}}</span>
          <span class="booklet_status">{{b.flags.locked ? 'gesperrt' : (b.flags.running ? 'Fortsetzen' : 'Ansehen')}}</span>
        </button>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button data-cy="logout" color="primary" (click)="resetLogin()">Neu anmelden</button>
    </mat-card-actions>
  </mat-card>

  <mat-card fxFlex="0 0 400px" class="mat-card-box">
    <mat-card-title>{{mds.appTitle$ | async}}</mat-card-title>
    <mat-card-subtitle>{{mds.appSubTitle$ | async}}</mat-card-subtitle>
    <mat-card-content>
      <status-card></status-card>
    </mat-card-content>
  </mat-card>
</div>
