<div class="flex-row header">
  <h2>System-Check: {{checkLabel}}</h2>
  <button id="syscheck-previous-step" mat-fab matTooltip="Zurück"
          [disabled]="!ds.prevStep || !ds.loadConfigComplete || !ds.networkCheckStatus.done"
          [routerLink]="[ds.prevStep]">
    <mat-icon svgIcon="keyboard_arrow_left"></mat-icon>
  </button>

  <button id="syscheck-next-step" mat-fab matTooltip="Weiter"
          [disabled]="!ds.nextStep || !ds.loadConfigComplete || !ds.networkCheckStatus.done || !ds.timeCheckDone"
          [routerLink]="[ds.nextStep]">
    <mat-icon svgIcon="keyboard_arrow_right"></mat-icon>
  </button>
</div>

<router-outlet></router-outlet>
