<form data-cy="dialog-change-superadmin" [formGroup]="passwordform" (ngSubmit)="submit()" autocomplete="off">
  <h1 mat-dialog-title>{{data.title}}</h1>

  <mat-dialog-content>
    @if (data.content) {
      <p>{{data.content}}</p>
    }
    <div>
      <p>Bitte geben Sie zur Sicherheit Ihr eigenes Kennwort noch einmal ein.</p>
    </div>
    <p>
      <mat-form-field>
        <input data-cy="dialog-change-superadmin-pw" matInput type="password" formControlName="pw" placeholder="Kennwort" autocomplete="new-password"
               (input)="clearError()">
      </mat-form-field>
    </p>
    @if (errorMessage) {
      <tc-alert data-cy="dialog-change-superadmin-error" level="error" [text]="errorMessage"></tc-alert>
    }
  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-raised-button data-cy="pw-submit" type="submit" [disabled]="passwordform.invalid">{{data.confirmText || 'Bestätigen'}}</button>
    <button mat-raised-button [mat-dialog-close]="false">Abbrechen</button>
  </mat-dialog-actions>
</form>
