#iFrameHost {
  position: fixed;
  width: 100%;
  padding: 0;
  top: 110px;
  bottom: 0;
  background-color: white;
}

.unit-title h2 {
  font-weight: normal;
  text-align: center;
  background-color: white;
  margin: 0;
  padding: 5px;
}

.pageNav {
  position: absolute;
  right: 0;
  height: 45px;
  bottom: 0;
  padding: 0 30px;
  font-size: 1.2em;
  background: transparent;
}
