<div *ngIf="!errorText" class="unit-title">
  <h2>{{'Bitte prüfen Sie die folgenden Aufgaben-Elemente'| customtext:'syscheck_unitPrompt' | async}}</h2>
  <mat-divider></mat-divider>
</div>

<div #iFrameHost id="iFrameHost" *ngIf="!errorText"></div>

<tc-page-nav class="pageNav"
             [pages]="pageList" [currentPageIndex]="currentPageIndex"
             (navToPage)="gotoPage($event)"
             (navPrevious)="gotoPreviousPage()"
             (navNext)="gotoNextPage()">
</tc-page-nav>

<mat-card appearance="outlined" *ngIf="errorText" [style.width.px]="700" [style.margin]="'auto'">
  <mat-card-header>
    <mat-card-title>Fehler!</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <tc-alert level="error" [text]="errorText"></tc-alert>
  </mat-card-content>
</mat-card>
