<div class="page-header">
  <p>{{mds.appTitle$ | async}} {{mds.appSubTitle$ | async}} - {{groupLabel}}</p>
  <span class="fill-remaining-space"></span>
  <p>
    <span *ngIf="connectionStatus$ | async as connectionStatus">

      <span [class]="connectionStatus + ' connection-status'" style="color:white">
        <mat-icon>
          {{connectionStatus === 'error' ? 'error' : ''}}
          {{connectionStatus === 'polling-fetch' ? 'loop' : ''}}
          {{connectionStatus === 'polling-sleep' ? 'loop' : ''}}
          {{connectionStatus === 'ws-offline' ? 'loop' : ''}}
          {{connectionStatus === 'ws-online' ? 'wifi_tethering' : ''}}
        </mat-icon>
        {{connectionStatus === 'error' ? 'Offline' : ''}}
        {{connectionStatus === 'polling-fetch' ? 'Online' : ''}}
        {{connectionStatus === 'polling-sleep' ? 'Online' : ''}}
        {{connectionStatus === 'ws-offline' ? 'Reconn.' : ''}}
        {{connectionStatus === 'ws-online' ? 'Live' : ''}}
      </span>
    </span>
  </p>
</div>

<mat-menu #rootMenu="matMenu">
  <button mat-menu-item [matMenuTriggerFor]="filters" data-cy="GM_filter_button">
    {{'Sitzungen ausblenden' | customtext:'gm_menu_filter' | async}}
  </button>
  <button mat-menu-item [matMenuTriggerFor]="group" data-cy="GM_columns_button">
    {{'Spalten' | customtext:'gm_menu_cols' | async}}
  </button>
  <button mat-menu-item [matMenuTriggerFor]="activity" data-cy="GM_activity_button">
    {{'Aktivität' | customtext:'gm_menu_activity' | async}}
  </button>
</mat-menu>

<mat-menu #filters="matMenu">
  <ng-container *ngFor="let fo of tsm.filterOptions | keyvalue : sortFilterMenuEntries let i = index">
    <button mat-menu-item *ngIf="fo.value.source !== 'quick'" (click)="tsm.switchFilter(fo.key)" [attr.data-cy]="'GM_filter_option_button-' + i">
      <mat-icon
        *ngIf="fo.value.selected"
        class="in-menu-icon"
      >check</mat-icon>
      <div
        class="menu-filter-label"
        [style.padding-right.px]="27"
      >
        {{fo.value.filter.label | customtext:fo.value.filter.label | async}}
      </div>
      <mat-icon
        *ngIf="fo.value.source != 'base'"
        class="in-menu-icon right"
        (click)="$event.stopPropagation(); editFilter(fo.key)"
      >edit</mat-icon>
    </button>
  </ng-container>
  <hr>
  <button mat-menu-item (click)="addFilter()" data-cy="GM_add_filter_button">
    <mat-icon>add</mat-icon>
    <span>{{'Eigenen Filter hinzufügen' | customtext:'gm_add_custom_filter' | async}}</span>
  </button>
</mat-menu>

<mat-menu #group="matMenu">
  <button mat-menu-item (click)="setDisplayOption('groupColumn', (displayOptions.groupColumn === 'hide') ? 'show' : 'hide')" data-cy="GM_column_group_button">
    <mat-icon *ngIf="displayOptions.groupColumn === 'show'" data-cy="GM_columns_checked_group">check</mat-icon>
    <span>{{'Gruppe' | customtext:'gm_col_group' | async}}</span>
  </button>
  <button mat-menu-item (click)="setDisplayOption('bookletColumn', (displayOptions.bookletColumn === 'hide') ? 'show' : 'hide')" data-cy="GM_column_booklet_button">
    <mat-icon *ngIf="displayOptions.bookletColumn === 'show'" data-cy="GM_columns_checked_booklet">check </mat-icon>
    <span>{{'Testheft' | customtext:'gm_col_booklet' | async}}</span>
  </button>
  <button mat-menu-item (click)="setDisplayOption('blockColumn', (displayOptions.blockColumn === 'hide') ? 'show' : 'hide')" data-cy="GM_column_block_button">
    <mat-icon *ngIf="displayOptions.blockColumn === 'show'" data-cy="GM_columns_checked_block">check</mat-icon>
    <span>{{'Block' | customtext:'gm_col_testlet' | async}}</span>
  </button>
  <button mat-menu-item (click)="setDisplayOption('unitColumn', (displayOptions.unitColumn === 'hide') ? 'show' : 'hide')" data-cy="GM_column_unit_button">
    <mat-icon *ngIf="displayOptions.unitColumn === 'show'" data-cy="GM_columns_checked_unit">check</mat-icon>
    <span>{{'Aufgabe' | customtext:'gm_col_unit' | async}}</span>
  </button>
  <ng-container *ngFor="let bookletState of bookletStates | keyvalue; let i = index">
    <button 
      mat-menu-item (click)="toggleBookletStatesColumn(bookletState.key)" 
      [attr.data-cy]="'GM_columns_state_button-' + i" > 
      <mat-icon *ngIf="displayOptions.bookletStatesColumns.includes(bookletState.key)" [attr.data-cy]="'GM_columns_checked_state-' + i">check</mat-icon>
      <span>{{'Zustände' | customtext:'gm_col_states' | async}} {{bookletState.value}}</span>
    </button>
  </ng-container>
</mat-menu>

<mat-menu #activity="matMenu">
  <button mat-menu-item (click)="setDisplayOption('view', 'full')" data-cy="GM_display_option_full">
    <mat-icon *ngIf="displayOptions.view === 'full'" data-cy="GM_view_checked_full">check</mat-icon>
    <span>{{'Vollständig' | customtext:'gm_view_full' | async}}</span>
  </button>
  <button mat-menu-item (click)="setDisplayOption('view', 'medium')" data-cy="GM_display_option_medium">
    <mat-icon *ngIf="displayOptions.view === 'medium'" data-cy="GM_view_checked_medium">check</mat-icon>
    <span>{{'Nur Blöcke' | customtext:'gm_view_medium' | async}}</span>
  </button>
  <button mat-menu-item (click)="setDisplayOption('view', 'small')" data-cy="GM_display_option_short">
    <mat-icon *ngIf="displayOptions.view === 'small'" data-cy="GM_view_checked_small">check</mat-icon>
    <span>{{'Kurz' | customtext:'gm_view_small' | async}}</span>
  </button>
</mat-menu>

<div class="page-body">

  <mat-sidenav-container>
    <mat-sidenav #sidenav opened="true" mode="side" class="toolbar" fixedInViewport="true" fixedTopGap="55">

      <h2>{{'Test-Steuerung' | customtext:'gm_controls' | async}}</h2>

      <div class="toolbar-section" *ngIf="tsm.sessionsStats$ | async as sessionsStats">
        <mat-slide-toggle
            color="accent"
            data-cy="GM_control_all_tests"
            (change)="toggleAlwaysCheckAll($event)"
            [disabled]="!tsm.checkingOptions.enableAutoCheckAll"
            [checked]="tsm.checkingOptions.autoCheckAll"
            [matTooltipDisabled]="sessionsStats.differentBookletSpecies <= 1"
            matTooltip="{{
            'Die verwendeten Booklets sind zu unterschiedlich, um gemeinsam gesteuert zu werden.'
              | customtext:'gm_multiple_booklet_species_warning'
              | async}}"
        >
          {{'Alle Tests gleichzeitig steuern' | customtext:'gm_auto_checkall' | async }}
        </mat-slide-toggle>
      </div>

      <div class="toolbar-section min-height-section">
        <ng-container *ngIf="displayOptions.manualChecking">
          <ng-container *ngIf="tsm.checkedStats$ | async as checkedStats">
            <tc-alert
              *ngIf="checkedStats.numberOfSessions; else noCheckedSession"
              level="info"
              customtext="gm_selection_info"
              text="%s %s Test%s mit %s Testheft%s ausgewählt."
              [replacements]="[
                (checkedStats.allChecked ? ' Alle' : ''),
                checkedStats.numberOfSessions.toString(10),
                (checkedStats.numberOfSessions !== 1 ? 's' : ''),
                checkedStats.differentBooklets.toString(10),
                (checkedStats.differentBooklets !== 1 ? 'en' : '')
              ]"
            ></tc-alert>
            <ng-template #noCheckedSession>
              <tc-alert level="info" customtext="gm_selection_info_none" text="Kein Test ausgewählt."></tc-alert>
            </ng-template>
          </ng-container>
        </ng-container>
      </div>

      <div class="toolbar-section">
        <button mat-raised-button class="control" data-cy="GM_forward_button" color="primary" (click)="tsm.testCommandResume()">
          <mat-icon>play_arrow</mat-icon>
          {{'weiter' | customtext:'gm_control_resume' | async}}
        </button>

        <button mat-raised-button class="control" data-cy="GM_pause_button" color="primary" (click)="tsm.testCommandPause()">
          <mat-icon>pause</mat-icon>
          {{'pause' | customtext:'gm_control_pause' | async}}
        </button>
      </div>

      <div class="toolbar-section">
        <button
          mat-raised-button
          class="control"
          data-cy="GM_jump_button"
          color="primary"
          (click)="testCommandGoto()"
          matTooltip="{{currentlySelected?.element?.blockId ? null : ('Bitte Block auswählen' | customtext:'gm_control_goto_tooltip' | async)}}"
        >
          <mat-icon>arrow_forward</mat-icon>
          {{'Springe zu' | customtext:'gm_control_goto' | async}}
          <span class="emph" *ngIf="currentlySelected?.element?.blockId">{{'Block' | customtext:'gm_col_testlet' | async}} {{currentlySelected?.element?.blockId}}</span>
        </button>
      </div>

      <div class="toolbar-section">
        <button
          mat-raised-button
          class="control"
          data-cy="GM_lock_button"
          color="primary"
          (click)="unlockCommand()"
          matTooltip="{{'Freigeben' | customtext:'gm_control_unlock_tooltip' | async}}"
        >
          <mat-icon>lock_open</mat-icon>
          {{'Test Entsperren' | customtext:'gm_control_unlock' | async}}
        </button>
      </div>

      <div id="message-panel" class="toolbar-section">
        <tc-alert
          *ngFor="let m of messages"
          [text]="m.text"
          [level]="m.level"
          customtext="m.customtext"
          [replacements]="m.replacements || []"
        ></tc-alert>
      </div>

      <div class="toolbar-section-bottom">
        <div class="toolbar-section">
          <button mat-raised-button class="control" data-cy="GM_end_button" color="primary" (click)="finishEverythingCommand()">
            <mat-icon>stop</mat-icon>{{'Testung beenden' | customtext:'gm_control_finish_everything' | async}}
          </button>
        </div>
      </div>

    </mat-sidenav>

    <mat-sidenav-content>

      <div #adminbackground class="adminbackground" (scroll)="updateScrollHint()">

        <div class="corner-menu">

          <input
            *ngIf="quickFilterBoxOpen"
            type="text"
            placeholder="Teilnehmer suchen"
            [(ngModel)]="quickFilter"
            (ngModelChange)="quickFilterOnUpdateModel()"
            (focusout)="quickFilterOnFocusOut()"
            [cdkTrapFocusAutoCapture]="quickFilterBoxOpen"
            [cdkTrapFocus]="quickFilterBoxOpen"
          >

          <button
            class="search-button"
            data-cy="GM_search_button"
            mat-icon-button
            (click)="toggleQuickFilterBox()"
            matTooltip="{{'Suche Teilnehmer' | customtext:'gm_search_testtaker' | async}}"
            matTooltipPosition="above"
          >
            <mat-icon>search</mat-icon>
          </button>
          <button
            class="settings-button"
            data-cy="GM_setting_button"
            mat-icon-button
            [matMenuTriggerFor]="rootMenu"
            matTooltip="{{'Ansicht' | customtext:'gm_settings_tooltip' | async}}"
            matTooltipPosition="above"
          >
            <mat-icon>settings</mat-icon>
          </button>
        </div>

        <div class="scroll-hint" *ngIf="isScrollable">
          <button
            mat-icon-button
            (click)="scrollDown()"
            matTooltip="{{'Ganz nach unten' | customtext:'gm_scroll_down' | async}}"
            matTooltipPosition="above"
          >
            <mat-icon>keyboard_arrow_down</mat-icon>
          </button>
        </div>

        <div class="test-session-table-wrapper">
          <table class="test-session-table" matSort (matSortChange)="setTableSorting($event)">
            <thead>
              <tr class="mat-sort-container">
                <td mat-sort-header="_checked" *ngIf="displayOptions.manualChecking">
                  <mat-checkbox
                    *ngIf="tsm.checkedStats$ | async as checkedStats"
                    (click)="$event.stopPropagation()"
                    (change)="toggleCheckAll($event)"
                    [checked]="checkedStats.allChecked"
                    (contextmenu)="invertChecked($event)"
                  ></mat-checkbox>
                </td>
                <td mat-sort-header="_superState">
                  <mat-icon>person</mat-icon>
                </td>
                <td mat-sort-header="groupLabel" *ngIf="displayOptions.groupColumn === 'show'">
                  {{'Gruppe' | customtext:'gm_col_group' | async}}
                </td>
                <td mat-sort-header="personLabel">
                  {{'Teilnehmer' | customtext:'gm_col_person' | async}}
                </td>
                <td mat-sort-header="bookletName" *ngIf="displayOptions.bookletColumn === 'show'">
                  {{'Testheft' | customtext:'gm_col_booklet' | async}}
                </td>
                <td mat-sort-header="_currentBlock" *ngIf="displayOptions.blockColumn === 'show'">
                  {{'Block' | customtext:'gm_col_testlet' | async}}
                </td>
                <td mat-sort-header="timestamp">
                  {{'Aktivität' | customtext:'gm_col_activity' | async}}
                </td>
                <td mat-sort-header="_currentUnit" *ngIf="displayOptions.unitColumn === 'show'">
                  {{'Aufgabe' | customtext:'gm_col_unit' | async}}
                </td>

                <ng-container *ngFor="let bookletState of bookletStates | keyvalue">
                  <td
                    *ngIf="displayOptions.bookletStatesColumns.includes(bookletState.key)"
                    mat-sort-header="bookletState:{{bookletState.key}}">
                    {{ bookletState.value }}
                  </td>
                </ng-container>
              </tr>
            </thead>

            <ng-container *ngFor="let session of tsm.sessions$ | async; trackBy: trackSession">
              <tc-test-session
                [class]="session.state"
                [testSession]="session"
                [displayOptions]="displayOptions"
                [marked]="CurrentlyMarked"
                (markedElement$)="markElement($event)"
                [selected]="currentlySelected"
                (selectedElement$)="selectElement($event)"
                [checked]="tsm.isChecked(session)"
                (checked$)="toggleChecked(session)"
                [ngStyle]="{background: getSessionColor(session)}"
                [bookletStates]="bookletStates"
              >
              </tc-test-session>
            </ng-container>
          </table>
        </div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>

  <button
    class="drawer-button-close"
    mat-icon-button
    (click)="sidenav.toggle()"
    matTooltip=""
    matTooltipPosition="right"
  >
    <mat-icon>chevron_right</mat-icon>
  </button>

  <button
    *ngIf="sidenav.opened"
    class="drawer-button-open"
    mat-icon-button
    (click)="sidenav.toggle()"
    matTooltip="{{'Test-Steuerung verbergen' | customtext:'gm_hide_controls_tooltip' | async}}"
    matTooltipPosition="above"
  >
    <mat-icon>chevron_left</mat-icon>
  </button>

</div>

<div id="shield" *ngIf="isClosing"></div>
<mat-card id="shield-child" appearance="raised" *ngIf="isClosing">
  <mat-card-content>
    Alle Tests werden beendet. Bitte warten...
  </mat-card-content>
</mat-card>
