:host {
  height: 100%;
  flex: 1;
  display: flex;
}

.adminbackground {
  box-shadow: 5px 10px 20px black;
  background-color: white;
  margin: 0 0 0 15px;
  padding: 15px 15px 10px 15px;
  scroll-behavior: smooth;
  height: 100%;
}

.mat-drawer-content {
  overflow: unset;
}

.mat-drawer-container {
  flex: 1;
}

.mat-drawer {
  margin: 15px 0 0 0;
  padding: 1em;
}

.connection-status {
  text-transform: uppercase;
  color: white;
  width: 100px;
  padding: 2px 10px;
  border-radius: 50px;

  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3px;
}

.connection-status mat-icon {
  margin-right: 10px;
}

.connection-status.error {
  background: #821123
}

.connection-status.ws-offline {
  background: orange;
}

.connection-status.ws-online {
  animation-name: pulse;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.connection-status.polling-fetch,
.connection-status.polling-sleep {
  position: relative;
  background-image: linear-gradient(90deg, rgba(0, 146, 0, 1) 0%, rgba(0, 199, 0, 1) 100%, rgba(0, 146, 0, 1) 200%);
  background-repeat: repeat-x;
  background-position: 0;
  animation-name: move-gradient;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

@keyframes move-gradient {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 120px;
  }
}

@keyframes pulse {
  0% {
    background: rgba(0, 199, 0, 1);
  }
  50% {
    background: rgba(0, 146, 0, 1);
  }
  100% {
    background: rgba(0, 199, 0, 1);
  }
}

.scroll-hint {
  position: fixed;
  right: 15px;
  bottom: 15px;
  background: #b2ff59;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  border-radius: 20px;
  height: 40px;
  width: 40px;
  line-height: 20px;
  text-align: center;
  z-index: 9000;
  color: #003333;
}

.hide-scroll-hint .scroll-hint {
  animation: fade-and-shrink 0.3s reverse forwards;
}

@keyframes fade-and-shrink {
  0% {
    opacity: 0;
    transform: scale(0)
  }

  100% {
    opacity: 1;
    transform: scale(1)
  }
}

.drawer-button-open {
  top: 50%;
  left: 320px;
  position: fixed;
  z-index: 1000;
}

.drawer-button-close {
  top: 50%;
  left: -12px;
  color: white;
  position: fixed;
  z-index: 1000;
}

.emph {
  color: #b2ff59;
  font-style: italic;
  text-transform: uppercase;
}

[disabled] .emph {
  color: #821123
}

#message-panel alert:first-of-type {
  background: #b2ff59;
  animation: fade 7s reverse forwards;
}


@keyframes fade {
  0% {
    opacity: 0.1;
  }

  100% {
    opacity: 1;
  }
}

#shield {
  position: fixed;
  background: white;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  animation: fade 4s forwards;
  z-index: 1000;
}

#shield-child {
  position: fixed;
  inset: 0px;
  width: 12rem;
  height: 5rem;
  max-width: 100vw;
  max-height: 100dvh;
  margin: auto;
  z-index: 1001;
}

.menu-entry {
  display: flex;
}

.in-menu-icon {
  min-width: 25px;
}

.in-menu-icon.right {
  right: 0;
  position: absolute;
}

.menu-filter-label {
  word-break: break-word;
}

.test-session-table-wrapper {
  overflow: auto;
  max-width: 100%;
  height: 80vh;
}

.test-session-table {
  border-collapse: collapse;
  display: table;
  width: 100%;

  thead tr td {
    position: sticky;
    top: 0;
    z-index: 2;
    background: white;
    padding-top: 15px;
    padding-bottom: 10px;
  }

  td {
    padding-left: 1em;
  }

  td[mat-sort-header="_checked"] {
     padding-left: 5px;
     position: sticky;
     left: 0;
     z-index: 3;
     background: white;
   }

}

.corner-menu {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 10000;
  border-bottom-left-radius: 10px;
  background: white;
  display: flex;
}

.corner-menu input[type="text"] {
  margin: 1em;
}

.toolbar {
  padding: 15px;
}

.toolbar h2 {
  margin-top: 0;
}

.toolbar .mat-mdc-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}

.toolbar-section {
  margin-bottom: 1em
}

.toolbar .control ~ .control {
  margin-left: 15px;
}

.min-height-section {
  min-height: 3em;
}

.toolbar-section-bottom {
  position: absolute;
  bottom: 0;
}

