@use '@angular/material' as mat;
@use 'base-palettes' as base-palettes;

@use './themes';

html {
  @include mat.theme((
    color: (
      primary: base-palettes.$primary-palette,
      tertiary: base-palettes.$tertiary-palette
    ),
    typography: Roboto,
    density: 0,
  ));
}

body {
  color-scheme: light;
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);
}
